docs/templates/ghl/clara-tools-ghl.json
{"updatedAt":"2026-02-23T23:55:06.564Z","createdAt":"2026-02-22T14:59:08.014Z","id":"9WiGRcRs1An2afbk","name":"[TRIADEFLOW] Clara Tools - GHL","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,300],"id":"trigger-001","name":"Trigger"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,100],"id":"http-buscar-001","name":"GHL Buscar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar Contato').item.json.contact.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,100],"id":"http-opp-001","name":"GHL Buscar Oportunidade","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"jsCode":"// Format response for AI agent\nconst contact = $('GHL Buscar Contato').item.json.contact || null;\nconst opps = $('GHL Buscar Oportunidade').item.json.opportunities || [];\n\nif (!contact) {\n  return [{ json: {\n    resultado: \"Contato não encontrado no GHL para este número.\",\n    encontrado: false\n  }}];\n}\n\nconst opp = opps.length > 0 ? opps[0] : null;\n\nreturn [{ json: {\n  resultado: \"Contato encontrado no GHL.\",\n  encontrado: true,\n  contact_id: contact.id,\n  nome: contact.firstName + (contact.lastName ? ' ' + contact.lastName : ''),\n  telefone: contact.phone,\n  email: contact.email || '',\n  tags: (contact.tags || []).join(', '),\n  empresa: contact.companyName || '',\n  oportunidade_id: opp ? opp.id : '',\n  etapa_atual: opp ? opp.pipelineStageId : '',\n  status_oportunidade: opp ? opp.status : '',\n  campos_personalizados: JSON.stringify(contact.customFields || [])\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,100],"id":"code-format-buscar","name":"Formatar Busca"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,300],"id":"http-buscar-qual","name":"GHL Buscar p/ Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Trigger').item.json;\n  const currentContact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n\n  // Field key → ID mapping (all custom fields)\n  const FIELD_MAP = {\n    // Clara SDR folder (existing)\n    'contact.motivo_do_contato': 'TR3Vm3CaJxacC5YoUIk7',\n    'contact.inteno_do_contato': 'uNRkrBpPuZrQTSlBmsKJ',\n    'contact.recado_para_o_alex': '2H2m5zrgYS6ir8oRLH56',\n    'contact.interesse_em_call': '70lkhTcpvWfWEWW2MuOy',\n    'contact.cidade_de_origem': 'is5HRLJgOFlVnoxphUaD',\n    'contact.status_da_triagem': 'jNyBMcGuFiJBqyU1kpez',\n    // New BANT fields\n    'contact.orcamento_disponivel': 'fkLIh5OfKUVrgY8HNl4F',\n    'contact.tomador_de_decisao': 'Z0ivIxeEY6EdkAWXso6R',\n    'contact.cargo_funcao': 'gLhA9xitj9OAquvkhi7r',\n    'contact.nivel_de_urgencia': 'Po7SvgZCfAKXnpAA7EpH',\n    'contact.dor_principal': 'bAE3mom51c5VLYLkx2vf',\n    'contact.dores_secundarias': 'PIt0kgxnYUPS2X1NPXUk',\n    'contact.servicos_de_interesse': 'WifNmxMMjNvDbh2eZJBc',\n    'contact.nivel_de_qualificacao': 'ZddGReinAY6LDVel1IJR',\n    // Empresa fields\n    'contact.nome_da_empresa': 'xtbLyHsLONEmVlk0VZ4o',\n    'contact.segmento_de_atuacao': 'rErVj0xyvrpQsZp9HvHt',\n    'contact.porte_da_empresa': '2rLsAEQAbAgYcv8zdm46',\n    'contact.tamanho_equipe_comercial': 'xkulZEOjJav4ut9zxyqE',\n    'contact.website_lead': 'v538dN4nOoUtnL7ahJMN',\n    // Intelligence fields\n    'contact.crm_atual': 'iP1CSOBvtsWTmKDNBNiW',\n    'contact.ferramentas_atuais': 'OqLC24qYLf1LjcPHTCvv',\n    // Observer fields\n    'contact.sentimento_do_lead': 'YBXm71nJvFiKUC6hQlmI',\n    'contact.nivel_de_engajamento': '65P9c4VOuAMZwE1mIMZA',\n    'contact.objecoes_identificadas': 'NdZHehrcMytawSnTbK5M',\n    'contact.sinais_de_compra': 'rInSxC0Dj7osTsNuaKns',\n    'contact.score_qualidade_conversa': 'SjqpxeydJX2VWkDjo7eM',\n    'contact.resumo_da_conversa': 'YiByDPHpLCpsDovGSg13',\n    'contact.palavraschave_detectadas': 'K5nybAiaUfy6lKBwWVji',\n    // Process fields\n    'contact.data_primeiro_contato': 'vwrT4g7wVC2Yay7eXaNT',\n    'contact.data_qualificacao': 'GNOazCpwp1IrsxtL8z1P',\n    'contact.data_agendamento_diagnostico': 'rCbwNyjazuKwIqxdsBV2',\n    'contact.concorrentes_mencionados': 't951yaMzcdGyGJyp3FZ6',\n    'contact.motivo_de_perda': 'zCrz11tvcDdtUUtXdQjJ',\n    'contact.probabilidade_de_fechamento': 'xkPUXjYT4skmaUnl6uvX',\n    'contact.satisfacao_com_solucao_atual': 'vQnW4KbFkF7vlWmNlwif',\n    // Marketing existing\n    'contact.origem_lead': 'Z9o1MsklMhLlc4WHZBcM',\n    'contact.instagram': 'NBJedRcLNOIrOmlHFBSo'\n  };\n\n  const body = {};\n\n  // Merge tags\n  if (input.tags) {\n    const newTags = input.tags.split(',').map(t => t.trim()).filter(t => t);\n    body.tags = [...new Set([...currentTags, ...newTags])];\n  }\n\n  // Process custom fields\n  if (input.campos) {\n    try {\n      const campos = typeof input.campos === 'string' ? JSON.parse(input.campos) : input.campos;\n      const customFields = [];\n\n      for (const [key, value] of Object.entries(campos)) {\n        if (value === null || value === undefined || value === '') continue;\n\n        // Resolve key to field ID\n        let fieldKey = key.startsWith('contact.') ? key : 'contact.' + key;\n        const fieldId = FIELD_MAP[fieldKey];\n\n        if (fieldId) {\n          customFields.push({ id: fieldId, field_value: value });\n        } else {\n          // Fallback: try key format for unknown fields\n          customFields.push({ key: fieldKey, field_value: value });\n        }\n      }\n\n      if (customFields.length > 0) body.customFields = customFields;\n    } catch(e) { /* skip if invalid JSON */ }\n  }\n\n  if (input.nome_contato) {\n    const parts = input.nome_contato.trim().split(' ');\n    body.firstName = parts[0];\n    if (parts.length > 1) body.lastName = parts.slice(1).join(' ');\n  }\n\n  if (input.empresa) body.companyName = input.empresa;\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"id":"http-update-contact","name":"GHL Atualizar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\nconst updateResult = $('GHL Atualizar Contato').item.json;\n\nreturn [{ json: {\n  resultado: \"Lead qualificado com sucesso no GHL.\",\n  contact_id: contact.id,\n  tags_atualizadas: updateResult.contact ? (updateResult.contact.tags || []).join(', ') : 'atualizado',\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,300],"id":"code-format-qual","name":"Formatar Qualificação"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,520],"id":"http-buscar-transf","name":"GHL Buscar p/ Transferir","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Transferir').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const currentContact = $('GHL Buscar p/ Transferir').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n  const input = $('Trigger').item.json;\n\n  // Remove \"Em Atendimento IA\" and \"Clara SDR\", add \"Qualificado\" and \"Transferido Humano\"\n  let tags = currentTags.filter(t =>\n    t !== 'Em Atendimento IA' && t !== 'Clara SDR'\n  );\n  tags.push('Qualificado');\n  tags.push('Transferido Humano');\n  tags = [...new Set(tags)];\n\n  const body = { tags };\n\n  // Add resumo as note if provided\n  if (input.resumo) {\n    body.companyName = currentContact.companyName || '';\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,520],"id":"http-transfer-tags","name":"GHL Tags Transferência","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"=LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar p/ Transferir').item.json.contact.id }}"},{"name":"pipeline_id","value":"SdaTWIsioZOKhNrj2ecF"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,520],"id":"http-opp-transf","name":"GHL Oportunidade p/ Mover","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $('GHL Oportunidade p/ Mover').item.json.opportunities[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Trigger').item.json;\n  const body = {};\n\n  // Move to next stage if provided\n  if (input.stage_id) {\n    body.pipelineStageId = input.stage_id;\n  }\n\n  // Add notes\n  if (input.resumo) {\n    body.name = input.resumo.substring(0, 100);\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,520],"id":"http-move-stage","name":"GHL Mover Etapa","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Transferir').item.json.contact || {};\nconst tagResult = $('GHL Tags Transferência').item.json;\n\nlet oppMoved = false;\ntry {\n  const oppResult = $('GHL Mover Etapa').item.json;\n  oppMoved = !!oppResult.opportunity;\n} catch(e) {}\n\nreturn [{ json: {\n  resultado: \"Lead transferido para atendimento humano com sucesso. Tags atualizadas: 'Qualificado' e 'Transferido Humano' adicionadas. Tag 'Em Atendimento IA' removida.\" + (oppMoved ? \" Oportunidade movida para próxima etapa.\" : \"\"),\n  contact_id: contact.id,\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,520],"id":"code-format-transf","name":"Formatar Transferência"},{"parameters":{"content":"## 🔧 [TRIADEFLOW] Clara Tools - GHL\n\nSub-workflow de ferramentas para o agente Clara SDR.\n\n**Ações disponíveis:**\n- `buscar_contato` - Busca contato por telefone no GHL\n- `qualificar_lead` - Atualiza tags e campos do contato\n- `transferir_humano` - Transfere para atendimento humano\n\n**Parâmetros de entrada:**\n- `acao` (obrigatório)\n- `phone` (obrigatório)\n- `location_id` (obrigatório)\n- `pipeline_id`\n- `tags` (separadas por vírgula)\n- `campos` (JSON de custom fields)\n- `stage_id` (ID da etapa destino)\n- `resumo` (resumo da qualificação)","height":400,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,60],"id":"sticky-tools-info","name":"Info"},{"id":"http-buscar-agendar","name":"GHL Buscar p/ Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,800],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"query","value":"={{ (() => { try { const p = JSON.parse($json.query || \"{}\"); return p.phone || \"\"; } catch(e) { return $json.query || \"\"; } })() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"http-free-slots","name":"GHL Slots Disponíveis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,800],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/calendars/afd4NA6ULMKfs8VDlaAs/free-slots","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startDate","value":"={{ (() => { const d = $('Trigger').item.json.data_preferida ? new Date($('Trigger').item.json.data_preferida + 'T00:00:00-03:00') : new Date(); return d.getTime(); })() }}"},{"name":"endDate","value":"={{ (() => { const d = $('Trigger').item.json.data_preferida ? new Date($('Trigger').item.json.data_preferida + 'T00:00:00-03:00') : new Date(); d.setDate(d.getDate() + 5); return d.getTime(); })() }}"},{"name":"timezone","value":"America/Sao_Paulo"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"code-agendar","name":"Processar Agendamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,800],"parameters":{"jsCode":"// Process scheduling: find matching slot and prepare appointment\n// IMPORTANT: Trigger only receives { query: \"...\" } from the AI agent\n// The query may be a JSON string with phone, data_preferida, horario_preferido\nconst triggerRaw = $('Trigger').first().json;\n\n// Booking link fallback (GHL calendar widget)\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\n\n// Parse the query - it may be a JSON string or plain text\nlet params = {};\ntry {\n  if (typeof triggerRaw.query === 'string') {\n    params = JSON.parse(triggerRaw.query);\n  }\n} catch (e) {\n  params = { query: triggerRaw.query || '' };\n}\n\n// Extract fields from parsed params or direct trigger fields\nconst phone = params.phone || triggerRaw.phone || '';\nconst dataPref = params.data_preferida || triggerRaw.data_preferida || '';\nconst horaPref = params.horario_preferido || triggerRaw.horario_preferido || '';\nconst nomeContato = params.nome_contato || triggerRaw.nome_contato || '';\n\n// Hardcoded IDs\nconst calendarId = 'afd4NA6ULMKfs8VDlaAs';\nconst locationId = 'LImTvhcHSBl9dFiTTZfD';\n\n// Get contact from search\nconst contactData = $('GHL Buscar p/ Agendar').first().json;\nlet contactId = null;\nif (contactData.contacts && contactData.contacts.length > 0) {\n  contactId = contactData.contacts[0].id;\n} else if (contactData.contact && contactData.contact.id) {\n  contactId = contactData.contact.id;\n}\n\n// Parse available slots from GHL\nconst slotsData = $('GHL Slots Disponíveis').first().json;\nconst allSlots = [];\nfor (const [date, dateSlots] of Object.entries(slotsData)) {\n  if (date === 'traceId' || date === '_metadata') continue;\n  if (dateSlots && dateSlots.slots && Array.isArray(dateSlots.slots)) {\n    dateSlots.slots.forEach(s => allSlots.push({ date, time: s }));\n  } else if (Array.isArray(dateSlots)) {\n    dateSlots.forEach(s => allSlots.push({ date, time: s }));\n  }\n}\n\n// === FALLBACK: No contact found → send booking link ===\nif (!contactId) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'Para agendar seu diagnóstico gratuito, é só clicar aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// === FALLBACK: No slots available → send booking link ===\nif (allSlots.length === 0) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'No momento os horários estão atualizando. Você pode escolher o melhor horário direto aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Try to find matching slot\nlet selectedSlot = null;\nif (dataPref && horaPref) {\n  const prefHour = parseInt(horaPref.split(':')[0]);\n  const prefMin = parseInt(horaPref.split(':')[1] || '0');\n\n  const daySlots = allSlots.filter(s => s.date === dataPref || (typeof s.time === 'string' && s.time.startsWith(dataPref)));\n  if (daySlots.length > 0) {\n    let closest = daySlots[0];\n    let minDiff = Infinity;\n    for (const s of daySlots) {\n      const slotTime = new Date(s.time);\n      const slotHours = slotTime.getUTCHours() - 3; // BRT = UTC-3\n      const slotMins = slotTime.getUTCMinutes();\n      const diff = Math.abs((slotHours * 60 + slotMins) - (prefHour * 60 + prefMin));\n      if (diff < minDiff) { minDiff = diff; closest = s; }\n    }\n    selectedSlot = closest;\n  }\n} else if (dataPref) {\n  const daySlots = allSlots.filter(s => s.date === dataPref);\n  if (daySlots.length > 0) selectedSlot = daySlots[0];\n}\n\n// If no match, offer available slots\nif (!selectedSlot) {\n  const topSlots = allSlots.slice(0, 8).map(s => {\n    const d = new Date(s.time);\n    return d.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', weekday: 'short', day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' });\n  });\n  return [{ json: {\n    action: 'offer_slots',\n    contactId,\n    message: 'Temos esses horários disponíveis: ' + topSlots.join(' | ') + '. Qual fica melhor para você?',\n    slots: topSlots,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Found a slot - prepare appointment creation\nconst startTime = new Date(selectedSlot.time);\nconst endTime = new Date(startTime.getTime() + 30 * 60 * 1000); // 30 min\n\nreturn [{ json: {\n  action: 'create_appointment',\n  contactId,\n  calendarId,\n  locationId,\n  startTime: startTime.toISOString(),\n  endTime: endTime.toISOString(),\n  title: 'Diagnóstico - ' + (nomeContato || 'Lead'),\n  appointmentStatus: 'confirmed',\n  phone,\n  nome: nomeContato\n} }];"}},{"id":"http-create-appt","name":"GHL Criar Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/calendars/events/appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"calendarId\": \"{{ $json.calendarId || 'afd4NA6ULMKfs8VDlaAs' }}\",\n  \"locationId\": \"{{ $json.locationId || 'LImTvhcHSBl9dFiTTZfD' }}\",\n  \"contactId\": \"{{ $json.contactId }}\",\n  \"startTime\": \"{{ $json.startTime }}\",\n  \"endTime\": \"{{ $json.endTime }}\",\n  \"title\": \"{{ $json.title || 'Diagnóstico Triadeflow' }}\",\n  \"appointmentStatus\": \"confirmed\",\n  \"address\": \"\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"switch-agendar","name":"Criar ou Oferecer?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2100,900],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create_appointment","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputLabel":"Criar"}]},"options":{"fallbackOutput":"extra"}}},{"id":"code-format-agendar","name":"Formatar Agendamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,700],"parameters":{"jsCode":"// Format appointment result for AI agent\nconst input = $input.first().json;\n\n// If it came from appointment creation (GHL API response)\nif (input.id || (input.calendarId && input.startTime && !input.action)) {\n  const start = new Date(input.startTime || input.start);\n  const dataFormatada = start.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric' });\n  const horaFormatada = start.toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });\n  return [{ json: {\n    sucesso: true,\n    mensagem: 'Agendamento confirmado para ' + dataFormatada + ' às ' + horaFormatada,\n    data: dataFormatada,\n    hora: horaFormatada\n  } }];\n}\n\n// If it came from fallback_link (no contact found, no slots, etc.)\nif (input.action === 'fallback_link') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    link: input.link\n  } }];\n}\n\n// If it came from offer_slots\nif (input.action === 'offer_slots') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    slots: input.slots || [],\n    link: input.link || ''\n  } }];\n}\n\n// If it came from error or unknown action\nreturn [{ json: {\n  sucesso: false,\n  mensagem: input.message || 'Nosso consultor vai entrar em contato com você em breve para combinar o melhor horário!'\n} }];"}},{"id":"if-buscar","name":"IF Buscar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-buscar-cond","leftValue":"={{ $json.acao }}","rightValue":"buscar_contato","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"if-qualificar","name":"IF Qualificar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,500],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-qualificar-cond","leftValue":"={{ $json.acao }}","rightValue":"qualificar_lead","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"if-transferir","name":"IF Transferir?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,700],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-transferir-cond","leftValue":"={{ $json.acao }}","rightValue":"transferir_humano","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"buscar-opp-qual-001","name":"Buscar Opp Qualificar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"logica-opp-qual-001","name":"Lógica Pipeline Qualificar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"// Determine pipeline action: create opp, move stage, or skip\nconst opps = $('Buscar Opp Qualificar').first().json.opportunities || [];\nconst contact = $('GHL Buscar p/ Qualificar').first().json.contact || {};\nconst input = $('Trigger').first().json;\n\n// Parse tags sent by Clara\nconst rawTags = input.tags || '';\nconst tags = rawTags.split(',').map(t => t.trim().toLowerCase());\n\n// Pipeline constants\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_NOVO = 'e264f262-b123-424f-b102-e8057f995ddd';\nconst STAGE_SQL = 'd57e5253-5cc1-43cd-8eac-34b5ddafb8bd';\n\n// Check if Clara marked as qualified\nconst isQualificado = tags.some(t =>\n  t === 'qualificado' ||\n  t === 'sql' ||\n  t.includes('sales qualified') ||\n  t.includes('sql')\n);\n\nif (opps.length === 0) {\n  // No opportunity exists → CREATE\n  const stageId = isQualificado ? STAGE_SQL : STAGE_NOVO;\n  return [{ json: {\n    action: 'create',\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: (contact.contactName || 'Lead') + ' - Clara SDR',\n      stageId: stageId,\n      contactId: contact.id,\n      status: 'open'\n    })\n  }}];\n}\n\nconst opp = opps[0];\n\n// Only move forward, never backward\n// Novo Lead (pos 0) → Qualificado SQL (pos 1)\nif (isQualificado && opp.pipelineStageId === STAGE_NOVO) {\n  return [{ json: {\n    action: 'move',\n    method: 'PUT',\n    url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n    body: JSON.stringify({ pipelineStageId: STAGE_SQL })\n  }}];\n}\n\n// No action needed (already at right stage or not yet qualified)\nreturn [{ json: { action: 'none', method: '', url: '', body: '' } }];"}},{"id":"if-pipeline-qual-001","name":"IF Pipeline Qualificar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1300,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-pipeline-action","leftValue":"={{ $json.action }}","rightValue":"none","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"exec-pipeline-qual-001","name":"Executar Pipeline Qualificar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,200],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}}},{"id":"buscar-opp-agend-001","name":"Buscar Opp Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('Processar Agendamento').item.json.contactId }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"logica-opp-agend-001","name":"Lógica Pipeline Agendar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,700],"parameters":{"jsCode":"// Move or create opportunity at \"Diagnóstico Agendado\" stage\nconst opps = $('Buscar Opp Agendar').first().json.opportunities || [];\nconst procData = $('Processar Agendamento').first().json;\nconst contactId = procData.contactId;\nconst contactName = procData.nome || 'Lead';\n\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_AGENDADO = '8725af03-5c92-40ae-9aa1-911016275dc4';\n\nif (!contactId) {\n  // No contact → skip\n  return [{ json: { method: 'GET', url: 'https://services.leadconnectorhq.com/calendars/', body: '' } }];\n}\n\nif (opps.length === 0) {\n  // No opportunity → CREATE at Diagnóstico Agendado\n  return [{ json: {\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Diagnóstico Agendado',\n      stageId: STAGE_AGENDADO,\n      contactId: contactId,\n      status: 'open'\n    })\n  }}];\n}\n\n// Opportunity exists → MOVE to Diagnóstico Agendado\nconst opp = opps[0];\nreturn [{ json: {\n  method: 'PUT',\n  url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n  body: JSON.stringify({ pipelineStageId: STAGE_AGENDADO })\n}}];"}},{"id":"exec-pipeline-agend-001","name":"Executar Pipeline Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}}}],"connections":{"Trigger":{"main":[[{"node":"IF Buscar?","type":"main","index":0}]]},"GHL Buscar Contato":{"main":[[{"node":"GHL Buscar Oportunidade","type":"main","index":0}]]},"GHL Buscar Oportunidade":{"main":[[{"node":"Formatar Busca","type":"main","index":0}]]},"GHL Buscar p/ Qualificar":{"main":[[{"node":"GHL Atualizar Contato","type":"main","index":0}]]},"GHL Atualizar Contato":{"main":[[{"node":"Buscar Opp Qualificar","type":"main","index":0}]]},"GHL Buscar p/ Transferir":{"main":[[{"node":"GHL Tags Transferência","type":"main","index":0}]]},"GHL Tags Transferência":{"main":[[{"node":"GHL Oportunidade p/ Mover","type":"main","index":0}]]},"GHL Oportunidade p/ Mover":{"main":[[{"node":"GHL Mover Etapa","type":"main","index":0}]]},"GHL Mover Etapa":{"main":[[{"node":"Formatar Transferência","type":"main","index":0}]]},"GHL Buscar p/ Agendar":{"main":[[{"node":"GHL Slots Disponíveis","type":"main","index":0}]]},"GHL Slots Disponíveis":{"main":[[{"node":"Processar Agendamento","type":"main","index":0}]]},"Processar Agendamento":{"main":[[{"node":"Criar ou Oferecer?","type":"main","index":0}]]},"Criar ou Oferecer?":{"main":[[{"node":"GHL Criar Agendamento","type":"main","index":0}],[{"node":"Formatar Agendamento","type":"main","index":0}]]},"GHL Criar Agendamento":{"main":[[{"node":"Buscar Opp Agendar","type":"main","index":0}]]},"IF Buscar?":{"main":[[{"node":"GHL Buscar Contato","type":"main","index":0}],[{"node":"IF Qualificar?","type":"main","index":0}]]},"IF Qualificar?":{"main":[[{"node":"GHL Buscar p/ Qualificar","type":"main","index":0}],[{"node":"IF Transferir?","type":"main","index":0}]]},"IF Transferir?":{"main":[[{"node":"GHL Buscar p/ Transferir","type":"main","index":0}],[{"node":"GHL Buscar p/ Agendar","type":"main","index":0}]]},"Buscar Opp Qualificar":{"main":[[{"node":"Lógica Pipeline Qualificar","type":"main","index":0}]]},"Lógica Pipeline Qualificar":{"main":[[{"node":"IF Pipeline Qualificar?","type":"main","index":0}]]},"IF Pipeline Qualificar?":{"main":[[{"node":"Executar Pipeline Qualificar","type":"main","index":0}],[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Executar Pipeline Qualificar":{"main":[[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Buscar Opp Agendar":{"main":[[{"node":"Lógica Pipeline Agendar","type":"main","index":0}]]},"Lógica Pipeline Agendar":{"main":[[{"node":"Executar Pipeline Agendar","type":"main","index":0}]]},"Executar Pipeline Agendar":{"main":[[{"node":"Formatar Agendamento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","activeVersionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","versionCounter":65,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T14:59:08.014Z","createdAt":"2026-02-22T14:59:08.014Z","role":"workflow:owner","workflowId":"9WiGRcRs1An2afbk","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T23:55:06.567Z","createdAt":"2026-02-23T23:55:06.567Z","versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","workflowId":"9WiGRcRs1An2afbk","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,300],"id":"trigger-001","name":"Trigger"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,100],"id":"http-buscar-001","name":"GHL Buscar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar Contato').item.json.contact.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,100],"id":"http-opp-001","name":"GHL Buscar Oportunidade","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"jsCode":"// Format response for AI agent\nconst contact = $('GHL Buscar Contato').item.json.contact || null;\nconst opps = $('GHL Buscar Oportunidade').item.json.opportunities || [];\n\nif (!contact) {\n  return [{ json: {\n    resultado: \"Contato não encontrado no GHL para este número.\",\n    encontrado: false\n  }}];\n}\n\nconst opp = opps.length > 0 ? opps[0] : null;\n\nreturn [{ json: {\n  resultado: \"Contato encontrado no GHL.\",\n  encontrado: true,\n  contact_id: contact.id,\n  nome: contact.firstName + (contact.lastName ? ' ' + contact.lastName : ''),\n  telefone: contact.phone,\n  email: contact.email || '',\n  tags: (contact.tags || []).join(', '),\n  empresa: contact.companyName || '',\n  oportunidade_id: opp ? opp.id : '',\n  etapa_atual: opp ? opp.pipelineStageId : '',\n  status_oportunidade: opp ? opp.status : '',\n  campos_personalizados: JSON.stringify(contact.customFields || [])\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,100],"id":"code-format-buscar","name":"Formatar Busca"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,300],"id":"http-buscar-qual","name":"GHL Buscar p/ Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Trigger').item.json;\n  const currentContact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n\n  // Field key → ID mapping (all custom fields)\n  const FIELD_MAP = {\n    // Clara SDR folder (existing)\n    'contact.motivo_do_contato': 'TR3Vm3CaJxacC5YoUIk7',\n    'contact.inteno_do_contato': 'uNRkrBpPuZrQTSlBmsKJ',\n    'contact.recado_para_o_alex': '2H2m5zrgYS6ir8oRLH56',\n    'contact.interesse_em_call': '70lkhTcpvWfWEWW2MuOy',\n    'contact.cidade_de_origem': 'is5HRLJgOFlVnoxphUaD',\n    'contact.status_da_triagem': 'jNyBMcGuFiJBqyU1kpez',\n    // New BANT fields\n    'contact.orcamento_disponivel': 'fkLIh5OfKUVrgY8HNl4F',\n    'contact.tomador_de_decisao': 'Z0ivIxeEY6EdkAWXso6R',\n    'contact.cargo_funcao': 'gLhA9xitj9OAquvkhi7r',\n    'contact.nivel_de_urgencia': 'Po7SvgZCfAKXnpAA7EpH',\n    'contact.dor_principal': 'bAE3mom51c5VLYLkx2vf',\n    'contact.dores_secundarias': 'PIt0kgxnYUPS2X1NPXUk',\n    'contact.servicos_de_interesse': 'WifNmxMMjNvDbh2eZJBc',\n    'contact.nivel_de_qualificacao': 'ZddGReinAY6LDVel1IJR',\n    // Empresa fields\n    'contact.nome_da_empresa': 'xtbLyHsLONEmVlk0VZ4o',\n    'contact.segmento_de_atuacao': 'rErVj0xyvrpQsZp9HvHt',\n    'contact.porte_da_empresa': '2rLsAEQAbAgYcv8zdm46',\n    'contact.tamanho_equipe_comercial': 'xkulZEOjJav4ut9zxyqE',\n    'contact.website_lead': 'v538dN4nOoUtnL7ahJMN',\n    // Intelligence fields\n    'contact.crm_atual': 'iP1CSOBvtsWTmKDNBNiW',\n    'contact.ferramentas_atuais': 'OqLC24qYLf1LjcPHTCvv',\n    // Observer fields\n    'contact.sentimento_do_lead': 'YBXm71nJvFiKUC6hQlmI',\n    'contact.nivel_de_engajamento': '65P9c4VOuAMZwE1mIMZA',\n    'contact.objecoes_identificadas': 'NdZHehrcMytawSnTbK5M',\n    'contact.sinais_de_compra': 'rInSxC0Dj7osTsNuaKns',\n    'contact.score_qualidade_conversa': 'SjqpxeydJX2VWkDjo7eM',\n    'contact.resumo_da_conversa': 'YiByDPHpLCpsDovGSg13',\n    'contact.palavraschave_detectadas': 'K5nybAiaUfy6lKBwWVji',\n    // Process fields\n    'contact.data_primeiro_contato': 'vwrT4g7wVC2Yay7eXaNT',\n    'contact.data_qualificacao': 'GNOazCpwp1IrsxtL8z1P',\n    'contact.data_agendamento_diagnostico': 'rCbwNyjazuKwIqxdsBV2',\n    'contact.concorrentes_mencionados': 't951yaMzcdGyGJyp3FZ6',\n    'contact.motivo_de_perda': 'zCrz11tvcDdtUUtXdQjJ',\n    'contact.probabilidade_de_fechamento': 'xkPUXjYT4skmaUnl6uvX',\n    'contact.satisfacao_com_solucao_atual': 'vQnW4KbFkF7vlWmNlwif',\n    // Marketing existing\n    'contact.origem_lead': 'Z9o1MsklMhLlc4WHZBcM',\n    'contact.instagram': 'NBJedRcLNOIrOmlHFBSo'\n  };\n\n  const body = {};\n\n  // Merge tags\n  if (input.tags) {\n    const newTags = input.tags.split(',').map(t => t.trim()).filter(t => t);\n    body.tags = [...new Set([...currentTags, ...newTags])];\n  }\n\n  // Process custom fields\n  if (input.campos) {\n    try {\n      const campos = typeof input.campos === 'string' ? JSON.parse(input.campos) : input.campos;\n      const customFields = [];\n\n      for (const [key, value] of Object.entries(campos)) {\n        if (value === null || value === undefined || value === '') continue;\n\n        // Resolve key to field ID\n        let fieldKey = key.startsWith('contact.') ? key : 'contact.' + key;\n        const fieldId = FIELD_MAP[fieldKey];\n\n        if (fieldId) {\n          customFields.push({ id: fieldId, field_value: value });\n        } else {\n          // Fallback: try key format for unknown fields\n          customFields.push({ key: fieldKey, field_value: value });\n        }\n      }\n\n      if (customFields.length > 0) body.customFields = customFields;\n    } catch(e) { /* skip if invalid JSON */ }\n  }\n\n  if (input.nome_contato) {\n    const parts = input.nome_contato.trim().split(' ');\n    body.firstName = parts[0];\n    if (parts.length > 1) body.lastName = parts.slice(1).join(' ');\n  }\n\n  if (input.empresa) body.companyName = input.empresa;\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"id":"http-update-contact","name":"GHL Atualizar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\nconst updateResult = $('GHL Atualizar Contato').item.json;\n\nreturn [{ json: {\n  resultado: \"Lead qualificado com sucesso no GHL.\",\n  contact_id: contact.id,\n  tags_atualizadas: updateResult.contact ? (updateResult.contact.tags || []).join(', ') : 'atualizado',\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,300],"id":"code-format-qual","name":"Formatar Qualificação"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Trigger').item.json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,520],"id":"http-buscar-transf","name":"GHL Buscar p/ Transferir","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Transferir').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const currentContact = $('GHL Buscar p/ Transferir').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n  const input = $('Trigger').item.json;\n\n  // Remove \"Em Atendimento IA\" and \"Clara SDR\", add \"Qualificado\" and \"Transferido Humano\"\n  let tags = currentTags.filter(t =>\n    t !== 'Em Atendimento IA' && t !== 'Clara SDR'\n  );\n  tags.push('Qualificado');\n  tags.push('Transferido Humano');\n  tags = [...new Set(tags)];\n\n  const body = { tags };\n\n  // Add resumo as note if provided\n  if (input.resumo) {\n    body.companyName = currentContact.companyName || '';\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,520],"id":"http-transfer-tags","name":"GHL Tags Transferência","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"=LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar p/ Transferir').item.json.contact.id }}"},{"name":"pipeline_id","value":"SdaTWIsioZOKhNrj2ecF"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,520],"id":"http-opp-transf","name":"GHL Oportunidade p/ Mover","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $('GHL Oportunidade p/ Mover').item.json.opportunities[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Trigger').item.json;\n  const body = {};\n\n  // Move to next stage if provided\n  if (input.stage_id) {\n    body.pipelineStageId = input.stage_id;\n  }\n\n  // Add notes\n  if (input.resumo) {\n    body.name = input.resumo.substring(0, 100);\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,520],"id":"http-move-stage","name":"GHL Mover Etapa","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Transferir').item.json.contact || {};\nconst tagResult = $('GHL Tags Transferência').item.json;\n\nlet oppMoved = false;\ntry {\n  const oppResult = $('GHL Mover Etapa').item.json;\n  oppMoved = !!oppResult.opportunity;\n} catch(e) {}\n\nreturn [{ json: {\n  resultado: \"Lead transferido para atendimento humano com sucesso. Tags atualizadas: 'Qualificado' e 'Transferido Humano' adicionadas. Tag 'Em Atendimento IA' removida.\" + (oppMoved ? \" Oportunidade movida para próxima etapa.\" : \"\"),\n  contact_id: contact.id,\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,520],"id":"code-format-transf","name":"Formatar Transferência"},{"parameters":{"content":"## 🔧 [TRIADEFLOW] Clara Tools - GHL\n\nSub-workflow de ferramentas para o agente Clara SDR.\n\n**Ações disponíveis:**\n- `buscar_contato` - Busca contato por telefone no GHL\n- `qualificar_lead` - Atualiza tags e campos do contato\n- `transferir_humano` - Transfere para atendimento humano\n\n**Parâmetros de entrada:**\n- `acao` (obrigatório)\n- `phone` (obrigatório)\n- `location_id` (obrigatório)\n- `pipeline_id`\n- `tags` (separadas por vírgula)\n- `campos` (JSON de custom fields)\n- `stage_id` (ID da etapa destino)\n- `resumo` (resumo da qualificação)","height":400,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,60],"id":"sticky-tools-info","name":"Info"},{"id":"http-buscar-agendar","name":"GHL Buscar p/ Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,800],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"query","value":"={{ (() => { try { const p = JSON.parse($json.query || \"{}\"); return p.phone || \"\"; } catch(e) { return $json.query || \"\"; } })() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"http-free-slots","name":"GHL Slots Disponíveis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,800],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/calendars/afd4NA6ULMKfs8VDlaAs/free-slots","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startDate","value":"={{ (() => { const d = $('Trigger').item.json.data_preferida ? new Date($('Trigger').item.json.data_preferida + 'T00:00:00-03:00') : new Date(); return d.getTime(); })() }}"},{"name":"endDate","value":"={{ (() => { const d = $('Trigger').item.json.data_preferida ? new Date($('Trigger').item.json.data_preferida + 'T00:00:00-03:00') : new Date(); d.setDate(d.getDate() + 5); return d.getTime(); })() }}"},{"name":"timezone","value":"America/Sao_Paulo"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"code-agendar","name":"Processar Agendamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,800],"parameters":{"jsCode":"// Process scheduling: find matching slot and prepare appointment\n// IMPORTANT: Trigger only receives { query: \"...\" } from the AI agent\n// The query may be a JSON string with phone, data_preferida, horario_preferido\nconst triggerRaw = $('Trigger').first().json;\n\n// Booking link fallback (GHL calendar widget)\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\n\n// Parse the query - it may be a JSON string or plain text\nlet params = {};\ntry {\n  if (typeof triggerRaw.query === 'string') {\n    params = JSON.parse(triggerRaw.query);\n  }\n} catch (e) {\n  params = { query: triggerRaw.query || '' };\n}\n\n// Extract fields from parsed params or direct trigger fields\nconst phone = params.phone || triggerRaw.phone || '';\nconst dataPref = params.data_preferida || triggerRaw.data_preferida || '';\nconst horaPref = params.horario_preferido || triggerRaw.horario_preferido || '';\nconst nomeContato = params.nome_contato || triggerRaw.nome_contato || '';\n\n// Hardcoded IDs\nconst calendarId = 'afd4NA6ULMKfs8VDlaAs';\nconst locationId = 'LImTvhcHSBl9dFiTTZfD';\n\n// Get contact from search\nconst contactData = $('GHL Buscar p/ Agendar').first().json;\nlet contactId = null;\nif (contactData.contacts && contactData.contacts.length > 0) {\n  contactId = contactData.contacts[0].id;\n} else if (contactData.contact && contactData.contact.id) {\n  contactId = contactData.contact.id;\n}\n\n// Parse available slots from GHL\nconst slotsData = $('GHL Slots Disponíveis').first().json;\nconst allSlots = [];\nfor (const [date, dateSlots] of Object.entries(slotsData)) {\n  if (date === 'traceId' || date === '_metadata') continue;\n  if (dateSlots && dateSlots.slots && Array.isArray(dateSlots.slots)) {\n    dateSlots.slots.forEach(s => allSlots.push({ date, time: s }));\n  } else if (Array.isArray(dateSlots)) {\n    dateSlots.forEach(s => allSlots.push({ date, time: s }));\n  }\n}\n\n// === FALLBACK: No contact found → send booking link ===\nif (!contactId) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'Para agendar seu diagnóstico gratuito, é só clicar aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// === FALLBACK: No slots available → send booking link ===\nif (allSlots.length === 0) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'No momento os horários estão atualizando. Você pode escolher o melhor horário direto aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Try to find matching slot\nlet selectedSlot = null;\nif (dataPref && horaPref) {\n  const prefHour = parseInt(horaPref.split(':')[0]);\n  const prefMin = parseInt(horaPref.split(':')[1] || '0');\n\n  const daySlots = allSlots.filter(s => s.date === dataPref || (typeof s.time === 'string' && s.time.startsWith(dataPref)));\n  if (daySlots.length > 0) {\n    let closest = daySlots[0];\n    let minDiff = Infinity;\n    for (const s of daySlots) {\n      const slotTime = new Date(s.time);\n      const slotHours = slotTime.getUTCHours() - 3; // BRT = UTC-3\n      const slotMins = slotTime.getUTCMinutes();\n      const diff = Math.abs((slotHours * 60 + slotMins) - (prefHour * 60 + prefMin));\n      if (diff < minDiff) { minDiff = diff; closest = s; }\n    }\n    selectedSlot = closest;\n  }\n} else if (dataPref) {\n  const daySlots = allSlots.filter(s => s.date === dataPref);\n  if (daySlots.length > 0) selectedSlot = daySlots[0];\n}\n\n// If no match, offer available slots\nif (!selectedSlot) {\n  const topSlots = allSlots.slice(0, 8).map(s => {\n    const d = new Date(s.time);\n    return d.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', weekday: 'short', day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' });\n  });\n  return [{ json: {\n    action: 'offer_slots',\n    contactId,\n    message: 'Temos esses horários disponíveis: ' + topSlots.join(' | ') + '. Qual fica melhor para você?',\n    slots: topSlots,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Found a slot - prepare appointment creation\nconst startTime = new Date(selectedSlot.time);\nconst endTime = new Date(startTime.getTime() + 30 * 60 * 1000); // 30 min\n\nreturn [{ json: {\n  action: 'create_appointment',\n  contactId,\n  calendarId,\n  locationId,\n  startTime: startTime.toISOString(),\n  endTime: endTime.toISOString(),\n  title: 'Diagnóstico - ' + (nomeContato || 'Lead'),\n  appointmentStatus: 'confirmed',\n  phone,\n  nome: nomeContato\n} }];"}},{"id":"http-create-appt","name":"GHL Criar Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/calendars/events/appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"calendarId\": \"{{ $json.calendarId || 'afd4NA6ULMKfs8VDlaAs' }}\",\n  \"locationId\": \"{{ $json.locationId || 'LImTvhcHSBl9dFiTTZfD' }}\",\n  \"contactId\": \"{{ $json.contactId }}\",\n  \"startTime\": \"{{ $json.startTime }}\",\n  \"endTime\": \"{{ $json.endTime }}\",\n  \"title\": \"{{ $json.title || 'Diagnóstico Triadeflow' }}\",\n  \"appointmentStatus\": \"confirmed\",\n  \"address\": \"\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"switch-agendar","name":"Criar ou Oferecer?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2100,900],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create_appointment","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputLabel":"Criar"}]},"options":{"fallbackOutput":"extra"}}},{"id":"code-format-agendar","name":"Formatar Agendamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,700],"parameters":{"jsCode":"// Format appointment result for AI agent\nconst input = $input.first().json;\n\n// If it came from appointment creation (GHL API response)\nif (input.id || (input.calendarId && input.startTime && !input.action)) {\n  const start = new Date(input.startTime || input.start);\n  const dataFormatada = start.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric' });\n  const horaFormatada = start.toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });\n  return [{ json: {\n    sucesso: true,\n    mensagem: 'Agendamento confirmado para ' + dataFormatada + ' às ' + horaFormatada,\n    data: dataFormatada,\n    hora: horaFormatada\n  } }];\n}\n\n// If it came from fallback_link (no contact found, no slots, etc.)\nif (input.action === 'fallback_link') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    link: input.link\n  } }];\n}\n\n// If it came from offer_slots\nif (input.action === 'offer_slots') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    slots: input.slots || [],\n    link: input.link || ''\n  } }];\n}\n\n// If it came from error or unknown action\nreturn [{ json: {\n  sucesso: false,\n  mensagem: input.message || 'Nosso consultor vai entrar em contato com você em breve para combinar o melhor horário!'\n} }];"}},{"id":"if-buscar","name":"IF Buscar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-buscar-cond","leftValue":"={{ $json.acao }}","rightValue":"buscar_contato","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"if-qualificar","name":"IF Qualificar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,500],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-qualificar-cond","leftValue":"={{ $json.acao }}","rightValue":"qualificar_lead","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"if-transferir","name":"IF Transferir?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,700],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"if-transferir-cond","leftValue":"={{ $json.acao }}","rightValue":"transferir_humano","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"buscar-opp-qual-001","name":"Buscar Opp Qualificar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"logica-opp-qual-001","name":"Lógica Pipeline Qualificar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"// Determine pipeline action: create opp, move stage, or skip\nconst opps = $('Buscar Opp Qualificar').first().json.opportunities || [];\nconst contact = $('GHL Buscar p/ Qualificar').first().json.contact || {};\nconst input = $('Trigger').first().json;\n\n// Parse tags sent by Clara\nconst rawTags = input.tags || '';\nconst tags = rawTags.split(',').map(t => t.trim().toLowerCase());\n\n// Pipeline constants\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_NOVO = 'e264f262-b123-424f-b102-e8057f995ddd';\nconst STAGE_SQL = 'd57e5253-5cc1-43cd-8eac-34b5ddafb8bd';\n\n// Check if Clara marked as qualified\nconst isQualificado = tags.some(t =>\n  t === 'qualificado' ||\n  t === 'sql' ||\n  t.includes('sales qualified') ||\n  t.includes('sql')\n);\n\nif (opps.length === 0) {\n  // No opportunity exists → CREATE\n  const stageId = isQualificado ? STAGE_SQL : STAGE_NOVO;\n  return [{ json: {\n    action: 'create',\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: (contact.contactName || 'Lead') + ' - Clara SDR',\n      stageId: stageId,\n      contactId: contact.id,\n      status: 'open'\n    })\n  }}];\n}\n\nconst opp = opps[0];\n\n// Only move forward, never backward\n// Novo Lead (pos 0) → Qualificado SQL (pos 1)\nif (isQualificado && opp.pipelineStageId === STAGE_NOVO) {\n  return [{ json: {\n    action: 'move',\n    method: 'PUT',\n    url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n    body: JSON.stringify({ pipelineStageId: STAGE_SQL })\n  }}];\n}\n\n// No action needed (already at right stage or not yet qualified)\nreturn [{ json: { action: 'none', method: '', url: '', body: '' } }];"}},{"id":"if-pipeline-qual-001","name":"IF Pipeline Qualificar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1300,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-pipeline-action","leftValue":"={{ $json.action }}","rightValue":"none","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"exec-pipeline-qual-001","name":"Executar Pipeline Qualificar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,200],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}}},{"id":"buscar-opp-agend-001","name":"Buscar Opp Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('Processar Agendamento').item.json.contactId }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}}},{"id":"logica-opp-agend-001","name":"Lógica Pipeline Agendar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,700],"parameters":{"jsCode":"// Move or create opportunity at \"Diagnóstico Agendado\" stage\nconst opps = $('Buscar Opp Agendar').first().json.opportunities || [];\nconst procData = $('Processar Agendamento').first().json;\nconst contactId = procData.contactId;\nconst contactName = procData.nome || 'Lead';\n\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_AGENDADO = '8725af03-5c92-40ae-9aa1-911016275dc4';\n\nif (!contactId) {\n  // No contact → skip\n  return [{ json: { method: 'GET', url: 'https://services.leadconnectorhq.com/calendars/', body: '' } }];\n}\n\nif (opps.length === 0) {\n  // No opportunity → CREATE at Diagnóstico Agendado\n  return [{ json: {\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Diagnóstico Agendado',\n      stageId: STAGE_AGENDADO,\n      contactId: contactId,\n      status: 'open'\n    })\n  }}];\n}\n\n// Opportunity exists → MOVE to Diagnóstico Agendado\nconst opp = opps[0];\nreturn [{ json: {\n  method: 'PUT',\n  url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n  body: JSON.stringify({ pipelineStageId: STAGE_AGENDADO })\n}}];"}},{"id":"exec-pipeline-agend-001","name":"Executar Pipeline Agendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,700],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}}}],"connections":{"Trigger":{"main":[[{"node":"IF Buscar?","type":"main","index":0}]]},"GHL Buscar Contato":{"main":[[{"node":"GHL Buscar Oportunidade","type":"main","index":0}]]},"GHL Buscar Oportunidade":{"main":[[{"node":"Formatar Busca","type":"main","index":0}]]},"GHL Buscar p/ Qualificar":{"main":[[{"node":"GHL Atualizar Contato","type":"main","index":0}]]},"GHL Atualizar Contato":{"main":[[{"node":"Buscar Opp Qualificar","type":"main","index":0}]]},"GHL Buscar p/ Transferir":{"main":[[{"node":"GHL Tags Transferência","type":"main","index":0}]]},"GHL Tags Transferência":{"main":[[{"node":"GHL Oportunidade p/ Mover","type":"main","index":0}]]},"GHL Oportunidade p/ Mover":{"main":[[{"node":"GHL Mover Etapa","type":"main","index":0}]]},"GHL Mover Etapa":{"main":[[{"node":"Formatar Transferência","type":"main","index":0}]]},"GHL Buscar p/ Agendar":{"main":[[{"node":"GHL Slots Disponíveis","type":"main","index":0}]]},"GHL Slots Disponíveis":{"main":[[{"node":"Processar Agendamento","type":"main","index":0}]]},"Processar Agendamento":{"main":[[{"node":"Criar ou Oferecer?","type":"main","index":0}]]},"Criar ou Oferecer?":{"main":[[{"node":"GHL Criar Agendamento","type":"main","index":0}],[{"node":"Formatar Agendamento","type":"main","index":0}]]},"GHL Criar Agendamento":{"main":[[{"node":"Buscar Opp Agendar","type":"main","index":0}]]},"IF Buscar?":{"main":[[{"node":"GHL Buscar Contato","type":"main","index":0}],[{"node":"IF Qualificar?","type":"main","index":0}]]},"IF Qualificar?":{"main":[[{"node":"GHL Buscar p/ Qualificar","type":"main","index":0}],[{"node":"IF Transferir?","type":"main","index":0}]]},"IF Transferir?":{"main":[[{"node":"GHL Buscar p/ Transferir","type":"main","index":0}],[{"node":"GHL Buscar p/ Agendar","type":"main","index":0}]]},"Buscar Opp Qualificar":{"main":[[{"node":"Lógica Pipeline Qualificar","type":"main","index":0}]]},"Lógica Pipeline Qualificar":{"main":[[{"node":"IF Pipeline Qualificar?","type":"main","index":0}]]},"IF Pipeline Qualificar?":{"main":[[{"node":"Executar Pipeline Qualificar","type":"main","index":0}],[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Executar Pipeline Qualificar":{"main":[[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Buscar Opp Agendar":{"main":[[{"node":"Lógica Pipeline Agendar","type":"main","index":0}]]},"Lógica Pipeline Agendar":{"main":[[{"node":"Executar Pipeline Agendar","type":"main","index":0}]]},"Executar Pipeline Agendar":{"main":[[{"node":"Formatar Agendamento","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-23T23:55:06.714Z","id":501,"workflowId":"9WiGRcRs1An2afbk","versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-23T23:55:06.774Z","id":502,"workflowId":"9WiGRcRs1An2afbk","versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-23T23:55:07.193Z","id":503,"workflowId":"9WiGRcRs1An2afbk","versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-23T23:55:07.616Z","id":504,"workflowId":"9WiGRcRs1An2afbk","versionId":"d825a685-95b3-4b57-a541-5fa502ae8e47","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}