docs/templates/ghl/tool-buscar-contato.json
{"updatedAt":"2026-02-24T02:39:24.966Z","createdAt":"2026-02-24T02:01:55.779Z","id":"QoOfifqDdozJFXJb","name":"[TRIADEFLOW] Clara Tool - Buscar Contato","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Clara Tool - Buscar Contato v2\n\nBusca contato + oportunidade no GHL por telefone.\n\n**Input:** { phone }\n**Output:** { encontrado, contact_id, nome, telefone, email, tags, empresa, oportunidade_id, etapa_atual }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-buscar","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-buscar","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-buscar","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-contato","name":"GHL Buscar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar Contato').item.json.contact.id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"buscar-opp","name":"GHL Buscar Oportunidade","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Format response for AI agent\nconst contact = $('GHL Buscar Contato').item.json.contact || null;\nconst opps = $('GHL Buscar Oportunidade').item.json.opportunities || [];\n\nif (!contact) {\n  return [{ json: {\n    resultado: \"Contato não encontrado no GHL para este número.\",\n    encontrado: false\n  }}];\n}\n\nconst opp = opps.length > 0 ? opps[0] : null;\n\nreturn [{ json: {\n  resultado: \"Contato encontrado no GHL.\",\n  encontrado: true,\n  contact_id: contact.id,\n  nome: contact.firstName + (contact.lastName ? ' ' + contact.lastName : ''),\n  telefone: contact.phone,\n  email: contact.email || '',\n  tags: (contact.tags || []).join(', '),\n  empresa: contact.companyName || '',\n  oportunidade_id: opp ? opp.id : '',\n  etapa_atual: opp ? opp.pipelineStageId : '',\n  status_oportunidade: opp ? opp.status : '',\n  campos_personalizados: JSON.stringify(contact.customFields || [])\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"formatar-busca","name":"Formatar Busca"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar Contato","type":"main","index":0}]]},"GHL Buscar Contato":{"main":[[{"node":"GHL Buscar Oportunidade","type":"main","index":0}]]},"GHL Buscar Oportunidade":{"main":[[{"node":"Formatar Busca","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","activeVersionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","versionCounter":16,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T02:01:55.779Z","createdAt":"2026-02-24T02:01:55.779Z","role":"workflow:owner","workflowId":"QoOfifqDdozJFXJb","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T02:39:24.968Z","createdAt":"2026-02-24T02:39:24.968Z","versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","workflowId":"QoOfifqDdozJFXJb","nodes":[{"parameters":{"content":"## Clara Tool - Buscar Contato v2\n\nBusca contato + oportunidade no GHL por telefone.\n\n**Input:** { phone }\n**Output:** { encontrado, contact_id, nome, telefone, email, tags, empresa, oportunidade_id, etapa_atual }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-buscar","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-buscar","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-buscar","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-contato","name":"GHL Buscar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar Contato').item.json.contact.id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"buscar-opp","name":"GHL Buscar Oportunidade","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Format response for AI agent\nconst contact = $('GHL Buscar Contato').item.json.contact || null;\nconst opps = $('GHL Buscar Oportunidade').item.json.opportunities || [];\n\nif (!contact) {\n  return [{ json: {\n    resultado: \"Contato não encontrado no GHL para este número.\",\n    encontrado: false\n  }}];\n}\n\nconst opp = opps.length > 0 ? opps[0] : null;\n\nreturn [{ json: {\n  resultado: \"Contato encontrado no GHL.\",\n  encontrado: true,\n  contact_id: contact.id,\n  nome: contact.firstName + (contact.lastName ? ' ' + contact.lastName : ''),\n  telefone: contact.phone,\n  email: contact.email || '',\n  tags: (contact.tags || []).join(', '),\n  empresa: contact.companyName || '',\n  oportunidade_id: opp ? opp.id : '',\n  etapa_atual: opp ? opp.pipelineStageId : '',\n  status_oportunidade: opp ? opp.status : '',\n  campos_personalizados: JSON.stringify(contact.customFields || [])\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"formatar-busca","name":"Formatar Busca"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar Contato","type":"main","index":0}]]},"GHL Buscar Contato":{"main":[[{"node":"GHL Buscar Oportunidade","type":"main","index":0}]]},"GHL Buscar Oportunidade":{"main":[[{"node":"Formatar Busca","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T02:39:25.015Z","id":549,"workflowId":"QoOfifqDdozJFXJb","versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:25.101Z","id":550,"workflowId":"QoOfifqDdozJFXJb","versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:25.388Z","id":551,"workflowId":"QoOfifqDdozJFXJb","versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:25.713Z","id":552,"workflowId":"QoOfifqDdozJFXJb","versionId":"64f6850c-1d04-48d7-9b24-75a939a18e87","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}