docs/templates/ghl/tool-qualificar-lead.json
{"updatedAt":"2026-02-24T02:40:08.890Z","createdAt":"2026-02-24T02:01:56.133Z","id":"nCJEdMcWueFxzvRI","name":"[TRIADEFLOW] Clara Tool - Qualificar Lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Clara Tool - Qualificar Lead v2\n\nAtualiza 29 campos + tags + pipeline no GHL.\n\n**Input:** { phone, tags, campos, nome_contato, empresa }\n**Output:** { resultado, contact_id, sucesso }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-qual","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-qual","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-qual","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-qual","name":"GHL Buscar p/ Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Validar Input').item.json;\n  const currentContact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n\n  // Field key → ID mapping (all custom fields)\n  const FIELD_MAP = {\n    // Clara SDR folder (existing)\n    'contact.motivo_do_contato': 'TR3Vm3CaJxacC5YoUIk7',\n    'contact.inteno_do_contato': 'uNRkrBpPuZrQTSlBmsKJ',\n    'contact.recado_para_o_alex': '2H2m5zrgYS6ir8oRLH56',\n    'contact.interesse_em_call': '70lkhTcpvWfWEWW2MuOy',\n    'contact.cidade_de_origem': 'is5HRLJgOFlVnoxphUaD',\n    'contact.status_da_triagem': 'jNyBMcGuFiJBqyU1kpez',\n    // New BANT fields\n    'contact.orcamento_disponivel': 'fkLIh5OfKUVrgY8HNl4F',\n    'contact.tomador_de_decisao': 'Z0ivIxeEY6EdkAWXso6R',\n    'contact.cargo_funcao': 'gLhA9xitj9OAquvkhi7r',\n    'contact.nivel_de_urgencia': 'Po7SvgZCfAKXnpAA7EpH',\n    'contact.dor_principal': 'bAE3mom51c5VLYLkx2vf',\n    'contact.dores_secundarias': 'PIt0kgxnYUPS2X1NPXUk',\n    'contact.servicos_de_interesse': 'WifNmxMMjNvDbh2eZJBc',\n    'contact.nivel_de_qualificacao': 'ZddGReinAY6LDVel1IJR',\n    // Empresa fields\n    'contact.nome_da_empresa': 'xtbLyHsLONEmVlk0VZ4o',\n    'contact.segmento_de_atuacao': 'rErVj0xyvrpQsZp9HvHt',\n    'contact.porte_da_empresa': '2rLsAEQAbAgYcv8zdm46',\n    'contact.tamanho_equipe_comercial': 'xkulZEOjJav4ut9zxyqE',\n    'contact.website_lead': 'v538dN4nOoUtnL7ahJMN',\n    // Intelligence fields\n    'contact.crm_atual': 'iP1CSOBvtsWTmKDNBNiW',\n    'contact.ferramentas_atuais': 'OqLC24qYLf1LjcPHTCvv',\n    // Observer fields\n    'contact.sentimento_do_lead': 'YBXm71nJvFiKUC6hQlmI',\n    'contact.nivel_de_engajamento': '65P9c4VOuAMZwE1mIMZA',\n    'contact.objecoes_identificadas': 'NdZHehrcMytawSnTbK5M',\n    'contact.sinais_de_compra': 'rInSxC0Dj7osTsNuaKns',\n    'contact.score_qualidade_conversa': 'SjqpxeydJX2VWkDjo7eM',\n    'contact.resumo_da_conversa': 'YiByDPHpLCpsDovGSg13',\n    'contact.palavraschave_detectadas': 'K5nybAiaUfy6lKBwWVji',\n    // Process fields\n    'contact.data_primeiro_contato': 'vwrT4g7wVC2Yay7eXaNT',\n    'contact.data_qualificacao': 'GNOazCpwp1IrsxtL8z1P',\n    'contact.data_agendamento_diagnostico': 'rCbwNyjazuKwIqxdsBV2',\n    'contact.concorrentes_mencionados': 't951yaMzcdGyGJyp3FZ6',\n    'contact.motivo_de_perda': 'zCrz11tvcDdtUUtXdQjJ',\n    'contact.probabilidade_de_fechamento': 'xkPUXjYT4skmaUnl6uvX',\n    'contact.satisfacao_com_solucao_atual': 'vQnW4KbFkF7vlWmNlwif',\n    // Marketing existing\n    'contact.origem_lead': 'Z9o1MsklMhLlc4WHZBcM',\n    'contact.instagram': 'NBJedRcLNOIrOmlHFBSo'\n  };\n\n  const body = {};\n\n  // Merge tags\n  if (input.tags) {\n    const newTags = input.tags.split(',').map(t => t.trim()).filter(t => t);\n    body.tags = [...new Set([...currentTags, ...newTags])];\n  }\n\n  // Process custom fields\n  if (input.campos) {\n    try {\n      const campos = typeof input.campos === 'string' ? JSON.parse(input.campos) : input.campos;\n      const customFields = [];\n\n      for (const [key, value] of Object.entries(campos)) {\n        if (value === null || value === undefined || value === '') continue;\n\n        // Resolve key to field ID\n        let fieldKey = key.startsWith('contact.') ? key : 'contact.' + key;\n        const fieldId = FIELD_MAP[fieldKey];\n\n        if (fieldId) {\n          customFields.push({ id: fieldId, field_value: value });\n        } else {\n          // Fallback: try key format for unknown fields\n          customFields.push({ key: fieldKey, field_value: value });\n        }\n      }\n\n      if (customFields.length > 0) body.customFields = customFields;\n    } catch(e) { /* skip if invalid JSON */ }\n  }\n\n  if (input.nome_contato) {\n    const parts = input.nome_contato.trim().split(' ');\n    body.firstName = parts[0];\n    if (parts.length > 1) body.lastName = parts.slice(1).join(' ');\n  }\n\n  if (input.empresa) body.companyName = input.empresa;\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"update-contato","name":"GHL Atualizar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"buscar-opp-qual","name":"Buscar Opp Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Determine pipeline action: create opp, move stage, or skip\nconst opps = $('Buscar Opp Qualificar').first().json.opportunities || [];\nconst contact = $('GHL Buscar p/ Qualificar').first().json.contact || {};\nconst input = $('Validar Input').first().json;\n\n// Parse tags sent by Clara\nconst rawTags = input.tags || '';\nconst tags = rawTags.split(',').map(t => t.trim().toLowerCase());\n\n// Pipeline constants\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_NOVO = 'e264f262-b123-424f-b102-e8057f995ddd';\nconst STAGE_SQL = 'd57e5253-5cc1-43cd-8eac-34b5ddafb8bd';\n\n// Check if Clara marked as qualified\nconst isQualificado = tags.some(t =>\n  t === 'qualificado' ||\n  t === 'sql' ||\n  t.includes('sales qualified') ||\n  t.includes('sql')\n);\n\n// Build contact name\nconst contactName = [contact.firstName, contact.lastName].filter(Boolean).join(' ') || 'Lead';\n\nif (opps.length === 0) {\n  // No opportunity exists → CREATE (use pipelineStageId, NOT stageId)\n  const targetStage = isQualificado ? STAGE_SQL : STAGE_NOVO;\n  return [{ json: {\n    action: 'create',\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Clara SDR',\n      pipelineStageId: targetStage,\n      contactId: contact.id,\n      status: 'open'\n    })\n  }}];\n}\n\nconst opp = opps[0];\n\n// Only move forward, never backward\n// Novo Lead (pos 0) → Qualificado SQL (pos 1)\nif (isQualificado && opp.pipelineStageId === STAGE_NOVO) {\n  return [{ json: {\n    action: 'move',\n    method: 'PUT',\n    url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n    body: JSON.stringify({ pipelineStageId: STAGE_SQL })\n  }}];\n}\n\n// No action needed (already at right stage or not yet qualified)\nreturn [{ json: { action: 'none', method: '', url: '', body: '' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,200],"id":"logica-qual","name":"Lógica Pipeline Qualificar"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-pipeline-action","leftValue":"={{ $json.action }}","rightValue":"none","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,200],"id":"if-pipeline-qual","name":"IF Pipeline Qualificar?"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,100],"id":"exec-pipeline-qual","name":"Executar Pipeline Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\nconst updateResult = $('GHL Atualizar Contato').item.json;\n\nreturn [{ json: {\n  resultado: \"Lead qualificado com sucesso no GHL.\",\n  contact_id: contact.id,\n  tags_atualizadas: updateResult.contact ? (updateResult.contact.tags || []).join(', ') : 'atualizado',\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,200],"id":"formatar-qual","name":"Formatar Qualificação"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Qualificar","type":"main","index":0}]]},"GHL Buscar p/ Qualificar":{"main":[[{"node":"GHL Atualizar Contato","type":"main","index":0}]]},"GHL Atualizar Contato":{"main":[[{"node":"Buscar Opp Qualificar","type":"main","index":0}]]},"Buscar Opp Qualificar":{"main":[[{"node":"Lógica Pipeline Qualificar","type":"main","index":0}]]},"Lógica Pipeline Qualificar":{"main":[[{"node":"IF Pipeline Qualificar?","type":"main","index":0}]]},"IF Pipeline Qualificar?":{"main":[[{"node":"Executar Pipeline Qualificar","type":"main","index":0}],[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Executar Pipeline Qualificar":{"main":[[{"node":"Formatar Qualificação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","activeVersionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T02:01:56.133Z","createdAt":"2026-02-24T02:01:56.133Z","role":"workflow:owner","workflowId":"nCJEdMcWueFxzvRI","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T02:40:08.892Z","createdAt":"2026-02-24T02:40:08.892Z","versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","workflowId":"nCJEdMcWueFxzvRI","nodes":[{"parameters":{"content":"## Clara Tool - Qualificar Lead v2\n\nAtualiza 29 campos + tags + pipeline no GHL.\n\n**Input:** { phone, tags, campos, nome_contato, empresa }\n**Output:** { resultado, contact_id, sucesso }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-qual","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-qual","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-qual","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-qual","name":"GHL Buscar p/ Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Validar Input').item.json;\n  const currentContact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n\n  // Field key → ID mapping (all custom fields)\n  const FIELD_MAP = {\n    // Clara SDR folder (existing)\n    'contact.motivo_do_contato': 'TR3Vm3CaJxacC5YoUIk7',\n    'contact.inteno_do_contato': 'uNRkrBpPuZrQTSlBmsKJ',\n    'contact.recado_para_o_alex': '2H2m5zrgYS6ir8oRLH56',\n    'contact.interesse_em_call': '70lkhTcpvWfWEWW2MuOy',\n    'contact.cidade_de_origem': 'is5HRLJgOFlVnoxphUaD',\n    'contact.status_da_triagem': 'jNyBMcGuFiJBqyU1kpez',\n    // New BANT fields\n    'contact.orcamento_disponivel': 'fkLIh5OfKUVrgY8HNl4F',\n    'contact.tomador_de_decisao': 'Z0ivIxeEY6EdkAWXso6R',\n    'contact.cargo_funcao': 'gLhA9xitj9OAquvkhi7r',\n    'contact.nivel_de_urgencia': 'Po7SvgZCfAKXnpAA7EpH',\n    'contact.dor_principal': 'bAE3mom51c5VLYLkx2vf',\n    'contact.dores_secundarias': 'PIt0kgxnYUPS2X1NPXUk',\n    'contact.servicos_de_interesse': 'WifNmxMMjNvDbh2eZJBc',\n    'contact.nivel_de_qualificacao': 'ZddGReinAY6LDVel1IJR',\n    // Empresa fields\n    'contact.nome_da_empresa': 'xtbLyHsLONEmVlk0VZ4o',\n    'contact.segmento_de_atuacao': 'rErVj0xyvrpQsZp9HvHt',\n    'contact.porte_da_empresa': '2rLsAEQAbAgYcv8zdm46',\n    'contact.tamanho_equipe_comercial': 'xkulZEOjJav4ut9zxyqE',\n    'contact.website_lead': 'v538dN4nOoUtnL7ahJMN',\n    // Intelligence fields\n    'contact.crm_atual': 'iP1CSOBvtsWTmKDNBNiW',\n    'contact.ferramentas_atuais': 'OqLC24qYLf1LjcPHTCvv',\n    // Observer fields\n    'contact.sentimento_do_lead': 'YBXm71nJvFiKUC6hQlmI',\n    'contact.nivel_de_engajamento': '65P9c4VOuAMZwE1mIMZA',\n    'contact.objecoes_identificadas': 'NdZHehrcMytawSnTbK5M',\n    'contact.sinais_de_compra': 'rInSxC0Dj7osTsNuaKns',\n    'contact.score_qualidade_conversa': 'SjqpxeydJX2VWkDjo7eM',\n    'contact.resumo_da_conversa': 'YiByDPHpLCpsDovGSg13',\n    'contact.palavraschave_detectadas': 'K5nybAiaUfy6lKBwWVji',\n    // Process fields\n    'contact.data_primeiro_contato': 'vwrT4g7wVC2Yay7eXaNT',\n    'contact.data_qualificacao': 'GNOazCpwp1IrsxtL8z1P',\n    'contact.data_agendamento_diagnostico': 'rCbwNyjazuKwIqxdsBV2',\n    'contact.concorrentes_mencionados': 't951yaMzcdGyGJyp3FZ6',\n    'contact.motivo_de_perda': 'zCrz11tvcDdtUUtXdQjJ',\n    'contact.probabilidade_de_fechamento': 'xkPUXjYT4skmaUnl6uvX',\n    'contact.satisfacao_com_solucao_atual': 'vQnW4KbFkF7vlWmNlwif',\n    // Marketing existing\n    'contact.origem_lead': 'Z9o1MsklMhLlc4WHZBcM',\n    'contact.instagram': 'NBJedRcLNOIrOmlHFBSo'\n  };\n\n  const body = {};\n\n  // Merge tags\n  if (input.tags) {\n    const newTags = input.tags.split(',').map(t => t.trim()).filter(t => t);\n    body.tags = [...new Set([...currentTags, ...newTags])];\n  }\n\n  // Process custom fields\n  if (input.campos) {\n    try {\n      const campos = typeof input.campos === 'string' ? JSON.parse(input.campos) : input.campos;\n      const customFields = [];\n\n      for (const [key, value] of Object.entries(campos)) {\n        if (value === null || value === undefined || value === '') continue;\n\n        // Resolve key to field ID\n        let fieldKey = key.startsWith('contact.') ? key : 'contact.' + key;\n        const fieldId = FIELD_MAP[fieldKey];\n\n        if (fieldId) {\n          customFields.push({ id: fieldId, field_value: value });\n        } else {\n          // Fallback: try key format for unknown fields\n          customFields.push({ key: fieldKey, field_value: value });\n        }\n      }\n\n      if (customFields.length > 0) body.customFields = customFields;\n    } catch(e) { /* skip if invalid JSON */ }\n  }\n\n  if (input.nome_contato) {\n    const parts = input.nome_contato.trim().split(' ');\n    body.firstName = parts[0];\n    if (parts.length > 1) body.lastName = parts.slice(1).join(' ');\n  }\n\n  if (input.empresa) body.companyName = input.empresa;\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"update-contato","name":"GHL Atualizar Contato","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('GHL Buscar p/ Qualificar').item.json.contact.id }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"buscar-opp-qual","name":"Buscar Opp Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Determine pipeline action: create opp, move stage, or skip\nconst opps = $('Buscar Opp Qualificar').first().json.opportunities || [];\nconst contact = $('GHL Buscar p/ Qualificar').first().json.contact || {};\nconst input = $('Validar Input').first().json;\n\n// Parse tags sent by Clara\nconst rawTags = input.tags || '';\nconst tags = rawTags.split(',').map(t => t.trim().toLowerCase());\n\n// Pipeline constants\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_NOVO = 'e264f262-b123-424f-b102-e8057f995ddd';\nconst STAGE_SQL = 'd57e5253-5cc1-43cd-8eac-34b5ddafb8bd';\n\n// Check if Clara marked as qualified\nconst isQualificado = tags.some(t =>\n  t === 'qualificado' ||\n  t === 'sql' ||\n  t.includes('sales qualified') ||\n  t.includes('sql')\n);\n\n// Build contact name\nconst contactName = [contact.firstName, contact.lastName].filter(Boolean).join(' ') || 'Lead';\n\nif (opps.length === 0) {\n  // No opportunity exists → CREATE (use pipelineStageId, NOT stageId)\n  const targetStage = isQualificado ? STAGE_SQL : STAGE_NOVO;\n  return [{ json: {\n    action: 'create',\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Clara SDR',\n      pipelineStageId: targetStage,\n      contactId: contact.id,\n      status: 'open'\n    })\n  }}];\n}\n\nconst opp = opps[0];\n\n// Only move forward, never backward\n// Novo Lead (pos 0) → Qualificado SQL (pos 1)\nif (isQualificado && opp.pipelineStageId === STAGE_NOVO) {\n  return [{ json: {\n    action: 'move',\n    method: 'PUT',\n    url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n    body: JSON.stringify({ pipelineStageId: STAGE_SQL })\n  }}];\n}\n\n// No action needed (already at right stage or not yet qualified)\nreturn [{ json: { action: 'none', method: '', url: '', body: '' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,200],"id":"logica-qual","name":"Lógica Pipeline Qualificar"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-pipeline-action","leftValue":"={{ $json.action }}","rightValue":"none","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,200],"id":"if-pipeline-qual","name":"IF Pipeline Qualificar?"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,100],"id":"exec-pipeline-qual","name":"Executar Pipeline Qualificar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Qualificar').item.json.contact || {};\nconst updateResult = $('GHL Atualizar Contato').item.json;\n\nreturn [{ json: {\n  resultado: \"Lead qualificado com sucesso no GHL.\",\n  contact_id: contact.id,\n  tags_atualizadas: updateResult.contact ? (updateResult.contact.tags || []).join(', ') : 'atualizado',\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,200],"id":"formatar-qual","name":"Formatar Qualificação"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Qualificar","type":"main","index":0}]]},"GHL Buscar p/ Qualificar":{"main":[[{"node":"GHL Atualizar Contato","type":"main","index":0}]]},"GHL Atualizar Contato":{"main":[[{"node":"Buscar Opp Qualificar","type":"main","index":0}]]},"Buscar Opp Qualificar":{"main":[[{"node":"Lógica Pipeline Qualificar","type":"main","index":0}]]},"Lógica Pipeline Qualificar":{"main":[[{"node":"IF Pipeline Qualificar?","type":"main","index":0}]]},"IF Pipeline Qualificar?":{"main":[[{"node":"Executar Pipeline Qualificar","type":"main","index":0}],[{"node":"Formatar Qualificação","type":"main","index":0}]]},"Executar Pipeline Qualificar":{"main":[[{"node":"Formatar Qualificação","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T02:40:09.451Z","id":555,"workflowId":"nCJEdMcWueFxzvRI","versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:40:09.838Z","id":556,"workflowId":"nCJEdMcWueFxzvRI","versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:40:08.931Z","id":553,"workflowId":"nCJEdMcWueFxzvRI","versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:40:08.962Z","id":554,"workflowId":"nCJEdMcWueFxzvRI","versionId":"a3fcc153-1ccd-47dc-8471-e1e0db2ae307","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}