docs/templates/ghl/tool-transferir-humano.json
{"updatedAt":"2026-02-24T02:39:23.675Z","createdAt":"2026-02-24T02:01:56.799Z","id":"J1lvZSZZVuYxTsiV","name":"[TRIADEFLOW] Clara Tool - Transferir Humano","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Clara Tool - Transferir Humano v2\n\nRemove tags IA, adiciona Qualificado + Transferido Humano, move pipeline.\n\n**Input:** { phone, stage_id, resumo }\n**Output:** { resultado, contact_id, sucesso }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-transf","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-transf","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-transf","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-transf","name":"GHL Buscar p/ Transferir","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Transferir').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const currentContact = $('GHL Buscar p/ Transferir').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n  const input = $('Validar Input').item.json;\n\n  // Remove \"Em Atendimento IA\" and \"Clara SDR\", add \"Qualificado\" and \"Transferido Humano\"\n  let tags = currentTags.filter(t =>\n    t !== 'Em Atendimento IA' && t !== 'Clara SDR'\n  );\n  tags.push('Qualificado');\n  tags.push('Transferido Humano');\n  tags = [...new Set(tags)];\n\n  const body = { tags };\n\n  // Add resumo as note if provided\n  if (input.resumo) {\n    body.companyName = currentContact.companyName || '';\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"tags-transf","name":"GHL Tags Transferência","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar p/ Transferir').item.json.contact.id }}"},{"name":"pipeline_id","value":"SdaTWIsioZOKhNrj2ecF"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"opp-transf","name":"GHL Oportunidade p/ Mover","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $('GHL Oportunidade p/ Mover').item.json.opportunities[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Validar Input').item.json;\n  const body = {};\n\n  // Move to next stage if provided\n  if (input.stage_id) {\n    body.pipelineStageId = input.stage_id;\n  }\n\n  // Add notes\n  if (input.resumo) {\n    body.name = input.resumo.substring(0, 100);\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,200],"id":"mover-transf","name":"GHL Mover Etapa","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Transferir').item.json.contact || {};\nconst tagResult = $('GHL Tags Transferência').item.json;\n\nlet oppMoved = false;\ntry {\n  const oppResult = $('GHL Mover Etapa').item.json;\n  oppMoved = !!oppResult.opportunity;\n} catch(e) {}\n\nreturn [{ json: {\n  resultado: \"Lead transferido para atendimento humano com sucesso. Tags atualizadas: 'Qualificado' e 'Transferido Humano' adicionadas. Tag 'Em Atendimento IA' removida.\" + (oppMoved ? \" Oportunidade movida para próxima etapa.\" : \"\"),\n  contact_id: contact.id,\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,200],"id":"formatar-transf","name":"Formatar Transferência"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Transferir","type":"main","index":0}]]},"GHL Buscar p/ Transferir":{"main":[[{"node":"GHL Tags Transferência","type":"main","index":0}]]},"GHL Tags Transferência":{"main":[[{"node":"GHL Oportunidade p/ Mover","type":"main","index":0}]]},"GHL Oportunidade p/ Mover":{"main":[[{"node":"GHL Mover Etapa","type":"main","index":0}]]},"GHL Mover Etapa":{"main":[[{"node":"Formatar Transferência","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","activeVersionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","versionCounter":16,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T02:01:56.799Z","createdAt":"2026-02-24T02:01:56.799Z","role":"workflow:owner","workflowId":"J1lvZSZZVuYxTsiV","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T02:39:23.677Z","createdAt":"2026-02-24T02:39:23.677Z","versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","workflowId":"J1lvZSZZVuYxTsiV","nodes":[{"parameters":{"content":"## Clara Tool - Transferir Humano v2\n\nRemove tags IA, adiciona Qualificado + Transferido Humano, move pipeline.\n\n**Input:** { phone, stage_id, resumo }\n**Output:** { resultado, contact_id, sucesso }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-transf","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-transf","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-transf","name":"Validar Input"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-transf","name":"GHL Buscar p/ Transferir","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Buscar p/ Transferir').item.json.contact.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const currentContact = $('GHL Buscar p/ Transferir').item.json.contact || {};\n  const currentTags = currentContact.tags || [];\n  const input = $('Validar Input').item.json;\n\n  // Remove \"Em Atendimento IA\" and \"Clara SDR\", add \"Qualificado\" and \"Transferido Humano\"\n  let tags = currentTags.filter(t =>\n    t !== 'Em Atendimento IA' && t !== 'Clara SDR'\n  );\n  tags.push('Qualificado');\n  tags.push('Transferido Humano');\n  tags = [...new Set(tags)];\n\n  const body = { tags };\n\n  // Add resumo as note if provided\n  if (input.resumo) {\n    body.companyName = currentContact.companyName || '';\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"id":"tags-transf","name":"GHL Tags Transferência","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"location_id","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"contact_id","value":"={{ $('GHL Buscar p/ Transferir').item.json.contact.id }}"},{"name":"pipeline_id","value":"SdaTWIsioZOKhNrj2ecF"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"opp-transf","name":"GHL Oportunidade p/ Mover","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $('GHL Oportunidade p/ Mover').item.json.opportunities[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n(() => {\n  const input = $('Validar Input').item.json;\n  const body = {};\n\n  // Move to next stage if provided\n  if (input.stage_id) {\n    body.pipelineStageId = input.stage_id;\n  }\n\n  // Add notes\n  if (input.resumo) {\n    body.name = input.resumo.substring(0, 100);\n  }\n\n  return JSON.stringify(body);\n})()\n}}","options":{"response":{"response":{"responseFormat":"json"}},"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,200],"id":"mover-transf","name":"GHL Mover Etapa","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const contact = $('GHL Buscar p/ Transferir').item.json.contact || {};\nconst tagResult = $('GHL Tags Transferência').item.json;\n\nlet oppMoved = false;\ntry {\n  const oppResult = $('GHL Mover Etapa').item.json;\n  oppMoved = !!oppResult.opportunity;\n} catch(e) {}\n\nreturn [{ json: {\n  resultado: \"Lead transferido para atendimento humano com sucesso. Tags atualizadas: 'Qualificado' e 'Transferido Humano' adicionadas. Tag 'Em Atendimento IA' removida.\" + (oppMoved ? \" Oportunidade movida para próxima etapa.\" : \"\"),\n  contact_id: contact.id,\n  sucesso: true\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,200],"id":"formatar-transf","name":"Formatar Transferência"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Transferir","type":"main","index":0}]]},"GHL Buscar p/ Transferir":{"main":[[{"node":"GHL Tags Transferência","type":"main","index":0}]]},"GHL Tags Transferência":{"main":[[{"node":"GHL Oportunidade p/ Mover","type":"main","index":0}]]},"GHL Oportunidade p/ Mover":{"main":[[{"node":"GHL Mover Etapa","type":"main","index":0}]]},"GHL Mover Etapa":{"main":[[{"node":"Formatar Transferência","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T02:39:24.136Z","id":547,"workflowId":"J1lvZSZZVuYxTsiV","versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:24.417Z","id":548,"workflowId":"J1lvZSZZVuYxTsiV","versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:23.731Z","id":545,"workflowId":"J1lvZSZZVuYxTsiV","versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T02:39:23.759Z","id":546,"workflowId":"J1lvZSZZVuYxTsiV","versionId":"597ffbc6-ea75-47f6-ab1d-2407e9ec5427","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}