docs/templates/ghl/tool-agendar-consulta.json
{"updatedAt":"2026-02-24T14:46:47.861Z","createdAt":"2026-02-24T02:01:56.528Z","id":"2qKfJRjOpVzoETCn","name":"[TRIADEFLOW] Clara Tool - Agendar Consulta","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Clara Tool - Agendar Consulta v2\n\nBusca slots → match → cria agendamento + move pipeline.\nFallback: link de booking.\n\n**Input:** { phone, data_preferida, horario_preferido, nome_contato }\n**Output:** { sucesso, mensagem, data, hora } ou { link, slots[] }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-agendar","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-agendar","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-agendar","name":"Validar Input"},{"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Validar Input').item.json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-agendar","name":"GHL Buscar p/ Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"id":"slots-agendar","name":"GHL Slots Disponíveis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/calendars/afd4NA6ULMKfs8VDlaAs/free-slots","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startDate","value":"={{ (() => { const pref = $('Validar Input').item.json.data_preferida; let d; if (pref) { d = new Date(pref + 'T00:00:00-03:00'); if (d.getTime() < Date.now()) d = new Date(); } else { d = new Date(); } return d.getTime(); })() }}"},{"name":"endDate","value":"={{ (() => { const pref = $('Validar Input').item.json.data_preferida; let d; if (pref) { d = new Date(pref + 'T00:00:00-03:00'); if (d.getTime() < Date.now()) d = new Date(); } else { d = new Date(); } d.setDate(d.getDate() + 5); return d.getTime(); })() }}"},{"name":"timezone","value":"America/Sao_Paulo"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Process scheduling: find matching slot and prepare appointment\n// Smart date matching: if AI sends past date, find preferred time in any available day\nconst input = $('Validar Input').first().json;\n\n// Booking link fallback (GHL calendar widget)\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\n\n// Extract fields\nconst phone = input.phone || '';\nconst dataPref = input.data_preferida || '';\nconst horaPref = input.horario_preferido || '';\nconst nomeContato = input.nome_contato || '';\n\n// Hardcoded IDs\nconst calendarId = 'afd4NA6ULMKfs8VDlaAs';\nconst locationId = 'LImTvhcHSBl9dFiTTZfD';\n\n// Get contact from search\nconst contactData = $('GHL Buscar p/ Agendar').first().json;\nlet contactId = null;\nif (contactData.contacts && contactData.contacts.length > 0) {\n  contactId = contactData.contacts[0].id;\n} else if (contactData.contact && contactData.contact.id) {\n  contactId = contactData.contact.id;\n}\n\n// Parse available slots from GHL\nconst slotsData = $('GHL Slots Disponíveis').first().json;\nconst allSlots = [];\nfor (const [date, dateSlots] of Object.entries(slotsData)) {\n  if (date === 'traceId' || date === '_metadata') continue;\n  if (dateSlots && dateSlots.slots && Array.isArray(dateSlots.slots)) {\n    dateSlots.slots.forEach(s => allSlots.push({ date, time: s }));\n  } else if (Array.isArray(dateSlots)) {\n    dateSlots.forEach(s => allSlots.push({ date, time: s }));\n  }\n}\n\n// === FALLBACK: No contact found → send booking link ===\nif (!contactId) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'Para agendar seu diagnóstico gratuito, é só clicar aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// === FALLBACK: No slots available → send booking link ===\nif (allSlots.length === 0) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'No momento os horários estão atualizando. Você pode escolher o melhor horário direto aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Check if preferred date is in the past or invalid\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nlet dateIsValid = false;\nif (dataPref) {\n  const prefDate = new Date(dataPref + 'T00:00:00-03:00');\n  dateIsValid = !isNaN(prefDate.getTime()) && prefDate >= today;\n}\n\n// Try to find matching slot\nlet selectedSlot = null;\n\nif (horaPref) {\n  const prefHour = parseInt(horaPref.split(':')[0]);\n  const prefMin = parseInt(horaPref.split(':')[1] || '0');\n  const prefMinutes = prefHour * 60 + prefMin;\n\n  if (dateIsValid && dataPref) {\n    // Valid date: try exact date match first\n    const daySlots = allSlots.filter(s => s.date === dataPref);\n    if (daySlots.length > 0) {\n      let closest = daySlots[0];\n      let minDiff = Infinity;\n      for (const s of daySlots) {\n        const slotTime = new Date(s.time);\n        const slotHours = slotTime.getUTCHours() - 3; // BRT = UTC-3\n        const slotMins = slotTime.getUTCMinutes();\n        const diff = Math.abs((slotHours * 60 + slotMins) - prefMinutes);\n        if (diff < minDiff) { minDiff = diff; closest = s; }\n      }\n      if (minDiff <= 60) selectedSlot = closest; // within 1 hour tolerance\n    }\n  }\n\n  // If no exact date match (or date was past/invalid), find preferred time on ANY available day\n  if (!selectedSlot) {\n    let closest = null;\n    let minDiff = Infinity;\n    for (const s of allSlots) {\n      const slotTime = new Date(s.time);\n      const slotHours = slotTime.getUTCHours() - 3;\n      const slotMins = slotTime.getUTCMinutes();\n      const diff = Math.abs((slotHours * 60 + slotMins) - prefMinutes);\n      if (diff < minDiff) { minDiff = diff; closest = s; }\n    }\n    if (closest && minDiff <= 60) selectedSlot = closest; // within 1 hour tolerance\n  }\n} else if (dateIsValid && dataPref) {\n  // Only date preference, no time: pick first slot on that date\n  const daySlots = allSlots.filter(s => s.date === dataPref);\n  if (daySlots.length > 0) selectedSlot = daySlots[0];\n}\n\n// If no match within tolerance, offer available slots\nif (!selectedSlot) {\n  const topSlots = allSlots.slice(0, 8).map(s => {\n    const d = new Date(s.time);\n    return d.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', weekday: 'short', day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' });\n  });\n  return [{ json: {\n    action: 'offer_slots',\n    contactId,\n    message: 'Temos esses horários disponíveis: ' + topSlots.join(' | ') + '. Qual fica melhor para você?',\n    slots: topSlots,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Found a slot - prepare appointment creation\nconst startTime = new Date(selectedSlot.time);\nconst endTime = new Date(startTime.getTime() + 30 * 60 * 1000); // 30 min\n\nreturn [{ json: {\n  action: 'create_appointment',\n  contactId,\n  calendarId,\n  locationId,\n  startTime: startTime.toISOString(),\n  endTime: endTime.toISOString(),\n  title: 'Diagnóstico - ' + (nomeContato || 'Lead'),\n  appointmentStatus: 'confirmed',\n  phone,\n  nome: nomeContato\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"processar-agendar","name":"Processar Agendamento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"agendar-criar","leftValue":"={{ $json.action }}","rightValue":"create_appointment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1250,200],"id":"switch-agendar","name":"Criar ou Oferecer?"},{"id":"criar-agendar","name":"GHL Criar Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,100],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/calendars/events/appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"calendarId\": \"{{ $json.calendarId || 'afd4NA6ULMKfs8VDlaAs' }}\",\n  \"locationId\": \"{{ $json.locationId || 'LImTvhcHSBl9dFiTTZfD' }}\",\n  \"contactId\": \"{{ $json.contactId }}\",\n  \"startTime\": \"{{ $json.startTime }}\",\n  \"endTime\": \"{{ $json.endTime }}\",\n  \"title\": \"{{ $json.title || 'Diagnóstico Triadeflow' }}\",\n  \"appointmentStatus\": \"confirmed\",\n  \"address\": \"\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('Processar Agendamento').item.json.contactId }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,100],"id":"buscar-opp-agend","name":"Buscar Opp Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Move or create opportunity at \"Diagnóstico Agendado\" stage\nconst opps = $('Buscar Opp Agendar').first().json.opportunities || [];\nconst procData = $('Processar Agendamento').first().json;\nconst contactId = procData.contactId;\nconst contactName = procData.nome || 'Lead';\n\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_AGENDADO = '8725af03-5c92-40ae-9aa1-911016275dc4';\n\nif (!contactId) {\n  return [{ json: { method: 'GET', url: 'https://services.leadconnectorhq.com/calendars/', body: '' } }];\n}\n\nif (opps.length === 0) {\n  // No opportunity → CREATE at Diagnóstico Agendado\n  return [{ json: {\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Diagnóstico Agendado',\n      pipelineStageId: STAGE_AGENDADO,\n      contactId: contactId,\n      status: 'open'\n    })\n  }}];\n}\n\n// Opportunity exists → MOVE to Diagnóstico Agendado\nconst opp = opps[0];\nreturn [{ json: {\n  method: 'PUT',\n  url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n  body: JSON.stringify({ pipelineStageId: STAGE_AGENDADO })\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,100],"id":"logica-agend","name":"Lógica Pipeline Agendar"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2250,100],"id":"exec-pipeline-agend","name":"Executar Pipeline Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Format appointment result for AI agent\n// Two paths arrive here:\n// 1. Criar: ...→ GHL Criar Agendamento → ... → Executar Pipeline → here\n// 2. Fallback/Offer: Processar Agendamento → IF (false) → here\nconst input = $input.first().json;\n\n// Try to read appointment from GHL Criar node\nlet appointmentId = null;\ntry {\n  const appt = $('GHL Criar Agendamento').first().json;\n  if (appt && appt.id) appointmentId = appt.id;\n} catch (e) {}\n\n// If appointment was created, read the time from Processar Agendamento\n// (GHL response doesn't include startTime, but Processar has it)\nif (appointmentId) {\n  let startTime = null;\n  try {\n    const proc = $('Processar Agendamento').first().json;\n    startTime = proc.startTime;\n  } catch (e) {}\n\n  if (startTime) {\n    const start = new Date(startTime);\n    const dataFormatada = start.toLocaleDateString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric'\n    });\n    const horaFormatada = start.toLocaleTimeString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      hour: '2-digit', minute: '2-digit'\n    });\n    return [{ json: {\n      sucesso: true,\n      mensagem: 'Agendamento confirmado para ' + dataFormatada + ' às ' + horaFormatada + '! Você vai receber um convite no e-mail.',\n      data: dataFormatada,\n      hora: horaFormatada,\n      appointment_id: appointmentId\n    } }];\n  }\n\n  // Fallback: appointment created but no time info\n  return [{ json: {\n    sucesso: true,\n    mensagem: 'Agendamento confirmado! Você vai receber um convite no e-mail com os detalhes.',\n    appointment_id: appointmentId\n  } }];\n}\n\n// Path 2: fallback_link\nif (input.action === 'fallback_link') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    link: input.link\n  } }];\n}\n\n// Path 2: offer_slots\nif (input.action === 'offer_slots') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    slots: input.slots || [],\n    link: input.link || ''\n  } }];\n}\n\n// Fallback\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\nreturn [{ json: {\n  sucesso: true,\n  mensagem: 'Para agendar seu diagnóstico, acesse: ' + BOOKING_LINK,\n  link: BOOKING_LINK\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,200],"id":"formatar-agend","name":"Formatar Agendamento"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Agendar","type":"main","index":0}]]},"GHL Buscar p/ Agendar":{"main":[[{"node":"GHL Slots Disponíveis","type":"main","index":0}]]},"GHL Slots Disponíveis":{"main":[[{"node":"Processar Agendamento","type":"main","index":0}]]},"Processar Agendamento":{"main":[[{"node":"Criar ou Oferecer?","type":"main","index":0}]]},"Criar ou Oferecer?":{"main":[[{"node":"GHL Criar Agendamento","type":"main","index":0}],[{"node":"Formatar Agendamento","type":"main","index":0}]]},"GHL Criar Agendamento":{"main":[[{"node":"Buscar Opp Agendar","type":"main","index":0}]]},"Buscar Opp Agendar":{"main":[[{"node":"Lógica Pipeline Agendar","type":"main","index":0}]]},"Lógica Pipeline Agendar":{"main":[[{"node":"Executar Pipeline Agendar","type":"main","index":0}]]},"Executar Pipeline Agendar":{"main":[[{"node":"Formatar Agendamento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3f223236-067e-4df0-9351-d54afddcb322","activeVersionId":"3f223236-067e-4df0-9351-d54afddcb322","versionCounter":32,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T02:01:56.528Z","createdAt":"2026-02-24T02:01:56.528Z","role":"workflow:owner","workflowId":"2qKfJRjOpVzoETCn","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T14:46:47.863Z","createdAt":"2026-02-24T14:46:47.863Z","versionId":"3f223236-067e-4df0-9351-d54afddcb322","workflowId":"2qKfJRjOpVzoETCn","nodes":[{"parameters":{"content":"## Clara Tool - Agendar Consulta v2\n\nBusca slots → match → cria agendamento + move pipeline.\nFallback: link de booking.\n\n**Input:** { phone, data_preferida, horario_preferido, nome_contato }\n**Output:** { sucesso, mensagem, data, hora } ou { link, slots[] }","height":300,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-100],"id":"info-agendar","name":"Info"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"trigger-agendar","name":"Trigger"},{"parameters":{"jsCode":"// Validate input + unwrap $fromAI query fields\n// n8n LangChain toolWorkflow puts $fromAI fields inside \"query\" object\n// while static expressions stay at top level\nconst raw = $input.first().json;\n\n// Merge query fields into top level\nconst query = raw.query || {};\nconst input = { ...raw };\n\n// Unwrap query fields (AI-generated via $fromAI)\nif (typeof query === 'object' && query !== null) {\n  for (const [key, value] of Object.entries(query)) {\n    if (key !== 'phone' && input[key] === undefined) {\n      input[key] = value;\n    }\n  }\n}\ndelete input.query;\n\n// Validate phone\nconst phone = input.phone || '';\nif (!phone || phone.trim() === '') {\n  return [{ json: { resultado: 'Erro: telefone do lead não fornecido.', sucesso: false } }];\n}\n\n// Clean phone (remove non-digits, keep +)\ninput.phone = phone.replace(/[^\\d+]/g, '');\n\nreturn [{ json: input }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"validar-agendar","name":"Validar Input"},{"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/contacts/search/duplicate","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"LImTvhcHSBl9dFiTTZfD"},{"name":"number","value":"={{ $('Validar Input').item.json.phone }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"buscar-agendar","name":"GHL Buscar p/ Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"id":"slots-agendar","name":"GHL Slots Disponíveis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/calendars/afd4NA6ULMKfs8VDlaAs/free-slots","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startDate","value":"={{ (() => { const pref = $('Validar Input').item.json.data_preferida; let d; if (pref) { d = new Date(pref + 'T00:00:00-03:00'); if (d.getTime() < Date.now()) d = new Date(); } else { d = new Date(); } return d.getTime(); })() }}"},{"name":"endDate","value":"={{ (() => { const pref = $('Validar Input').item.json.data_preferida; let d; if (pref) { d = new Date(pref + 'T00:00:00-03:00'); if (d.getTime() < Date.now()) d = new Date(); } else { d = new Date(); } d.setDate(d.getDate() + 5); return d.getTime(); })() }}"},{"name":"timezone","value":"America/Sao_Paulo"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Process scheduling: find matching slot and prepare appointment\n// Smart date matching: if AI sends past date, find preferred time in any available day\nconst input = $('Validar Input').first().json;\n\n// Booking link fallback (GHL calendar widget)\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\n\n// Extract fields\nconst phone = input.phone || '';\nconst dataPref = input.data_preferida || '';\nconst horaPref = input.horario_preferido || '';\nconst nomeContato = input.nome_contato || '';\n\n// Hardcoded IDs\nconst calendarId = 'afd4NA6ULMKfs8VDlaAs';\nconst locationId = 'LImTvhcHSBl9dFiTTZfD';\n\n// Get contact from search\nconst contactData = $('GHL Buscar p/ Agendar').first().json;\nlet contactId = null;\nif (contactData.contacts && contactData.contacts.length > 0) {\n  contactId = contactData.contacts[0].id;\n} else if (contactData.contact && contactData.contact.id) {\n  contactId = contactData.contact.id;\n}\n\n// Parse available slots from GHL\nconst slotsData = $('GHL Slots Disponíveis').first().json;\nconst allSlots = [];\nfor (const [date, dateSlots] of Object.entries(slotsData)) {\n  if (date === 'traceId' || date === '_metadata') continue;\n  if (dateSlots && dateSlots.slots && Array.isArray(dateSlots.slots)) {\n    dateSlots.slots.forEach(s => allSlots.push({ date, time: s }));\n  } else if (Array.isArray(dateSlots)) {\n    dateSlots.forEach(s => allSlots.push({ date, time: s }));\n  }\n}\n\n// === FALLBACK: No contact found → send booking link ===\nif (!contactId) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'Para agendar seu diagnóstico gratuito, é só clicar aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// === FALLBACK: No slots available → send booking link ===\nif (allSlots.length === 0) {\n  return [{ json: {\n    action: 'fallback_link',\n    message: 'No momento os horários estão atualizando. Você pode escolher o melhor horário direto aqui: ' + BOOKING_LINK,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Check if preferred date is in the past or invalid\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nlet dateIsValid = false;\nif (dataPref) {\n  const prefDate = new Date(dataPref + 'T00:00:00-03:00');\n  dateIsValid = !isNaN(prefDate.getTime()) && prefDate >= today;\n}\n\n// Try to find matching slot\nlet selectedSlot = null;\n\nif (horaPref) {\n  const prefHour = parseInt(horaPref.split(':')[0]);\n  const prefMin = parseInt(horaPref.split(':')[1] || '0');\n  const prefMinutes = prefHour * 60 + prefMin;\n\n  if (dateIsValid && dataPref) {\n    // Valid date: try exact date match first\n    const daySlots = allSlots.filter(s => s.date === dataPref);\n    if (daySlots.length > 0) {\n      let closest = daySlots[0];\n      let minDiff = Infinity;\n      for (const s of daySlots) {\n        const slotTime = new Date(s.time);\n        const slotHours = slotTime.getUTCHours() - 3; // BRT = UTC-3\n        const slotMins = slotTime.getUTCMinutes();\n        const diff = Math.abs((slotHours * 60 + slotMins) - prefMinutes);\n        if (diff < minDiff) { minDiff = diff; closest = s; }\n      }\n      if (minDiff <= 60) selectedSlot = closest; // within 1 hour tolerance\n    }\n  }\n\n  // If no exact date match (or date was past/invalid), find preferred time on ANY available day\n  if (!selectedSlot) {\n    let closest = null;\n    let minDiff = Infinity;\n    for (const s of allSlots) {\n      const slotTime = new Date(s.time);\n      const slotHours = slotTime.getUTCHours() - 3;\n      const slotMins = slotTime.getUTCMinutes();\n      const diff = Math.abs((slotHours * 60 + slotMins) - prefMinutes);\n      if (diff < minDiff) { minDiff = diff; closest = s; }\n    }\n    if (closest && minDiff <= 60) selectedSlot = closest; // within 1 hour tolerance\n  }\n} else if (dateIsValid && dataPref) {\n  // Only date preference, no time: pick first slot on that date\n  const daySlots = allSlots.filter(s => s.date === dataPref);\n  if (daySlots.length > 0) selectedSlot = daySlots[0];\n}\n\n// If no match within tolerance, offer available slots\nif (!selectedSlot) {\n  const topSlots = allSlots.slice(0, 8).map(s => {\n    const d = new Date(s.time);\n    return d.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', weekday: 'short', day: '2-digit', month: '2-digit', hour: '2-digit', minute: '2-digit' });\n  });\n  return [{ json: {\n    action: 'offer_slots',\n    contactId,\n    message: 'Temos esses horários disponíveis: ' + topSlots.join(' | ') + '. Qual fica melhor para você?',\n    slots: topSlots,\n    link: BOOKING_LINK\n  } }];\n}\n\n// Found a slot - prepare appointment creation\nconst startTime = new Date(selectedSlot.time);\nconst endTime = new Date(startTime.getTime() + 30 * 60 * 1000); // 30 min\n\nreturn [{ json: {\n  action: 'create_appointment',\n  contactId,\n  calendarId,\n  locationId,\n  startTime: startTime.toISOString(),\n  endTime: endTime.toISOString(),\n  title: 'Diagnóstico - ' + (nomeContato || 'Lead'),\n  appointmentStatus: 'confirmed',\n  phone,\n  nome: nomeContato\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"processar-agendar","name":"Processar Agendamento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"agendar-criar","leftValue":"={{ $json.action }}","rightValue":"create_appointment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1250,200],"id":"switch-agendar","name":"Criar ou Oferecer?"},{"id":"criar-agendar","name":"GHL Criar Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,100],"credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/calendars/events/appointments","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"calendarId\": \"{{ $json.calendarId || 'afd4NA6ULMKfs8VDlaAs' }}\",\n  \"locationId\": \"{{ $json.locationId || 'LImTvhcHSBl9dFiTTZfD' }}\",\n  \"contactId\": \"{{ $json.contactId }}\",\n  \"startTime\": \"{{ $json.startTime }}\",\n  \"endTime\": \"{{ $json.endTime }}\",\n  \"title\": \"{{ $json.title || 'Diagnóstico Triadeflow' }}\",\n  \"appointmentStatus\": \"confirmed\",\n  \"address\": \"\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=LImTvhcHSBl9dFiTTZfD&contact_id={{ $('Processar Agendamento').item.json.contactId }}&pipeline_id=SdaTWIsioZOKhNrj2ecF","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,100],"id":"buscar-opp-agend","name":"Buscar Opp Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Move or create opportunity at \"Diagnóstico Agendado\" stage\nconst opps = $('Buscar Opp Agendar').first().json.opportunities || [];\nconst procData = $('Processar Agendamento').first().json;\nconst contactId = procData.contactId;\nconst contactName = procData.nome || 'Lead';\n\nconst PIPELINE_ID = 'SdaTWIsioZOKhNrj2ecF';\nconst LOC_ID = 'LImTvhcHSBl9dFiTTZfD';\nconst STAGE_AGENDADO = '8725af03-5c92-40ae-9aa1-911016275dc4';\n\nif (!contactId) {\n  return [{ json: { method: 'GET', url: 'https://services.leadconnectorhq.com/calendars/', body: '' } }];\n}\n\nif (opps.length === 0) {\n  // No opportunity → CREATE at Diagnóstico Agendado\n  return [{ json: {\n    method: 'POST',\n    url: 'https://services.leadconnectorhq.com/opportunities/',\n    body: JSON.stringify({\n      pipelineId: PIPELINE_ID,\n      locationId: LOC_ID,\n      name: contactName + ' - Diagnóstico Agendado',\n      pipelineStageId: STAGE_AGENDADO,\n      contactId: contactId,\n      status: 'open'\n    })\n  }}];\n}\n\n// Opportunity exists → MOVE to Diagnóstico Agendado\nconst opp = opps[0];\nreturn [{ json: {\n  method: 'PUT',\n  url: 'https://services.leadconnectorhq.com/opportunities/' + opp.id,\n  body: JSON.stringify({ pipelineStageId: STAGE_AGENDADO })\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,100],"id":"logica-agend","name":"Lógica Pipeline Agendar"},{"parameters":{"method":"={{ $json.method }}","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2250,100],"id":"exec-pipeline-agend","name":"Executar Pipeline Agendar","credentials":{"httpBearerAuth":{"id":"os4AWsp77tWRBmL1","name":"Triadeflow"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Format appointment result for AI agent\n// Two paths arrive here:\n// 1. Criar: ...→ GHL Criar Agendamento → ... → Executar Pipeline → here\n// 2. Fallback/Offer: Processar Agendamento → IF (false) → here\nconst input = $input.first().json;\n\n// Try to read appointment from GHL Criar node\nlet appointmentId = null;\ntry {\n  const appt = $('GHL Criar Agendamento').first().json;\n  if (appt && appt.id) appointmentId = appt.id;\n} catch (e) {}\n\n// If appointment was created, read the time from Processar Agendamento\n// (GHL response doesn't include startTime, but Processar has it)\nif (appointmentId) {\n  let startTime = null;\n  try {\n    const proc = $('Processar Agendamento').first().json;\n    startTime = proc.startTime;\n  } catch (e) {}\n\n  if (startTime) {\n    const start = new Date(startTime);\n    const dataFormatada = start.toLocaleDateString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric'\n    });\n    const horaFormatada = start.toLocaleTimeString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      hour: '2-digit', minute: '2-digit'\n    });\n    return [{ json: {\n      sucesso: true,\n      mensagem: 'Agendamento confirmado para ' + dataFormatada + ' às ' + horaFormatada + '! Você vai receber um convite no e-mail.',\n      data: dataFormatada,\n      hora: horaFormatada,\n      appointment_id: appointmentId\n    } }];\n  }\n\n  // Fallback: appointment created but no time info\n  return [{ json: {\n    sucesso: true,\n    mensagem: 'Agendamento confirmado! Você vai receber um convite no e-mail com os detalhes.',\n    appointment_id: appointmentId\n  } }];\n}\n\n// Path 2: fallback_link\nif (input.action === 'fallback_link') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    link: input.link\n  } }];\n}\n\n// Path 2: offer_slots\nif (input.action === 'offer_slots') {\n  return [{ json: {\n    sucesso: true,\n    mensagem: input.message,\n    slots: input.slots || [],\n    link: input.link || ''\n  } }];\n}\n\n// Fallback\nconst BOOKING_LINK = 'https://api.leadconnectorhq.com/widget/booking/afd4NA6ULMKfs8VDlaAs';\nreturn [{ json: {\n  sucesso: true,\n  mensagem: 'Para agendar seu diagnóstico, acesse: ' + BOOKING_LINK,\n  link: BOOKING_LINK\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,200],"id":"formatar-agend","name":"Formatar Agendamento"}],"connections":{"Trigger":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"GHL Buscar p/ Agendar","type":"main","index":0}]]},"GHL Buscar p/ Agendar":{"main":[[{"node":"GHL Slots Disponíveis","type":"main","index":0}]]},"GHL Slots Disponíveis":{"main":[[{"node":"Processar Agendamento","type":"main","index":0}]]},"Processar Agendamento":{"main":[[{"node":"Criar ou Oferecer?","type":"main","index":0}]]},"Criar ou Oferecer?":{"main":[[{"node":"GHL Criar Agendamento","type":"main","index":0}],[{"node":"Formatar Agendamento","type":"main","index":0}]]},"GHL Criar Agendamento":{"main":[[{"node":"Buscar Opp Agendar","type":"main","index":0}]]},"Buscar Opp Agendar":{"main":[[{"node":"Lógica Pipeline Agendar","type":"main","index":0}]]},"Lógica Pipeline Agendar":{"main":[[{"node":"Executar Pipeline Agendar","type":"main","index":0}]]},"Executar Pipeline Agendar":{"main":[[{"node":"Formatar Agendamento","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T14:46:48.210Z","id":568,"workflowId":"2qKfJRjOpVzoETCn","versionId":"3f223236-067e-4df0-9351-d54afddcb322","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}