docs/templates/kommo/conector-langchain-kommo.json
{"updatedAt":"2026-03-03T04:54:55.348Z","createdAt":"2025-09-07T01:12:04.739Z","id":"4zP3YIAiI1l9Fcdn","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Conector Langchain Kommo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"3e03c2cb-f552-4863-be46-4f3de73219e7","name":"chat.messageType","value":"={{(() => {\n  const msgType = $('Meta').item.json.body.data.messageType;\n\n  switch (msgType) {\n    case 'audioMessage':\n      return 'audio';\n    case 'extendedTextMessage':\n      return 'text';\n    case 'conversation':\n      return 'text';\n    case 'imageMessage':\n      return 'image';\n    case 'documentMessage':\n      return 'doc';\n    case 'stickerMessage':\n      return 'image';\n    default:\n      return 'unknown'; // Caso não corresponda a nenhum tipo\n  }\n})()}}","type":"string"},{"id":"9c35c382-1e76-41a8-8290-7fbc03e85fb9","name":"chat.url","value":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","type":"string"},{"id":"0b92a5a9-c89d-4cf2-9aa6-bc632b8e8921","name":"chat.text","value":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","type":"string"},{"id":"c914bb0f-295f-4c7f-92af-d3cf771fe9af","name":"chat.sender","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","type":"string"},{"id":"d8fed3e9-bf45-4036-9b96-d850076773cf","name":"chat.recipient","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"body\"][\"data\"][\"instanceId\"] }}","type":"string"},{"id":"7bf66bea-a209-4dc4-8305-5800b7001da4","name":"chat.base64","value":"=","type":"string"},{"id":"d41a5d80-5172-4d41-ba8b-25a27a9f1215","name":"chat.base64_mimetype","value":"={{ $('Meta').item.json.body.data.message.imageMessage.mimetype }}","type":"string"},{"id":"718c5000-0e4c-4eab-b091-982321f60f8a","name":"chat.instance","value":"={{ $('Meta').item.json.body.instance }}","type":"string"},{"id":"c56a1400-2389-4cbb-b5de-3da9234f7047","name":"user.user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"986bd686-74d1-4fe2-b2c8-f95b123a48d6","name":"user.user_first_name","value":"={{ $json.nome }}","type":"string"},{"id":"2257582d-a2b1-4dc6-b121-cb78751ac00c","name":"user.user_last_name","value":"={{ $json.user_last_name }}","type":"string"},{"id":"b53c5f50-c80e-455d-aced-8623c41e45f0","name":"user.user_email","value":"={{ $json.user_email }}","type":"string"},{"id":"7d779880-925a-4afd-934f-50e4f39c5a96","name":"user.user_phone_number","value":"={{ $json.whatsapp }}","type":"string"},{"id":"9e899a17-644d-4303-b7af-148b3afd5e6d","name":"user.user_accent","value":"={{ $json.user_accent }}","type":"string"},{"id":"f85e6b92-2e6e-4cf6-a727-e88e3bfac58e","name":"user.user_last_call_id","value":"={{ $json.user_last_call_id }}","type":"string"},{"id":"0e78d103-da58-4e23-ad81-38346341045f","name":"user.user_ig_sender_id","value":"={{ $json.user_ig_sender_id }}","type":"string"},{"id":"d072554a-09f9-4838-a79d-bae890d397ae","name":"user.user_last_ig_interaction","value":"={{ $json.user_last_ig_interaction }}","type":"string"},{"id":"70cd69ab-1039-4676-8e62-b0a6cad27c6a","name":"user.user_fb_sender_id","value":"={{ $json.user_fb_sender_id }}","type":"string"},{"id":"e88dc9b3-1c8a-4446-92a0-1e34d87f25bb","name":"user.user_last_fb_interaction","value":"={{ $json.user_last_fb_interaction }}","type":"string"},{"id":"96954d9f-c60f-4679-9696-123d877b6c8f","name":"user.user_last_interaction","value":"={{ $json.user_last_interaction }}","type":"string"},{"id":"1c6957ef-910d-4e4d-bb11-c932eb98db9f","name":"user.user_integration_kommo_lead_id","value":"={{ $json.kommo_lead_id }}","type":"string"},{"id":"487cc98d-9d4a-45c6-9c86-8f2f38739631","name":"user.user_integration_kommo_contact_id","value":"={{ $json.kommo_contact_id }}","type":"string"},{"id":"09ac1047-6c84-4390-9ecd-3c3d3b0e8093","name":"user.user_openai_thread_id","value":"={{ $json.thread_id }}","type":"string"}]},"options":{}},"id":"db3cac6a-68b7-4fed-8dc9-5e1abd863ef5","name":"EVO_CHAT1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10464,432],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44f09e32-1e43-4def-b9bb-99c6b22e9094","leftValue":"={{ $json.checkboxState }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9344,432],"id":"c6124474-bd02-4b69-bdbe-71924dcf8668","name":"If1"},{"parameters":{"jsCode":"return $json._embedded.leads.map(lead => {\n  const customFields = lead.custom_fields_values;\n\n  // Find the \"Parar bot\" field\n  const checkboxField = customFields?.find(field => field.field_name === 'PARAR IA');\n\n  // Determine the checkbox state\n  const isCheckboxActive = checkboxField?.values?.[0]?.value === true || false;\n\n  // Return the lead with an added field for the checkbox status\n  return {\n    json: {\n      id: lead.id,\n      name: lead.name,\n      checkboxState: isCheckboxActive\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9568,432],"id":"e169d931-071b-4635-85b2-20d8e4a8b0d4","name":"Verifica se o campo [Parar bot] está true ou false"},{"parameters":{"resource":"leads","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-9792,432],"id":"00ee457c-9f28-4aaf-af80-d7c916148020","name":"GET - Lead","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"resource":"contacts","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},"options":{"with":["leads","catalog_elements","customers"]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-11360,288],"id":"de3f7d35-12ee-4c29-ad31-d3f0139f5314","name":"GET_CONTACTS","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-10240,432],"id":"821a67c4-484a-4cfe-8fc5-298836d7a1f3","name":"Limit1"},{"parameters":{"resource":"contacts","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},"options":{"with":["leads"]},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-10016,432],"id":"a99bf700-e917-450f-920d-e1ccb9757d00","name":"GET_CONTACTS1","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12032,432],"id":"d59ceede-707e-4b50-bcd2-39b331e5b888","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce36e847-3d08-4291-9338-d8d5265920bc","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11584,432],"id":"2f54b72a-5262-4b1a-92cc-904ced276c1e","name":"If8"},{"parameters":{"tableId":"clientes_petiscos_alimentos","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('GET_CONTACTS').item.json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},{"fieldId":"kommo_lead_id","fieldValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},{"fieldId":"kommo_contact_id","fieldValue":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},{"fieldId":"nome","fieldValue":"={{ $('GET_CONTACTS').item.json._embedded.contacts[0].name }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"thread_id","fieldValue":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10912,288],"id":"c4915366-3c8f-4a01-8fa2-d1331a36c422","name":"Supabase1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9db647-7305-4557-8c44-88545cf388dd","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fa75777c-d821-4bc9-85cb-ebe618877ce8","leftValue":"={{ $json.kommo_lead_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"12259eb7-bba3-41c5-85ae-1371a24d206d","leftValue":"={{ $json.kommo_contact_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11136,528],"id":"e576da6b-e3f9-48ad-acb4-00328389d1d1","name":"EXISTE TODAS AS INTEGRACOS?1"},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10688,432],"id":"f177b06c-b780-4e95-958b-170f9b7ea43d","name":"Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"update","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","condition":"eq","keyValue":"={{ $('EXISTE TODAS AS INTEGRACOS?1').item.json.kommo_lead_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10912,624],"id":"d1e91a82-c649-4f18-97ac-4271333526e8","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-9120,432],"id":"ebd383dc-f8b5-4aef-a25d-34c067bdd8e1","name":"Supabase4","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"319e408b-b05c-4b8d-8047-0dfdba28bd15","leftValue":"={{ $json.json }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-11136,288],"id":"e1c95212-1924-402c-86f5-095004a9c6d2","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-11808,432],"id":"31d27fa2-0689-4d89-aec2-1e1b07f8cb1f","name":"Limit"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-7104,560],"id":"ff95ef34-f2b7-48a8-9147-8fb322133dcf","name":"INPUT_MERGE"},{"parameters":{"amount":1},"id":"a11f44f4-791b-41b2-a3e5-4fcf4af170a3","name":"Wait 5 seconds1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6880,672],"webhookId":"428509ad-7fbc-475b-af04-50706ec568ae"},{"parameters":{"operation":"get","propertyName":"messages","key":"=chat-buffer-{{ $json.chat.id }}","keyType":"list","options":{}},"id":"6a53cd6d-483c-471e-a9e7-44865dc9e1f8","name":"Get messages1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6656,672],"credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"d4689716-6329-4c37-9e00-e900d908fee8","name":"contact","value":"={{ $('INPUT_MERGE').item.json.contact }}","type":"object"},{"id":"aefa2732-2000-4dcc-a821-40a3ce74c935","name":"chat","value":"={{ $('INPUT_MERGE').item.json.chat }}","type":"object"},{"id":"fb68c814-1b7c-475d-9539-98051d486cfc","name":"chat.input","value":"={{ $json.messages.join(\"\\n\") }}","type":"string"},{"id":"f4bbc578-3fc5-404e-8caa-28e178fbf193","name":"kommo","value":"={{ $node[\"Meta\"].json[\"body\"] }}","type":"object"},{"id":"e67428ff-6b4f-4599-8a19-9a744226f0c8","name":"kommo.pipeline_id","value":"={{ $node[\"busca_lead\"].json[\"_embedded\"][\"leads\"][\"0\"][\"pipeline_id\"] }}","type":"string"},{"id":"07531fe9-3d3d-4683-ad09-2a3b8baa293f","name":"kommo_responsible_user_id","value":"={{ $('busca_lead').last().json._embedded.leads[0].responsible_user_id }}","type":"string"}]},"options":{}},"id":"e3b02661-f792-4ed5-ba49-7aa512d1e3c2","name":"Buffer message1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2084b6b9-ee2f-402f-9877-d045d566b774","leftValue":"={{ $('INPUT_MERGE').item.json.chat.input }}","rightValue":"={{ $json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"67e2b8a5-4d68-45c0-b977-71c3f57e8eff","name":"Buffer full?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6432,672]},{"parameters":{"operation":"delete","key":"=chat-buffer-{{ $('INPUT_MERGE').item.json.chat.id }}"},"id":"f28e0d35-de27-415c-9046-76873175ae9a","name":"Empty buffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6208,672],"credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"Limit1\"].json[\"chat\"][\"text\"] }}","type":"string"}]},"options":{}},"id":"b3bd9e78-275c-4192-a256-df8ca3f07dae","name":"IA Agent text param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,560]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"82d26c5f-b574-455b-bfad-2086f7e2f622","name":"IA Agent audio param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,-48]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"=contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"Limit1\"].json[\"chat\"][\"text\"] }} - {{ $json.content }}","type":"string"}]},"options":{}},"id":"414c7f89-d090-4388-95a0-54fbbd23b4ef","name":"IA Agent image param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,336]},{"parameters":{"workflowId":{"__rl":true,"value":"I2AS5ZpWbrZveFse","mode":"list","cachedResultName":"[PETISCOS ALIMENTOS] Agente IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5760,672],"id":"b6a8ed59-1860-40f0-b0bf-658a4d1999d4","name":"Call AI Agent1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f3b798fb-ca1a-4b8e-9177-a58bd17627c5","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"05682ffa-a838-414a-a535-4b6a5bfa2ab6","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5f23238c-032c-42ee-aa95-b448d01fe3ef","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sticker"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"65644231-7e18-40d4-bef2-81a08c3c767f","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{"fallbackOutput":"none"}},"id":"f9750afa-5784-47f1-ab74-690e075bcb2e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-8672,384]},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,336],"id":"22307e8d-102d-49f6-b714-6fa0c36f0c8f","name":"HTTP Request2","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Você é um assistente de IA especializado em extrair informações de documentos de identificação brasileiros, como Carteira Nacional de Habilitação (CNH) e Registro Geral (RG). Sua tarefa é analisar a imagem fornecida, identificar o tipo de documento e mapear os dados relevantes.\n\nAqui estão os campos de dados que você deve procurar em diferentes documentos:\n\nPara CNH brasileira:\n1. Nome completo\n2. Data de nascimento\n3. Número do registro (Nº Registro)\n4. Data de primeira habilitação\n5. Data de validade\n6. Categoria da CNH\n7. CPF\n8. Filiação (nome dos pais)\n9. Foto do condutor\n\nPara RG brasileiro:\n1. Nome completo\n2. Data de nascimento\n3. Número do RG\n4. Data de expedição\n5. Órgão expedidor\n6. CPF (quando disponível)\n7. Filiação (nome dos pais)\n8. Naturalidade\n9. Foto do portador\n\nInstruções para processamento da imagem:\n\n1. Analise cuidadosamente a imagem do documento fornecida\n2. Identifique o tipo de documento (CNH, RG ou outro)\n3. Extraia as informações correspondentes ao tipo de documento\n4. Se algum campo não estiver visível ou legível na imagem, indique como \"Não visível\" ou \"Ilegível\"\n5. Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída\n\nForneça a saída no seguinte formato XML, de acordo com o tipo de documento identificado:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_registro></numero_registro>\n  <data_primeira_habilitacao></data_primeira_habilitacao>\n  <data_validade></data_validade>\n  <categoria></categoria>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <foto_condutor>Presente/Ausente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_rg></numero_rg>\n  <data_expedicao></data_expedicao>\n  <orgao_expedidor></orgao_expedidor>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <naturalidade></naturalidade>\n  <foto_portador>Presente/Ausente</foto_portador>\n</documento>\n\nSe houver algum problema com a imagem ou se não for possível extrair as informações, forneça uma explicação dentro de tags <erro></erro>.\n\nExemplos de saída esperada:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome>João Silva Santos</nome>\n  <data_nascimento>15/03/1985</data_nascimento>\n  <numero_registro>12345678901</numero_registro>\n  <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\n  <data_validade>15/03/2025</data_validade>\n  <categoria>AB</categoria>\n  <cpf>123.456.789-00</cpf>\n  <filiacao>\n    <pai>José Santos</pai>\n    <mae>Maria Silva</mae>\n  </filiacao>\n  <foto_condutor>Presente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome>Ana Souza Lima</nome>\n  <data_nascimento>22/07/1990</data_nascimento>\n  <numero_rg>12.345.678-9</numero_rg>\n  <data_expedicao>18/09/2015</data_expedicao>\n  <orgao_expedidor>SSP/SP</orgao_expedidor>\n  <cpf>987.654.321-00</cpf>\n  <filiacao>\n    <pai>Carlos Lima</pai>\n    <mae>Sandra Souza</mae>\n  </filiacao>\n  <naturalidade>São Paulo/SP</naturalidade>\n  <foto_portador>Presente</foto_portador>\n</documento>\n\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,336],"id":"300de2ad-5bc3-4414-9404-dea10920cd8d","name":"OpenAI_imagem1","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,944],"id":"6fc966cb-24e6-411b-a344-8f275b633409","name":"HTTP Request5","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"# 🖼️ Prompt – Analisador de Stickers (WhatsApp)\n\n## 🎯 Objetivo\n\nReceber um **sticker** e retornar uma **única descrição fiel**, em **primeira pessoa**, iniciando sempre com:\n\n> **“Descrição do sticker que enviei:”**\n\n---\n\n## 📌 Instruções\n\n1. **Foque apenas no sticker** – ignore contexto, marcas ou interpretações.\n2. Descreva **somente o que vê**: personagens, objetos, gestos, cores, emoções, estilo do traço.\n3. Use linguagem simples, como se você (cliente) estivesse explicando o sticker a alguém.\n4. Não cite marcas, não faça julgamentos, não recomende nada.\n\n---\n\n## 📝 Exemplo de Saída\n\n> **Descrição do sticker que enviei:** um herói montado em um cavalo, levantando o polegar em sinal de “ok” e sorrindo de forma positiva.","inputType":"=base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,944],"id":"250d0afc-0eeb-4906-9b25-0b656a96c919","name":"OpenAI_sticker","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"url":"={{ $('Meta').last().json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8000,144],"id":"979a3143-97ca-43af-91a4-f454aa755efc","name":"HTTP Request4","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cea9e606-664d-4227-916f-998cf9474bb7","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8224,512],"id":"301f6682-70ef-4bf0-9d40-3675e2c661f9","name":"documento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cdb7215-46aa-40de-b52c-71b8ffb16b72","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8448,480],"id":"ce60c21a-1dda-4765-9f9d-a4a2fb20e964","name":"imagem_com_legenda"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-7776,144],"id":"562eb3a5-f97e-4016-b868-425658a76bff","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCYA_8wSk-TPA39xLQO2Ht9n1tvyElhChw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"application/pdf\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"Olá, Gemini! Tenho um PDF para você analisar e preciso que você realize duas tarefas distintas com ele, fornecendo as respostas de forma separada.\\n\\n**Muito importante: Quero que sua resposta comece *exatamente* com o texto gerado para a \\\"Tarefa 1\\\", sem qualquer frase de introdução sua (como \\\"Claro, aqui está o que você pediu:\\\", \\\"Okay, aqui estão as tarefas:\\\", etc.). A sua resposta deve ser o texto final que eu, como usuário, estaria fornecendo, começando diretamente com a primeira pessoa do resumo.**\\n\\n**Tarefa 1: Resumo do Conteúdo do PDF**\\n\\nPor favor, leia este PDF e escreva um resumo em primeira pessoa, como se eu mesmo estivesse explicando o conteúdo para alguém.\\n* Comece com a frase: 'Estou enviando este PDF que fala sobre...'\\n* Continue naturalmente, como se estivesse contando com suas próprias palavras.\\n* Não mencione que é um resumo ou que foi gerado por uma IA.\\n* Escreva em português do Brasil, de forma clara, fluida e humana.\\n\\n**Tarefa 2: Extração de Dados de Documentos de Identificação (RG/CNH)**\\n\\nSe, durante a análise do PDF, você identificar imagens que pareçam ser de documentos de identificação brasileiros (como Carteira Nacional de Habilitação - CNH ou Registro Geral - RG), quero que você extraia as informações desses documentos.\\n\\n* **Introdução em primeira pessoa:** Antes de apresentar os dados extraídos em XML, inclua uma frase introdutória em primeira pessoa, como por exemplo: \\\"Ah, e neste PDF também encontrei os seguintes dados de um documento de identificação que precisei registrar:\\\" ou \\\"Além do conteúdo principal, identifiquei e estou te passando os dados de um documento que estava anexado:\\\".\\n* **Instruções para Extração e Formato:**\\n    * Você atuará como um assistente de IA especializado em extrair informações de documentos de identificação brasileiros. Sua tarefa é analisar a imagem do documento fornecida dentro do PDF, identificar o tipo de documento e mapear os dados relevantes.\\n    * **Campos de dados a procurar:**\\n        * **Para CNH brasileira:**\\n            1.  Nome completo\\n            2.  Data de nascimento\\n            3.  Número do registro (Nº Registro)\\n            4.  Data de primeira habilitação\\n            5.  Data de validade\\n            6.  Categoria da CNH\\n            7.  CPF\\n            8.  Filiação (nome dos pais)\\n            9.  Foto do condutor (indicar \\\"Presente\\\" ou \\\"Ausente/Não visível\\\")\\n        * **Para RG brasileiro:**\\n            1.  Nome completo\\n            2.  Data de nascimento\\n            3.  Número do RG\\n            4.  Data de expedição\\n            5.  Órgão expedidor\\n            6.  CPF (quando disponível)\\n            7.  Filiação (nome dos pais)\\n            8.  Naturalidade\\n            9.  Foto do portador (indicar \\\"Presente\\\" ou \\\"Ausente/Não visível\\\")\\n    * **Processamento da imagem do documento:**\\n        1.  Analise cuidadosamente a imagem do documento contida no PDF.\\n        2.  Identifique o tipo de documento (CNH, RG ou outro).\\n        3.  Extraia as informações correspondentes ao tipo de documento.\\n        4.  Se algum campo não estiver visível ou legível na imagem, indique como \\\"Não visível\\\" ou \\\"Ilegível\\\".\\n        5.  Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída dentro das tags `<erro>`.\\n    * **Formato de Saída (XML):**\\n        * **Para CNH:**\\n            ```xml\\n            <documento tipo=\\\"cnh\\\">\\n              <nome></nome>\\n              <data_nascimento></data_nascimento>\\n              <numero_registro></numero_registro>\\n              <data_primeira_habilitacao></data_primeira_habilitacao>\\n              <data_validade></data_validade>\\n              <categoria></categoria>\\n              <cpf></cpf>\\n              <filiacao>\\n                <pai></pai>\\n                <mae></mae>\\n              </filiacao>\\n              <foto_condutor>Presente/Ausente</foto_condutor>\\n            </documento>\\n            ```\\n        * **Para RG:**\\n            ```xml\\n            <documento tipo=\\\"rg\\\">\\n              <nome></nome>\\n              <data_nascimento></data_nascimento>\\n              <numero_rg></numero_rg>\\n              <data_expedicao></data_expedicao>\\n              <orgao_expedidor></orgao_expedidor>\\n              <cpf></cpf>\\n              <filiacao>\\n                <pai></pai>\\n                <mae></mae>\\n              </filiacao>\\n              <naturalidade></naturalidade>\\n              <foto_portador>Presente/Ausente</foto_portador>\\n            </documento>\\n            ```\\n        * **Em caso de erro na extração ou documento inválido:**\\n            ```xml\\n            <erro>Explicação do problema aqui.</erro>\\n            ```\\n    * **Exemplos de Saída Esperada (para a parte de extração):**\\n        * **Para CNH:**\\n            ```xml\\n            <documento tipo=\\\"cnh\\\">\\n              <nome>João Silva Santos</nome>\\n              <data_nascimento>15/03/1985</data_nascimento>\\n              <numero_registro>12345678901</numero_registro>\\n              <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\\n              <data_validade>15/03/2025</data_validade>\\n              <categoria>AB</categoria>\\n              <cpf>123.456.789-00</cpf>\\n              <filiacao>\\n                <pai>José Santos</pai>\\n                <mae>Maria Silva</mae>\\n              </filiacao>\\n              <foto_condutor>Presente</foto_condutor>\\n            </documento>\\n            ```\\n        * **Para RG:**\\n            ```xml\\n            <documento tipo=\\\"rg\\\">\\n              <nome>Ana Souza Lima</nome>\\n              <data_nascimento>22/07/1990</data_nascimento>\\n              <numero_rg>12.345.678-9</numero_rg>\\n              <data_expedicao>18/09/2015</data_expedicao>\\n              <orgao_expedidor>SSP/SP</orgao_expedidor>\\n              <cpf>987.654.321-00</cpf>\\n              <filiacao>\\n                <pai>Carlos Lima</pai>\\n                <mae>Sandra Souza</mae>\\n              </filiacao>\\n              <naturalidade>São Paulo/SP</naturalidade>\\n              <foto_portador>Presente</foto_portador>\\n            </documento>\\n            ```\\n\\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.\\nSe não houver nenhum documento de identificação no PDF, apenas a Tarefa 1 (resumo) deve ser completada.\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7552,144],"id":"6b4c98fd-2b3a-4958-89aa-9bf012814f3b","name":"HTTP Request6"},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,-48],"id":"13f128e5-56b4-4f59-b802-d35b74d99208","name":"HTTP Request7","retryOnFail":true},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,752],"id":"82619619-d7cb-439b-9611-ce5367f3fbfe","name":"HTTP Request8","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Você é um assistente de IA especializado em extrair informações de documentos de identificação brasileiros, como Carteira Nacional de Habilitação (CNH) e Registro Geral (RG). Sua tarefa é analisar a imagem fornecida, identificar o tipo de documento e mapear os dados relevantes.\n\nAqui estão os campos de dados que você deve procurar em diferentes documentos:\n\nPara CNH brasileira:\n1. Nome completo\n2. Data de nascimento\n3. Número do registro (Nº Registro)\n4. Data de primeira habilitação\n5. Data de validade\n6. Categoria da CNH\n7. CPF\n8. Filiação (nome dos pais)\n9. Foto do condutor\n\nPara RG brasileiro:\n1. Nome completo\n2. Data de nascimento\n3. Número do RG\n4. Data de expedição\n5. Órgão expedidor\n6. CPF (quando disponível)\n7. Filiação (nome dos pais)\n8. Naturalidade\n9. Foto do portador\n\nInstruções para processamento da imagem:\n\n1. Analise cuidadosamente a imagem do documento fornecida\n2. Identifique o tipo de documento (CNH, RG ou outro)\n3. Extraia as informações correspondentes ao tipo de documento\n4. Se algum campo não estiver visível ou legível na imagem, indique como \"Não visível\" ou \"Ilegível\"\n5. Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída\n\nForneça a saída no seguinte formato XML, de acordo com o tipo de documento identificado:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_registro></numero_registro>\n  <data_primeira_habilitacao></data_primeira_habilitacao>\n  <data_validade></data_validade>\n  <categoria></categoria>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <foto_condutor>Presente/Ausente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_rg></numero_rg>\n  <data_expedicao></data_expedicao>\n  <orgao_expedidor></orgao_expedidor>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <naturalidade></naturalidade>\n  <foto_portador>Presente/Ausente</foto_portador>\n</documento>\n\nSe houver algum problema com a imagem ou se não for possível extrair as informações, forneça uma explicação dentro de tags <erro></erro>.\n\nExemplos de saída esperada:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome>João Silva Santos</nome>\n  <data_nascimento>15/03/1985</data_nascimento>\n  <numero_registro>12345678901</numero_registro>\n  <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\n  <data_validade>15/03/2025</data_validade>\n  <categoria>AB</categoria>\n  <cpf>123.456.789-00</cpf>\n  <filiacao>\n    <pai>José Santos</pai>\n    <mae>Maria Silva</mae>\n  </filiacao>\n  <foto_condutor>Presente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome>Ana Souza Lima</nome>\n  <data_nascimento>22/07/1990</data_nascimento>\n  <numero_rg>12.345.678-9</numero_rg>\n  <data_expedicao>18/09/2015</data_expedicao>\n  <orgao_expedidor>SSP/SP</orgao_expedidor>\n  <cpf>987.654.321-00</cpf>\n  <filiacao>\n    <pai>Carlos Lima</pai>\n    <mae>Sandra Souza</mae>\n  </filiacao>\n  <naturalidade>São Paulo/SP</naturalidade>\n  <foto_portador>Presente</foto_portador>\n</documento>\n\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,752],"id":"a30e5a67-7098-4043-a537-5e7026146c3e","name":"OpenAI_imagem2","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,-48],"id":"64632090-163f-4244-bb42-ac0ee4c95533","name":"transcreve1","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"HTTP Request6\"].json[\"candidates\"][\"0\"][\"content\"][\"parts\"][\"0\"][\"text\"] }}","type":"string"}]},"options":{}},"id":"96770a9f-3474-494b-a873-2469b08df697","name":"IA Agent PDF param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,144]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"d57bd18d-5b04-441f-8697-18acda5bda13","name":"IA Agent image param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,752]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"b2390a82-c93e-4ff5-ae00-b52ddae92e5a","name":"IA Agent Sticker param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,944]},{"parameters":{"operation":"delete","key":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-12256,96],"id":"ffffa411-26d1-47af-a5d2-41034ba949e0","name":"Redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4736,720],"id":"f536435b-4418-4f1e-ad8e-717ad62aeb57","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4512,720],"id":"c42d3048-dd33-424e-940f-35d107916adb","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4288,528],"id":"b450efe1-9a54-47cf-9490-3cb316413daf","name":"Aggregate"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# **Role**\n\nVocê é um especialista em formatação de mensagens para redes sociais, com foco em manter a organização visual, legibilidade e coerência textual. Sua principal responsabilidade é estruturar mensagens longas com quebras de linha estratégicas, preservando o conteúdo original, para que sejam entregues no Instagram via N8N em um loop.\n\n---\n\n# **Task**\n\nOrganize mensagens longas em um formato que:\n\n1. Utilize uma linha em branco entre parágrafos ou tópicos, mantendo uma aparência limpa e fluida, sem a inserção de códigos de formatação para quebras de linha.\n2. Preserve a estrutura original, incluindo listas.\n3. Seja fácil de ler e esteticamente agradável, especialmente para redes sociais.\n4. Não interprete, censure ou modifique o conteúdo da mensagem recebida; sua única função é formatar e organizar.\n5. Cada parte deve conter o mais próximo possível de 700 caracteres, sem alterar o conteúdo, e mantendo a coerência textual.\n6. Estruture a saída exatamente no seguinte formato JSON:\n\n[\n  {\n    \"part\": 1,\n    \"message\": \"✅ Tudo certo! Seguem os petiscos disponíveis para atacado:\\n\\n101 - PETISCO CROCANTE SABOR FRANGO 50g - CX 40 UNI\\n102 - PETISCO CROCANTE SABOR CARNE 50g - CX 40 UNI\\n103 - PETISCO CROCANTE SABOR BACON 50g - CX 40 UNI\\n104 - PETISCO CROCANTE SABOR QUEIJO 50g - CX 40 UNI\\n105 - PETISCO CROCANTE SABOR CEBOLA E SALSA 50g - CX 40 UNI\\n110 - MIX DE AMENDOIM SABOR PIMENTA 80g - CX 30 UNI\\n111 - MIX DE AMENDOIM SABOR CHURRASCO 80g - CX 30 UNI\\n112 - MIX DE AMENDOIM SABOR LIMÃO 80g - CX 30 UNI\\n113 - MIX DE AMENDOIM SABOR BARBECUE 80g - CX 30 UNI\"\n  },\n  {\n    \"part\": 2,\n    \"message\": \"201 - MINI TORRADA SABOR ALHO 100g - CX 20 UNI\\n202 - MINI TORRADA SABOR ALECRIM 100g - CX 20 UNI\\n203 - MINI TORRADA SABOR TOMATE SECO 100g - CX 20 UNI\\n210 - BATATA CHIPS SABOR ORIGINAL 120g - CX 24 UNI\\n211 - BATATA CHIPS SABOR CHEDDAR 120g - CX 24 UNI\\n212 - BATATA CHIPS SABOR PÁPRICA 120g - CX 24 UNI\\n213 - BATATA CHIPS SABOR ERVAS FINAS 120g - CX 24 UNI\\n\\nPor favor, me diga os códigos dos petiscos desejados e a quantidade de caixas de cada um 📦\\n\\nExemplo: 110, 113 – quero 30 caixas de cada\\nOu: quero 10 caixas da 101 e 10 caixas da 104\"\n  }\n]\n\n\n---\n\n# **Specifics**\n\n1. **Quebras de linha:** Utilize uma linha em branco entre parágrafos e tópicos para organizar a mensagem e quebrar linhas.\n2. **Listas:** Garanta que os itens de listas sejam claramente separados, com uma linha em branco entre a introdução da lista e seus itens.\n3. **Tamanho das partes:** Cada parte deve ter aproximadamente 700 caracteres, respeitando a coesão e a lógica do texto. Se possível, ajuste a divisão sem alterar o conteúdo original.\n4. **Formatação:** Preserve emojis, hierarquia e qualquer formatação original da mensagem.\n5. **Foco no objetivo:** Não aplique censura, interpretações morais ou edite o conteúdo; sua tarefa é exclusivamente particionar o texto.\n6. **Preservação do conteúdo:** Não remova ou altere informações, mesmo que contenham dados pessoais ou sensíveis.\n\n---\n\n# **Examples**\n\n## Entrada\n\nMensagem:\n\"{{ $json.output }}\"\n\n## Saída\n\n[\n  {\n    \"part\": 1,\n    \"message\": \"✅ Tudo certo! Seguem os petiscos disponíveis para atacado:\\n\\n101 - PETISCO CROCANTE SABOR FRANGO 50g - CX 40 UNI\\n102 - PETISCO CROCANTE SABOR CARNE 50g - CX 40 UNI\\n103 - PETISCO CROCANTE SABOR BACON 50g - CX 40 UNI\\n104 - PETISCO CROCANTE SABOR QUEIJO 50g - CX 40 UNI\\n105 - PETISCO CROCANTE SABOR CEBOLA E SALSA 50g - CX 40 UNI\\n110 - MIX DE AMENDOIM SABOR PIMENTA 80g - CX 30 UNI\\n111 - MIX DE AMENDOIM SABOR CHURRASCO 80g - CX 30 UNI\\n112 - MIX DE AMENDOIM SABOR LIMÃO 80g - CX 30 UNI\\n113 - MIX DE AMENDOIM SABOR BARBECUE 80g - CX 30 UNI\"\n  },\n  {\n    \"part\": 2,\n    \"message\": \"201 - MINI TORRADA SABOR ALHO 100g - CX 20 UNI\\n202 - MINI TORRADA SABOR ALECRIM 100g - CX 20 UNI\\n203 - MINI TORRADA SABOR TOMATE SECO 100g - CX 20 UNI\\n210 - BATATA CHIPS SABOR ORIGINAL 120g - CX 24 UNI\\n211 - BATATA CHIPS SABOR CHEDDAR 120g - CX 24 UNI\\n212 - BATATA CHIPS SABOR PÁPRICA 120g - CX 24 UNI\\n213 - BATATA CHIPS SABOR ERVAS FINAS 120g - CX 24 UNI\\n\\nPor favor, me diga os códigos dos petiscos desejados e a quantidade de caixas de cada um 📦\\n\\nExemplo: 110, 113 – quero 30 caixas de cada\\nOu: quero 10 caixas da 101 e 10 caixas da 104\"\n  }\n]\n\n---\n\n# **Notes**\n\n1. Divida a mensagem em blocos coerentes, respeitando as ideias principais de cada segmento.\n2. Certifique-se de que os espaçamentos deixem a mensagem clara e esteticamente agradável, sem compactação ou desorganização do conteúdo.\n3. O resultado deve ser um JSON exatamente no formato especificado, sem markdown ou formatação adicional.\n4. Concentre-se exclusivamente na formatação e na divisão do texto, assegurando que cada parte tenha aproximadamente 700 caracteres sempre que possível.","role":"system"},{"content":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*') }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5312,720],"id":"60946452-92e0-4633-bdd5-a9bc469ee3b4","name":"OpenAI3","retryOnFail":true,"credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"assignments":{"assignments":[{"id":"f6681211-77a5-40c9-b73c-18d0c10872b4","name":"content","value":"={{ $json.message.content }}","type":"array"}]},"options":{}},"id":"c4a0f092-5b66-446e-a655-6820f8793a36","name":"normalizacao8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4960,720],"retryOnFail":true},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3840,800],"id":"af199e0f-e9a5-4a7e-8a37-13ae19cb204b","name":"Wait2","webhookId":"20f5cbd9-a9be-489d-8a3c-f12c9b829411"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d69bc0a-37d6-4a18-940e-0b07e7612d50","leftValue":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*').length }}","rightValue":1100,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5536,672],"id":"57878b26-22b1-4cb6-80d0-7103873d03c1","name":"If2"},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*') }}"},{"name":"recipient_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $node[\"Meta\"].json[\"body\"]['account[id]'] }}"},{"name":"skip_link_shortener","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"064152fd-7684-462f-8771-aeb034115761","name":"Recieve message5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4288,336]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4288,720],"id":"23bf67c9-32ac-4bc3-9462-9deaa110616b","name":"pega_token1","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $('Loop Over Items').item.json.message.replace(/\\*\\*/g, '*') }}"},{"name":"recipient_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $node[\"Meta\"].json[\"body\"]['account[id]'] }}"},{"name":"skip_link_shortener","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"2e4996f3-8ca0-45f2-a9ea-2f5193dffa39","name":"Recieve message4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4064,720]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4512,336],"id":"80238499-513f-4ddc-81a5-96505d6c7f5d","name":"pega_token3","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"delete","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","condition":"eq","keyValue":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}"}]}},"id":"30b7dd04-c56e-4e93-a91e-028d2061b5ff","name":"Deleta o numero de telefone na tabela","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12032,96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"f46909d5-0491-4c49-b17f-17ea12fc6979","name":"number","value":"={{ $json.whatsapp }}","type":"string"},{"id":"51118a05-d1f3-47f5-b6f4-1dae17c3923e","name":"text","value":"_Dados Apagados_","type":"string"},{"id":"5a47fa5d-1159-45f2-9800-39dbc87d42ef","name":"delay","value":2000,"type":"number"}]},"options":{}},"id":"e94be149-42b6-4888-a257-cc2da7da6524","name":"Faz o corpo do HTTP","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11808,96]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11584,96],"id":"3f1289cd-2d85-418e-8e74-d5131b391b4b","name":"pega_token2","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $('Meta').last().json.body['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $('Meta').last().json.body['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $('Meta').last().json.body['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $('Meta').last().json.body['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $('Faz o corpo do HTTP').last().json.text }}"},{"name":"recipient_id","value":"={{ $('Meta').last().json.body['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $('Meta').last().json.body['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $('Meta').last().json.body['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $('Meta').last().json.body['account[id]'] }}"},{"name":"skip_link_shortener","value":"false"}]},"options":{"redirect":{"redirect":{}}}},"id":"c864df10-bff6-424d-b8ff-617d3629e38d","name":"Recieve message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11360,96]},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}","pipeline_id":"={{ $item(\"0\").$node[\"GET - Lead4\"].json[\"_embedded\"][\"leads\"][\"0\"][\"pipeline_id\"] }}","status_id":0,"custom_fields_values":{"custom_field":[{"data":"{\"id\":851060,\"type\":\"checkbox\"}","value":"false"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-10912,96],"id":"c4273840-dcef-4029-8c30-ae87a34e761c","name":"Add Dados3","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"leads","filter":{"id":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-11136,96],"id":"0c0a24a6-cbf8-4e70-9098-79f04bfc0f0f","name":"GET - Lead4","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"push","list":"=chat-buffer-{{ $json.chat.id }}","messageData":"={{ $json.chat.input }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6880,480],"id":"f1f61a1d-8ed9-46ea-af13-c560f8321812","name":"Redis1","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-8896,432],"id":"44ecb28a-58fd-4539-afd7-c8687382d817","name":"Limit2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94f40c71-f948-400b-9d0e-94697423c1bb","leftValue":"={{ $json._embedded.leads[0].pipeline_id }}","rightValue":11219503,"operator":{"type":"number","operation":"equals"}},{"id":"81809b4c-e4ca-4a09-87e3-8c2d9cca35b9","leftValue":"={{ $json._embedded.leads[0].pipeline_id }}","rightValue":11220287,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-12736,336],"id":"3826de48-eb6d-4bd8-92c7-55583dbae6d3","name":"filtra_pipeline","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba9314a6-0171-4cdd-804f-4e94542359b9","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"17485082","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"057a7098-888f-488b-8fa6-ace48c589499","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"21070872","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6d88bdf2-502a-4294-9892-a66750c8edd4","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"21774742","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e9b8e572-d957-41bf-99a9-2e8f6ded1078","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15112806","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5c973b02-be76-46e1-88df-98e167f238ba","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15161098","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1b2e3865-e058-44fe-a6d2-6f75f6894d96","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"14978916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bdda9b9f-2730-45d0-9c98-449b76e625d1","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"16344610","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b8a1cea5-db64-4d5d-b90b-95ba9f4cd99b","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15575916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-13168,336],"id":"79563617-bd65-43fb-b18e-eebe8138121d","name":"filtra_origem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"724178b6-3b73-489a-9de4-3e9cee9e8a54","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","rightValue":"/r","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12480,336],"id":"55c82868-379f-4c09-9798-2d35a1373512","name":"reset?"},{"parameters":{"dataToSave":{"values":[{"key":"usuario","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"id":"0d9070b1-1467-4621-9b5f-e7b5d51432e7","name":"log","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-12256,432],"onError":"continueRegularOutput"},{"parameters":{"resource":"leads","filter":{"id":"={{ $json.body[\"message[add][0][entity_id]\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-12960,336],"id":"4978cce6-3a70-4ce1-8165-fa28db246a90","name":"busca_lead","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"tableId":"clientes_atendidos_petiscos_alimentos_wpp","fieldsUi":{"fieldValues":[{"fieldId":"cliente_contact_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"message[add][0][contact_id]\"] }}"},{"fieldId":"lead_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"message[add][0][entity_id]\"] }}"},{"fieldId":"nome_cliente","fieldValue":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}"},{"fieldId":"empresa_kommo_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"account[id]\"] }}"},{"fieldId":"subdominio_kommo","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"account[subdomain]\"] }}"},{"fieldId":"nome_empresa","fieldValue":"Petiscos Alimentos"},{"fieldId":"canal_atendimento","fieldValue":"=WPP-{{ $node[\"Meta\"].json[\"body\"][\"message[add][0][origin]\"] }}"},{"fieldId":"data_atendimento","fieldValue":"={{ new Intl.DateTimeFormat('sv-SE', { timeZone: 'America/Sao_Paulo' }).format(new Date()) }}"},{"fieldId":"hora_atendimento","fieldValue":"={{ new Date().toLocaleTimeString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", hour12: false }) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4064,432],"id":"cdd8ae62-ae5c-4976-a05f-2a2371967938","name":"conta_atendimentos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3840,432],"id":"c0701e90-40b6-4637-ab7c-345b439a9426","name":"Limit3"},{"parameters":{"httpMethod":"POST","path":"peticosia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-13392,336],"id":"c358b05b-4932-4e6b-b7de-fed5e02ea3c7","name":"Meta","webhookId":"70684637-8f43-43a5-8c57-3636d16ff921"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2816,448],"id":"d5663b00-aec2-462f-9787-1ba2ec0613cc","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"handoff-detect-001","leftValue":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"] }}","rightValue":"especialista","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5660,672],"id":"detecta-handoff-001","name":"Detecta Handoff"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $(\"Meta\").last().json.body[\"message[add][0][entity_id]\"] }}","pipeline_id":"={{ $(\"busca_lead\").last().json._embedded.leads[0].pipeline_id }}","custom_fields_values":{"custom_field":[{"data":"{\"id\":1110114,\"type\":\"checkbox\"}","value":"true"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-5660,480],"id":"ativa-parar-ia-001","name":"Ativa PARAR IA","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"continueOnFail":true}],"connections":{"EVO_CHAT1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Supabase4","type":"main","index":0}]]},"Verifica se o campo [Parar bot] está true ou false":{"main":[[{"node":"If1","type":"main","index":0}]]},"GET - Lead":{"main":[[{"node":"Verifica se o campo [Parar bot] está true ou false","type":"main","index":0}]]},"GET_CONTACTS":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"GET_CONTACTS1","type":"main","index":0}]]},"GET_CONTACTS1":{"main":[[{"node":"GET - Lead","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Limit","type":"main","index":0}]]},"If8":{"main":[[{"node":"GET_CONTACTS","type":"main","index":0}],[{"node":"EXISTE TODAS AS INTEGRACOS?1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"EXISTE TODAS AS INTEGRACOS?1":{"main":[[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase3","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"EVO_CHAT1","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"If8","type":"main","index":0}]]},"INPUT_MERGE":{"main":[[{"node":"Wait 5 seconds1","type":"main","index":0},{"node":"Redis1","type":"main","index":0}]]},"Wait 5 seconds1":{"main":[[{"node":"Get messages1","type":"main","index":0}]]},"Get messages1":{"main":[[{"node":"Buffer full?1","type":"main","index":0}]]},"Buffer message1":{"main":[[{"node":"Call AI Agent1","type":"main","index":0}]]},"Buffer full?1":{"main":[[{"node":"Empty buffer1","type":"main","index":0}]]},"Empty buffer1":{"main":[[{"node":"Buffer message1","type":"main","index":0}]]},"IA Agent text param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":3}]]},"IA Agent audio param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":0}]]},"IA Agent image param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":1}]]},"Call AI Agent1":{"main":[[{"node":"Detecta Handoff","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request7","type":"main","index":0}],[{"node":"imagem_com_legenda","type":"main","index":0}],[{"node":"HTTP Request8","type":"main","index":0}],[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"OpenAI_imagem1","type":"main","index":0}]]},"OpenAI_imagem1":{"main":[[{"node":"IA Agent image param1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"OpenAI_sticker","type":"main","index":0}]]},"OpenAI_sticker":{"main":[[{"node":"IA Agent Sticker param","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"documento":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"IA Agent text param1","type":"main","index":0}]]},"imagem_com_legenda":{"main":[[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"documento","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"IA Agent PDF param","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"transcreve1","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"OpenAI_imagem2","type":"main","index":0}]]},"OpenAI_imagem2":{"main":[[{"node":"IA Agent image param","type":"main","index":0}]]},"transcreve1":{"main":[[{"node":"IA Agent audio param1","type":"main","index":0}]]},"IA Agent PDF param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":2}]]},"IA Agent image param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":4}]]},"IA Agent Sticker param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":5}]]},"Redis":{"main":[[{"node":"Deleta o numero de telefone na tabela","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"pega_token1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"conta_atendimentos","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"normalizacao8","type":"main","index":0}]]},"normalizacao8":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"pega_token3","type":"main","index":0}],[{"node":"OpenAI3","type":"main","index":0}]]},"Recieve message5":{"main":[[{"node":"conta_atendimentos","type":"main","index":0}]]},"pega_token1":{"main":[[{"node":"Recieve message4","type":"main","index":0}]]},"Recieve message4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"pega_token3":{"main":[[{"node":"Recieve message5","type":"main","index":0}]]},"Deleta o numero de telefone na tabela":{"main":[[{"node":"Faz o corpo do HTTP","type":"main","index":0}]]},"Faz o corpo do HTTP":{"main":[[{"node":"pega_token2","type":"main","index":0}]]},"pega_token2":{"main":[[{"node":"Recieve message","type":"main","index":0}]]},"Recieve message":{"main":[[{"node":"GET - Lead4","type":"main","index":0}]]},"GET - Lead4":{"main":[[{"node":"Add Dados3","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"filtra_pipeline":{"main":[[{"node":"reset?","type":"main","index":0}]]},"filtra_origem":{"main":[[{"node":"busca_lead","type":"main","index":0}]]},"reset?":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"log","type":"main","index":0}]]},"log":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"busca_lead":{"main":[[{"node":"filtra_pipeline","type":"main","index":0}]]},"conta_atendimentos":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Limit3":{"main":[[]]},"Meta":{"main":[[{"node":"filtra_origem","type":"main","index":0}]]},"Detecta Handoff":{"main":[[{"node":"Ativa PARAR IA","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Ativa PARAR IA":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Meta":[{"json":{"headers":{"host":"primary-production-9b0e9.up.railway.app","user-agent":"amoCRM-Webhooks/3.0","content-length":"953","accept-encoding":"gzip","content-type":"application/x-www-form-urlencoded","x-amocrm-requestid":"cb8c90f0-749b-4fef-acf6-9f4da2c90f40","x-forwarded-for":"204.74.253.164","x-forwarded-host":"primary-production-9b0e9.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"lKhG5QdcRGGJnJAKPvyhXg","x-real-ip":"204.74.253.164","x-request-start":"1757567531043"},"params":{},"query":{},"body":{"account[subdomain]":"petiscosalimentos","account[id]":"34642095","account[_links][self]":"https://petiscosalimentos.amocrm.com","message[add][0][id]":"780cea78-5aa6-449e-9432-cd9918502315","message[add][0][chat_id]":"c5b4582f-d4d7-4f5c-a77a-fb741c90195d","message[add][0][talk_id]":"3566","message[add][0][contact_id]":"21070872","message[add][0][text]":"teste","message[add][0][created_at]":"1757567530","message[add][0][element_type]":"2","message[add][0][entity_type]":"lead","message[add][0][element_id]":"13510664","message[add][0][entity_id]":"13510664","message[add][0][type]":"incoming","message[add][0][author][id]":"347f0ca1-ca48-449e-baa2-457a609fb131","message[add][0][author][type]":"external","message[add][0][author][name]":"Fábio Cavalcanti","message[add][0][origin]":"com.amocrm.amocrmwa"},"webhookUrl":"https://primary-production-9b0e9.up.railway.app/webhook/peticosia","executionMode":"production"}}]},"versionId":"af2188c1-4b90-44a5-9362-dae002cec323","activeVersionId":"af2188c1-4b90-44a5-9362-dae002cec323","versionCounter":46,"triggerCount":1,"shared":[{"updatedAt":"2026-02-17T03:43:03.330Z","createdAt":"2026-02-17T03:43:03.330Z","role":"workflow:owner","workflowId":"4zP3YIAiI1l9Fcdn","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-03T04:54:55.351Z","createdAt":"2026-03-03T04:54:55.351Z","versionId":"af2188c1-4b90-44a5-9362-dae002cec323","workflowId":"4zP3YIAiI1l9Fcdn","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"3e03c2cb-f552-4863-be46-4f3de73219e7","name":"chat.messageType","value":"={{(() => {\n  const msgType = $('Meta').item.json.body.data.messageType;\n\n  switch (msgType) {\n    case 'audioMessage':\n      return 'audio';\n    case 'extendedTextMessage':\n      return 'text';\n    case 'conversation':\n      return 'text';\n    case 'imageMessage':\n      return 'image';\n    case 'documentMessage':\n      return 'doc';\n    case 'stickerMessage':\n      return 'image';\n    default:\n      return 'unknown'; // Caso não corresponda a nenhum tipo\n  }\n})()}}","type":"string"},{"id":"9c35c382-1e76-41a8-8290-7fbc03e85fb9","name":"chat.url","value":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","type":"string"},{"id":"0b92a5a9-c89d-4cf2-9aa6-bc632b8e8921","name":"chat.text","value":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","type":"string"},{"id":"c914bb0f-295f-4c7f-92af-d3cf771fe9af","name":"chat.sender","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","type":"string"},{"id":"d8fed3e9-bf45-4036-9b96-d850076773cf","name":"chat.recipient","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"body\"][\"data\"][\"instanceId\"] }}","type":"string"},{"id":"7bf66bea-a209-4dc4-8305-5800b7001da4","name":"chat.base64","value":"=","type":"string"},{"id":"d41a5d80-5172-4d41-ba8b-25a27a9f1215","name":"chat.base64_mimetype","value":"={{ $('Meta').item.json.body.data.message.imageMessage.mimetype }}","type":"string"},{"id":"718c5000-0e4c-4eab-b091-982321f60f8a","name":"chat.instance","value":"={{ $('Meta').item.json.body.instance }}","type":"string"},{"id":"c56a1400-2389-4cbb-b5de-3da9234f7047","name":"user.user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"986bd686-74d1-4fe2-b2c8-f95b123a48d6","name":"user.user_first_name","value":"={{ $json.nome }}","type":"string"},{"id":"2257582d-a2b1-4dc6-b121-cb78751ac00c","name":"user.user_last_name","value":"={{ $json.user_last_name }}","type":"string"},{"id":"b53c5f50-c80e-455d-aced-8623c41e45f0","name":"user.user_email","value":"={{ $json.user_email }}","type":"string"},{"id":"7d779880-925a-4afd-934f-50e4f39c5a96","name":"user.user_phone_number","value":"={{ $json.whatsapp }}","type":"string"},{"id":"9e899a17-644d-4303-b7af-148b3afd5e6d","name":"user.user_accent","value":"={{ $json.user_accent }}","type":"string"},{"id":"f85e6b92-2e6e-4cf6-a727-e88e3bfac58e","name":"user.user_last_call_id","value":"={{ $json.user_last_call_id }}","type":"string"},{"id":"0e78d103-da58-4e23-ad81-38346341045f","name":"user.user_ig_sender_id","value":"={{ $json.user_ig_sender_id }}","type":"string"},{"id":"d072554a-09f9-4838-a79d-bae890d397ae","name":"user.user_last_ig_interaction","value":"={{ $json.user_last_ig_interaction }}","type":"string"},{"id":"70cd69ab-1039-4676-8e62-b0a6cad27c6a","name":"user.user_fb_sender_id","value":"={{ $json.user_fb_sender_id }}","type":"string"},{"id":"e88dc9b3-1c8a-4446-92a0-1e34d87f25bb","name":"user.user_last_fb_interaction","value":"={{ $json.user_last_fb_interaction }}","type":"string"},{"id":"96954d9f-c60f-4679-9696-123d877b6c8f","name":"user.user_last_interaction","value":"={{ $json.user_last_interaction }}","type":"string"},{"id":"1c6957ef-910d-4e4d-bb11-c932eb98db9f","name":"user.user_integration_kommo_lead_id","value":"={{ $json.kommo_lead_id }}","type":"string"},{"id":"487cc98d-9d4a-45c6-9c86-8f2f38739631","name":"user.user_integration_kommo_contact_id","value":"={{ $json.kommo_contact_id }}","type":"string"},{"id":"09ac1047-6c84-4390-9ecd-3c3d3b0e8093","name":"user.user_openai_thread_id","value":"={{ $json.thread_id }}","type":"string"}]},"options":{}},"id":"db3cac6a-68b7-4fed-8dc9-5e1abd863ef5","name":"EVO_CHAT1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10464,432],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44f09e32-1e43-4def-b9bb-99c6b22e9094","leftValue":"={{ $json.checkboxState }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9344,432],"id":"c6124474-bd02-4b69-bdbe-71924dcf8668","name":"If1"},{"parameters":{"jsCode":"return $json._embedded.leads.map(lead => {\n  const customFields = lead.custom_fields_values;\n\n  // Find the \"Parar bot\" field\n  const checkboxField = customFields?.find(field => field.field_name === 'PARAR IA');\n\n  // Determine the checkbox state\n  const isCheckboxActive = checkboxField?.values?.[0]?.value === true || false;\n\n  // Return the lead with an added field for the checkbox status\n  return {\n    json: {\n      id: lead.id,\n      name: lead.name,\n      checkboxState: isCheckboxActive\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9568,432],"id":"e169d931-071b-4635-85b2-20d8e4a8b0d4","name":"Verifica se o campo [Parar bot] está true ou false"},{"parameters":{"resource":"leads","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-9792,432],"id":"00ee457c-9f28-4aaf-af80-d7c916148020","name":"GET - Lead","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"resource":"contacts","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},"options":{"with":["leads","catalog_elements","customers"]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-11360,288],"id":"de3f7d35-12ee-4c29-ad31-d3f0139f5314","name":"GET_CONTACTS","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-10240,432],"id":"821a67c4-484a-4cfe-8fc5-298836d7a1f3","name":"Limit1"},{"parameters":{"resource":"contacts","filter":{"id":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},"options":{"with":["leads"]},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-10016,432],"id":"a99bf700-e917-450f-920d-e1ccb9757d00","name":"GET_CONTACTS1","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12032,432],"id":"d59ceede-707e-4b50-bcd2-39b331e5b888","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce36e847-3d08-4291-9338-d8d5265920bc","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11584,432],"id":"2f54b72a-5262-4b1a-92cc-904ced276c1e","name":"If8"},{"parameters":{"tableId":"clientes_petiscos_alimentos","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('GET_CONTACTS').item.json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},{"fieldId":"kommo_lead_id","fieldValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},{"fieldId":"kommo_contact_id","fieldValue":"={{ $('Meta').item.json.body[\"message[add][0][contact_id]\"] }}"},{"fieldId":"nome","fieldValue":"={{ $('GET_CONTACTS').item.json._embedded.contacts[0].name }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"thread_id","fieldValue":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10912,288],"id":"c4915366-3c8f-4a01-8fa2-d1331a36c422","name":"Supabase1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9db647-7305-4557-8c44-88545cf388dd","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fa75777c-d821-4bc9-85cb-ebe618877ce8","leftValue":"={{ $json.kommo_lead_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"12259eb7-bba3-41c5-85ae-1371a24d206d","leftValue":"={{ $json.kommo_contact_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11136,528],"id":"e576da6b-e3f9-48ad-acb4-00328389d1d1","name":"EXISTE TODAS AS INTEGRACOS?1"},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10688,432],"id":"f177b06c-b780-4e95-958b-170f9b7ea43d","name":"Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"update","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","condition":"eq","keyValue":"={{ $('EXISTE TODAS AS INTEGRACOS?1').item.json.kommo_lead_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10912,624],"id":"d1e91a82-c649-4f18-97ac-4271333526e8","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","keyValue":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-9120,432],"id":"ebd383dc-f8b5-4aef-a25d-34c067bdd8e1","name":"Supabase4","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"319e408b-b05c-4b8d-8047-0dfdba28bd15","leftValue":"={{ $json.json }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-11136,288],"id":"e1c95212-1924-402c-86f5-095004a9c6d2","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-11808,432],"id":"31d27fa2-0689-4d89-aec2-1e1b07f8cb1f","name":"Limit"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-7104,560],"id":"ff95ef34-f2b7-48a8-9147-8fb322133dcf","name":"INPUT_MERGE"},{"parameters":{"amount":1},"id":"a11f44f4-791b-41b2-a3e5-4fcf4af170a3","name":"Wait 5 seconds1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6880,672],"webhookId":"428509ad-7fbc-475b-af04-50706ec568ae"},{"parameters":{"operation":"get","propertyName":"messages","key":"=chat-buffer-{{ $json.chat.id }}","keyType":"list","options":{}},"id":"6a53cd6d-483c-471e-a9e7-44865dc9e1f8","name":"Get messages1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6656,672],"credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"d4689716-6329-4c37-9e00-e900d908fee8","name":"contact","value":"={{ $('INPUT_MERGE').item.json.contact }}","type":"object"},{"id":"aefa2732-2000-4dcc-a821-40a3ce74c935","name":"chat","value":"={{ $('INPUT_MERGE').item.json.chat }}","type":"object"},{"id":"fb68c814-1b7c-475d-9539-98051d486cfc","name":"chat.input","value":"={{ $json.messages.join(\"\\n\") }}","type":"string"},{"id":"f4bbc578-3fc5-404e-8caa-28e178fbf193","name":"kommo","value":"={{ $node[\"Meta\"].json[\"body\"] }}","type":"object"},{"id":"e67428ff-6b4f-4599-8a19-9a744226f0c8","name":"kommo.pipeline_id","value":"={{ $node[\"busca_lead\"].json[\"_embedded\"][\"leads\"][\"0\"][\"pipeline_id\"] }}","type":"string"},{"id":"07531fe9-3d3d-4683-ad09-2a3b8baa293f","name":"kommo_responsible_user_id","value":"={{ $('busca_lead').last().json._embedded.leads[0].responsible_user_id }}","type":"string"}]},"options":{}},"id":"e3b02661-f792-4ed5-ba49-7aa512d1e3c2","name":"Buffer message1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2084b6b9-ee2f-402f-9877-d045d566b774","leftValue":"={{ $('INPUT_MERGE').item.json.chat.input }}","rightValue":"={{ $json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"67e2b8a5-4d68-45c0-b977-71c3f57e8eff","name":"Buffer full?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6432,672]},{"parameters":{"operation":"delete","key":"=chat-buffer-{{ $('INPUT_MERGE').item.json.chat.id }}"},"id":"f28e0d35-de27-415c-9046-76873175ae9a","name":"Empty buffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6208,672],"credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"Limit1\"].json[\"chat\"][\"text\"] }}","type":"string"}]},"options":{}},"id":"b3bd9e78-275c-4192-a256-df8ca3f07dae","name":"IA Agent text param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,560]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"82d26c5f-b574-455b-bfad-2086f7e2f622","name":"IA Agent audio param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,-48]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"=contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"Limit1\"].json[\"chat\"][\"text\"] }} - {{ $json.content }}","type":"string"}]},"options":{}},"id":"414c7f89-d090-4388-95a0-54fbbd23b4ef","name":"IA Agent image param1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,336]},{"parameters":{"workflowId":{"__rl":true,"value":"I2AS5ZpWbrZveFse","mode":"list","cachedResultName":"[PETISCOS ALIMENTOS] Agente IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5760,672],"id":"b6a8ed59-1860-40f0-b0bf-658a4d1999d4","name":"Call AI Agent1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"101c3ff7-e997-43bb-8e99-fe82746c5993","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f3b798fb-ca1a-4b8e-9177-a58bd17627c5","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"05682ffa-a838-414a-a535-4b6a5bfa2ab6","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5f23238c-032c-42ee-aa95-b448d01fe3ef","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sticker"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"65644231-7e18-40d4-bef2-81a08c3c767f","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{"fallbackOutput":"none"}},"id":"f9750afa-5784-47f1-ab74-690e075bcb2e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-8672,384]},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,336],"id":"22307e8d-102d-49f6-b714-6fa0c36f0c8f","name":"HTTP Request2","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Você é um assistente de IA especializado em extrair informações de documentos de identificação brasileiros, como Carteira Nacional de Habilitação (CNH) e Registro Geral (RG). Sua tarefa é analisar a imagem fornecida, identificar o tipo de documento e mapear os dados relevantes.\n\nAqui estão os campos de dados que você deve procurar em diferentes documentos:\n\nPara CNH brasileira:\n1. Nome completo\n2. Data de nascimento\n3. Número do registro (Nº Registro)\n4. Data de primeira habilitação\n5. Data de validade\n6. Categoria da CNH\n7. CPF\n8. Filiação (nome dos pais)\n9. Foto do condutor\n\nPara RG brasileiro:\n1. Nome completo\n2. Data de nascimento\n3. Número do RG\n4. Data de expedição\n5. Órgão expedidor\n6. CPF (quando disponível)\n7. Filiação (nome dos pais)\n8. Naturalidade\n9. Foto do portador\n\nInstruções para processamento da imagem:\n\n1. Analise cuidadosamente a imagem do documento fornecida\n2. Identifique o tipo de documento (CNH, RG ou outro)\n3. Extraia as informações correspondentes ao tipo de documento\n4. Se algum campo não estiver visível ou legível na imagem, indique como \"Não visível\" ou \"Ilegível\"\n5. Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída\n\nForneça a saída no seguinte formato XML, de acordo com o tipo de documento identificado:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_registro></numero_registro>\n  <data_primeira_habilitacao></data_primeira_habilitacao>\n  <data_validade></data_validade>\n  <categoria></categoria>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <foto_condutor>Presente/Ausente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_rg></numero_rg>\n  <data_expedicao></data_expedicao>\n  <orgao_expedidor></orgao_expedidor>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <naturalidade></naturalidade>\n  <foto_portador>Presente/Ausente</foto_portador>\n</documento>\n\nSe houver algum problema com a imagem ou se não for possível extrair as informações, forneça uma explicação dentro de tags <erro></erro>.\n\nExemplos de saída esperada:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome>João Silva Santos</nome>\n  <data_nascimento>15/03/1985</data_nascimento>\n  <numero_registro>12345678901</numero_registro>\n  <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\n  <data_validade>15/03/2025</data_validade>\n  <categoria>AB</categoria>\n  <cpf>123.456.789-00</cpf>\n  <filiacao>\n    <pai>José Santos</pai>\n    <mae>Maria Silva</mae>\n  </filiacao>\n  <foto_condutor>Presente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome>Ana Souza Lima</nome>\n  <data_nascimento>22/07/1990</data_nascimento>\n  <numero_rg>12.345.678-9</numero_rg>\n  <data_expedicao>18/09/2015</data_expedicao>\n  <orgao_expedidor>SSP/SP</orgao_expedidor>\n  <cpf>987.654.321-00</cpf>\n  <filiacao>\n    <pai>Carlos Lima</pai>\n    <mae>Sandra Souza</mae>\n  </filiacao>\n  <naturalidade>São Paulo/SP</naturalidade>\n  <foto_portador>Presente</foto_portador>\n</documento>\n\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,336],"id":"300de2ad-5bc3-4414-9404-dea10920cd8d","name":"OpenAI_imagem1","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,944],"id":"6fc966cb-24e6-411b-a344-8f275b633409","name":"HTTP Request5","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"# 🖼️ Prompt – Analisador de Stickers (WhatsApp)\n\n## 🎯 Objetivo\n\nReceber um **sticker** e retornar uma **única descrição fiel**, em **primeira pessoa**, iniciando sempre com:\n\n> **“Descrição do sticker que enviei:”**\n\n---\n\n## 📌 Instruções\n\n1. **Foque apenas no sticker** – ignore contexto, marcas ou interpretações.\n2. Descreva **somente o que vê**: personagens, objetos, gestos, cores, emoções, estilo do traço.\n3. Use linguagem simples, como se você (cliente) estivesse explicando o sticker a alguém.\n4. Não cite marcas, não faça julgamentos, não recomende nada.\n\n---\n\n## 📝 Exemplo de Saída\n\n> **Descrição do sticker que enviei:** um herói montado em um cavalo, levantando o polegar em sinal de “ok” e sorrindo de forma positiva.","inputType":"=base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,944],"id":"250d0afc-0eeb-4906-9b25-0b656a96c919","name":"OpenAI_sticker","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"url":"={{ $('Meta').last().json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8000,144],"id":"979a3143-97ca-43af-91a4-f454aa755efc","name":"HTTP Request4","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cea9e606-664d-4227-916f-998cf9474bb7","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8224,512],"id":"301f6682-70ef-4bf0-9d40-3675e2c661f9","name":"documento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cdb7215-46aa-40de-b52c-71b8ffb16b72","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][attachment][type]\"] }}","rightValue":"picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8448,480],"id":"ce60c21a-1dda-4765-9f9d-a4a2fb20e964","name":"imagem_com_legenda"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-7776,144],"id":"562eb3a5-f97e-4016-b868-425658a76bff","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCYA_8wSk-TPA39xLQO2Ht9n1tvyElhChw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"application/pdf\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"Olá, Gemini! Tenho um PDF para você analisar e preciso que você realize duas tarefas distintas com ele, fornecendo as respostas de forma separada.\\n\\n**Muito importante: Quero que sua resposta comece *exatamente* com o texto gerado para a \\\"Tarefa 1\\\", sem qualquer frase de introdução sua (como \\\"Claro, aqui está o que você pediu:\\\", \\\"Okay, aqui estão as tarefas:\\\", etc.). A sua resposta deve ser o texto final que eu, como usuário, estaria fornecendo, começando diretamente com a primeira pessoa do resumo.**\\n\\n**Tarefa 1: Resumo do Conteúdo do PDF**\\n\\nPor favor, leia este PDF e escreva um resumo em primeira pessoa, como se eu mesmo estivesse explicando o conteúdo para alguém.\\n* Comece com a frase: 'Estou enviando este PDF que fala sobre...'\\n* Continue naturalmente, como se estivesse contando com suas próprias palavras.\\n* Não mencione que é um resumo ou que foi gerado por uma IA.\\n* Escreva em português do Brasil, de forma clara, fluida e humana.\\n\\n**Tarefa 2: Extração de Dados de Documentos de Identificação (RG/CNH)**\\n\\nSe, durante a análise do PDF, você identificar imagens que pareçam ser de documentos de identificação brasileiros (como Carteira Nacional de Habilitação - CNH ou Registro Geral - RG), quero que você extraia as informações desses documentos.\\n\\n* **Introdução em primeira pessoa:** Antes de apresentar os dados extraídos em XML, inclua uma frase introdutória em primeira pessoa, como por exemplo: \\\"Ah, e neste PDF também encontrei os seguintes dados de um documento de identificação que precisei registrar:\\\" ou \\\"Além do conteúdo principal, identifiquei e estou te passando os dados de um documento que estava anexado:\\\".\\n* **Instruções para Extração e Formato:**\\n    * Você atuará como um assistente de IA especializado em extrair informações de documentos de identificação brasileiros. Sua tarefa é analisar a imagem do documento fornecida dentro do PDF, identificar o tipo de documento e mapear os dados relevantes.\\n    * **Campos de dados a procurar:**\\n        * **Para CNH brasileira:**\\n            1.  Nome completo\\n            2.  Data de nascimento\\n            3.  Número do registro (Nº Registro)\\n            4.  Data de primeira habilitação\\n            5.  Data de validade\\n            6.  Categoria da CNH\\n            7.  CPF\\n            8.  Filiação (nome dos pais)\\n            9.  Foto do condutor (indicar \\\"Presente\\\" ou \\\"Ausente/Não visível\\\")\\n        * **Para RG brasileiro:**\\n            1.  Nome completo\\n            2.  Data de nascimento\\n            3.  Número do RG\\n            4.  Data de expedição\\n            5.  Órgão expedidor\\n            6.  CPF (quando disponível)\\n            7.  Filiação (nome dos pais)\\n            8.  Naturalidade\\n            9.  Foto do portador (indicar \\\"Presente\\\" ou \\\"Ausente/Não visível\\\")\\n    * **Processamento da imagem do documento:**\\n        1.  Analise cuidadosamente a imagem do documento contida no PDF.\\n        2.  Identifique o tipo de documento (CNH, RG ou outro).\\n        3.  Extraia as informações correspondentes ao tipo de documento.\\n        4.  Se algum campo não estiver visível ou legível na imagem, indique como \\\"Não visível\\\" ou \\\"Ilegível\\\".\\n        5.  Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída dentro das tags `<erro>`.\\n    * **Formato de Saída (XML):**\\n        * **Para CNH:**\\n            ```xml\\n            <documento tipo=\\\"cnh\\\">\\n              <nome></nome>\\n              <data_nascimento></data_nascimento>\\n              <numero_registro></numero_registro>\\n              <data_primeira_habilitacao></data_primeira_habilitacao>\\n              <data_validade></data_validade>\\n              <categoria></categoria>\\n              <cpf></cpf>\\n              <filiacao>\\n                <pai></pai>\\n                <mae></mae>\\n              </filiacao>\\n              <foto_condutor>Presente/Ausente</foto_condutor>\\n            </documento>\\n            ```\\n        * **Para RG:**\\n            ```xml\\n            <documento tipo=\\\"rg\\\">\\n              <nome></nome>\\n              <data_nascimento></data_nascimento>\\n              <numero_rg></numero_rg>\\n              <data_expedicao></data_expedicao>\\n              <orgao_expedidor></orgao_expedidor>\\n              <cpf></cpf>\\n              <filiacao>\\n                <pai></pai>\\n                <mae></mae>\\n              </filiacao>\\n              <naturalidade></naturalidade>\\n              <foto_portador>Presente/Ausente</foto_portador>\\n            </documento>\\n            ```\\n        * **Em caso de erro na extração ou documento inválido:**\\n            ```xml\\n            <erro>Explicação do problema aqui.</erro>\\n            ```\\n    * **Exemplos de Saída Esperada (para a parte de extração):**\\n        * **Para CNH:**\\n            ```xml\\n            <documento tipo=\\\"cnh\\\">\\n              <nome>João Silva Santos</nome>\\n              <data_nascimento>15/03/1985</data_nascimento>\\n              <numero_registro>12345678901</numero_registro>\\n              <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\\n              <data_validade>15/03/2025</data_validade>\\n              <categoria>AB</categoria>\\n              <cpf>123.456.789-00</cpf>\\n              <filiacao>\\n                <pai>José Santos</pai>\\n                <mae>Maria Silva</mae>\\n              </filiacao>\\n              <foto_condutor>Presente</foto_condutor>\\n            </documento>\\n            ```\\n        * **Para RG:**\\n            ```xml\\n            <documento tipo=\\\"rg\\\">\\n              <nome>Ana Souza Lima</nome>\\n              <data_nascimento>22/07/1990</data_nascimento>\\n              <numero_rg>12.345.678-9</numero_rg>\\n              <data_expedicao>18/09/2015</data_expedicao>\\n              <orgao_expedidor>SSP/SP</orgao_expedidor>\\n              <cpf>987.654.321-00</cpf>\\n              <filiacao>\\n                <pai>Carlos Lima</pai>\\n                <mae>Sandra Souza</mae>\\n              </filiacao>\\n              <naturalidade>São Paulo/SP</naturalidade>\\n              <foto_portador>Presente</foto_portador>\\n            </documento>\\n            ```\\n\\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.\\nSe não houver nenhum documento de identificação no PDF, apenas a Tarefa 1 (resumo) deve ser completada.\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7552,144],"id":"6b4c98fd-2b3a-4958-89aa-9bf012814f3b","name":"HTTP Request6"},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,-48],"id":"13f128e5-56b4-4f59-b802-d35b74d99208","name":"HTTP Request7","retryOnFail":true},{"parameters":{"url":"={{ $('Meta').item.json.body[\"message[add][0][attachment][link]\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7776,752],"id":"82619619-d7cb-439b-9611-ce5367f3fbfe","name":"HTTP Request8","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Você é um assistente de IA especializado em extrair informações de documentos de identificação brasileiros, como Carteira Nacional de Habilitação (CNH) e Registro Geral (RG). Sua tarefa é analisar a imagem fornecida, identificar o tipo de documento e mapear os dados relevantes.\n\nAqui estão os campos de dados que você deve procurar em diferentes documentos:\n\nPara CNH brasileira:\n1. Nome completo\n2. Data de nascimento\n3. Número do registro (Nº Registro)\n4. Data de primeira habilitação\n5. Data de validade\n6. Categoria da CNH\n7. CPF\n8. Filiação (nome dos pais)\n9. Foto do condutor\n\nPara RG brasileiro:\n1. Nome completo\n2. Data de nascimento\n3. Número do RG\n4. Data de expedição\n5. Órgão expedidor\n6. CPF (quando disponível)\n7. Filiação (nome dos pais)\n8. Naturalidade\n9. Foto do portador\n\nInstruções para processamento da imagem:\n\n1. Analise cuidadosamente a imagem do documento fornecida\n2. Identifique o tipo de documento (CNH, RG ou outro)\n3. Extraia as informações correspondentes ao tipo de documento\n4. Se algum campo não estiver visível ou legível na imagem, indique como \"Não visível\" ou \"Ilegível\"\n5. Se a imagem não parecer ser de um documento de identificação brasileiro válido, informe isso na saída\n\nForneça a saída no seguinte formato XML, de acordo com o tipo de documento identificado:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_registro></numero_registro>\n  <data_primeira_habilitacao></data_primeira_habilitacao>\n  <data_validade></data_validade>\n  <categoria></categoria>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <foto_condutor>Presente/Ausente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome></nome>\n  <data_nascimento></data_nascimento>\n  <numero_rg></numero_rg>\n  <data_expedicao></data_expedicao>\n  <orgao_expedidor></orgao_expedidor>\n  <cpf></cpf>\n  <filiacao>\n    <pai></pai>\n    <mae></mae>\n  </filiacao>\n  <naturalidade></naturalidade>\n  <foto_portador>Presente/Ausente</foto_portador>\n</documento>\n\nSe houver algum problema com a imagem ou se não for possível extrair as informações, forneça uma explicação dentro de tags <erro></erro>.\n\nExemplos de saída esperada:\n\nPara CNH:\n<documento tipo=\"cnh\">\n  <nome>João Silva Santos</nome>\n  <data_nascimento>15/03/1985</data_nascimento>\n  <numero_registro>12345678901</numero_registro>\n  <data_primeira_habilitacao>10/06/2005</data_primeira_habilitacao>\n  <data_validade>15/03/2025</data_validade>\n  <categoria>AB</categoria>\n  <cpf>123.456.789-00</cpf>\n  <filiacao>\n    <pai>José Santos</pai>\n    <mae>Maria Silva</mae>\n  </filiacao>\n  <foto_condutor>Presente</foto_condutor>\n</documento>\n\nPara RG:\n<documento tipo=\"rg\">\n  <nome>Ana Souza Lima</nome>\n  <data_nascimento>22/07/1990</data_nascimento>\n  <numero_rg>12.345.678-9</numero_rg>\n  <data_expedicao>18/09/2015</data_expedicao>\n  <orgao_expedidor>SSP/SP</orgao_expedidor>\n  <cpf>987.654.321-00</cpf>\n  <filiacao>\n    <pai>Carlos Lima</pai>\n    <mae>Sandra Souza</mae>\n  </filiacao>\n  <naturalidade>São Paulo/SP</naturalidade>\n  <foto_portador>Presente</foto_portador>\n</documento>\n\nLembre-se de que a privacidade é importante. Não compartilhe ou armazene as informações extraídas além do necessário para completar esta tarefa.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,752],"id":"a30e5a67-7098-4043-a537-5e7026146c3e","name":"OpenAI_imagem2","credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7552,-48],"id":"64632090-163f-4244-bb42-ac0ee4c95533","name":"transcreve1","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $item(\"0\").$node[\"HTTP Request6\"].json[\"candidates\"][\"0\"][\"content\"][\"parts\"][\"0\"][\"text\"] }}","type":"string"}]},"options":{}},"id":"96770a9f-3474-494b-a873-2469b08df697","name":"IA Agent PDF param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,144]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"d57bd18d-5b04-441f-8697-18acda5bda13","name":"IA Agent image param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,752]},{"parameters":{"assignments":{"assignments":[{"id":"36f6393d-ba2d-482f-abd5-5ca7dde1d10c","name":"contact.name","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}","type":"string"},{"id":"5db08389-c51e-49d1-9053-06e45a028ef4","name":"contact.phone","value":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"custom_fields_values\"][\"0\"][\"values\"][\"0\"][\"value\"] }}","type":"string"},{"id":"03ba6701-5126-45af-aee1-5ec2eb257014","name":"chat.id","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}","type":"string"},{"id":"4672a603-3554-42e2-80f5-4ddc92d8bc6c","name":"chat.input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"b2390a82-c93e-4ff5-ae00-b52ddae92e5a","name":"IA Agent Sticker param","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7328,944]},{"parameters":{"operation":"delete","key":"=chat-debouncer-{{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-12256,96],"id":"ffffa411-26d1-47af-a5d2-41034ba949e0","name":"Redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4736,720],"id":"f536435b-4418-4f1e-ad8e-717ad62aeb57","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4512,720],"id":"c42d3048-dd33-424e-940f-35d107916adb","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4288,528],"id":"b450efe1-9a54-47cf-9490-3cb316413daf","name":"Aggregate"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# **Role**\n\nVocê é um especialista em formatação de mensagens para redes sociais, com foco em manter a organização visual, legibilidade e coerência textual. Sua principal responsabilidade é estruturar mensagens longas com quebras de linha estratégicas, preservando o conteúdo original, para que sejam entregues no Instagram via N8N em um loop.\n\n---\n\n# **Task**\n\nOrganize mensagens longas em um formato que:\n\n1. Utilize uma linha em branco entre parágrafos ou tópicos, mantendo uma aparência limpa e fluida, sem a inserção de códigos de formatação para quebras de linha.\n2. Preserve a estrutura original, incluindo listas.\n3. Seja fácil de ler e esteticamente agradável, especialmente para redes sociais.\n4. Não interprete, censure ou modifique o conteúdo da mensagem recebida; sua única função é formatar e organizar.\n5. Cada parte deve conter o mais próximo possível de 700 caracteres, sem alterar o conteúdo, e mantendo a coerência textual.\n6. Estruture a saída exatamente no seguinte formato JSON:\n\n[\n  {\n    \"part\": 1,\n    \"message\": \"✅ Tudo certo! Seguem os petiscos disponíveis para atacado:\\n\\n101 - PETISCO CROCANTE SABOR FRANGO 50g - CX 40 UNI\\n102 - PETISCO CROCANTE SABOR CARNE 50g - CX 40 UNI\\n103 - PETISCO CROCANTE SABOR BACON 50g - CX 40 UNI\\n104 - PETISCO CROCANTE SABOR QUEIJO 50g - CX 40 UNI\\n105 - PETISCO CROCANTE SABOR CEBOLA E SALSA 50g - CX 40 UNI\\n110 - MIX DE AMENDOIM SABOR PIMENTA 80g - CX 30 UNI\\n111 - MIX DE AMENDOIM SABOR CHURRASCO 80g - CX 30 UNI\\n112 - MIX DE AMENDOIM SABOR LIMÃO 80g - CX 30 UNI\\n113 - MIX DE AMENDOIM SABOR BARBECUE 80g - CX 30 UNI\"\n  },\n  {\n    \"part\": 2,\n    \"message\": \"201 - MINI TORRADA SABOR ALHO 100g - CX 20 UNI\\n202 - MINI TORRADA SABOR ALECRIM 100g - CX 20 UNI\\n203 - MINI TORRADA SABOR TOMATE SECO 100g - CX 20 UNI\\n210 - BATATA CHIPS SABOR ORIGINAL 120g - CX 24 UNI\\n211 - BATATA CHIPS SABOR CHEDDAR 120g - CX 24 UNI\\n212 - BATATA CHIPS SABOR PÁPRICA 120g - CX 24 UNI\\n213 - BATATA CHIPS SABOR ERVAS FINAS 120g - CX 24 UNI\\n\\nPor favor, me diga os códigos dos petiscos desejados e a quantidade de caixas de cada um 📦\\n\\nExemplo: 110, 113 – quero 30 caixas de cada\\nOu: quero 10 caixas da 101 e 10 caixas da 104\"\n  }\n]\n\n\n---\n\n# **Specifics**\n\n1. **Quebras de linha:** Utilize uma linha em branco entre parágrafos e tópicos para organizar a mensagem e quebrar linhas.\n2. **Listas:** Garanta que os itens de listas sejam claramente separados, com uma linha em branco entre a introdução da lista e seus itens.\n3. **Tamanho das partes:** Cada parte deve ter aproximadamente 700 caracteres, respeitando a coesão e a lógica do texto. Se possível, ajuste a divisão sem alterar o conteúdo original.\n4. **Formatação:** Preserve emojis, hierarquia e qualquer formatação original da mensagem.\n5. **Foco no objetivo:** Não aplique censura, interpretações morais ou edite o conteúdo; sua tarefa é exclusivamente particionar o texto.\n6. **Preservação do conteúdo:** Não remova ou altere informações, mesmo que contenham dados pessoais ou sensíveis.\n\n---\n\n# **Examples**\n\n## Entrada\n\nMensagem:\n\"{{ $json.output }}\"\n\n## Saída\n\n[\n  {\n    \"part\": 1,\n    \"message\": \"✅ Tudo certo! Seguem os petiscos disponíveis para atacado:\\n\\n101 - PETISCO CROCANTE SABOR FRANGO 50g - CX 40 UNI\\n102 - PETISCO CROCANTE SABOR CARNE 50g - CX 40 UNI\\n103 - PETISCO CROCANTE SABOR BACON 50g - CX 40 UNI\\n104 - PETISCO CROCANTE SABOR QUEIJO 50g - CX 40 UNI\\n105 - PETISCO CROCANTE SABOR CEBOLA E SALSA 50g - CX 40 UNI\\n110 - MIX DE AMENDOIM SABOR PIMENTA 80g - CX 30 UNI\\n111 - MIX DE AMENDOIM SABOR CHURRASCO 80g - CX 30 UNI\\n112 - MIX DE AMENDOIM SABOR LIMÃO 80g - CX 30 UNI\\n113 - MIX DE AMENDOIM SABOR BARBECUE 80g - CX 30 UNI\"\n  },\n  {\n    \"part\": 2,\n    \"message\": \"201 - MINI TORRADA SABOR ALHO 100g - CX 20 UNI\\n202 - MINI TORRADA SABOR ALECRIM 100g - CX 20 UNI\\n203 - MINI TORRADA SABOR TOMATE SECO 100g - CX 20 UNI\\n210 - BATATA CHIPS SABOR ORIGINAL 120g - CX 24 UNI\\n211 - BATATA CHIPS SABOR CHEDDAR 120g - CX 24 UNI\\n212 - BATATA CHIPS SABOR PÁPRICA 120g - CX 24 UNI\\n213 - BATATA CHIPS SABOR ERVAS FINAS 120g - CX 24 UNI\\n\\nPor favor, me diga os códigos dos petiscos desejados e a quantidade de caixas de cada um 📦\\n\\nExemplo: 110, 113 – quero 30 caixas de cada\\nOu: quero 10 caixas da 101 e 10 caixas da 104\"\n  }\n]\n\n---\n\n# **Notes**\n\n1. Divida a mensagem em blocos coerentes, respeitando as ideias principais de cada segmento.\n2. Certifique-se de que os espaçamentos deixem a mensagem clara e esteticamente agradável, sem compactação ou desorganização do conteúdo.\n3. O resultado deve ser um JSON exatamente no formato especificado, sem markdown ou formatação adicional.\n4. Concentre-se exclusivamente na formatação e na divisão do texto, assegurando que cada parte tenha aproximadamente 700 caracteres sempre que possível.","role":"system"},{"content":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*') }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5312,720],"id":"60946452-92e0-4633-bdd5-a9bc469ee3b4","name":"OpenAI3","retryOnFail":true,"credentials":{"openAiApi":{"id":"QIkvgmqAAypYnafU","name":"OpenAi Triadeflow"}}},{"parameters":{"assignments":{"assignments":[{"id":"f6681211-77a5-40c9-b73c-18d0c10872b4","name":"content","value":"={{ $json.message.content }}","type":"array"}]},"options":{}},"id":"c4a0f092-5b66-446e-a655-6820f8793a36","name":"normalizacao8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4960,720],"retryOnFail":true},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3840,800],"id":"af199e0f-e9a5-4a7e-8a37-13ae19cb204b","name":"Wait2","webhookId":"20f5cbd9-a9be-489d-8a3c-f12c9b829411"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d69bc0a-37d6-4a18-940e-0b07e7612d50","leftValue":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*').length }}","rightValue":1100,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5536,672],"id":"57878b26-22b1-4cb6-80d0-7103873d03c1","name":"If2"},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"].replace(/\\*\\*/g, '*') }}"},{"name":"recipient_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $node[\"Meta\"].json[\"body\"]['account[id]'] }}"},{"name":"skip_link_shortener","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"064152fd-7684-462f-8771-aeb034115761","name":"Recieve message5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4288,336]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4288,720],"id":"23bf67c9-32ac-4bc3-9462-9deaa110616b","name":"pega_token1","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $('Loop Over Items').item.json.message.replace(/\\*\\*/g, '*') }}"},{"name":"recipient_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $node[\"Meta\"].json[\"body\"]['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $node[\"Meta\"].json[\"body\"]['account[id]'] }}"},{"name":"skip_link_shortener","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"2e4996f3-8ca0-45f2-a9ea-2f5193dffa39","name":"Recieve message4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4064,720]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4512,336],"id":"80238499-513f-4ddc-81a5-96505d6c7f5d","name":"pega_token3","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"delete","tableId":"clientes_petiscos_alimentos","filters":{"conditions":[{"keyName":"kommo_lead_id","condition":"eq","keyValue":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}"}]}},"id":"30b7dd04-c56e-4e93-a91e-028d2061b5ff","name":"Deleta o numero de telefone na tabela","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12032,96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"f46909d5-0491-4c49-b17f-17ea12fc6979","name":"number","value":"={{ $json.whatsapp }}","type":"string"},{"id":"51118a05-d1f3-47f5-b6f4-1dae17c3923e","name":"text","value":"_Dados Apagados_","type":"string"},{"id":"5a47fa5d-1159-45f2-9800-39dbc87d42ef","name":"delay","value":2000,"type":"number"}]},"options":{}},"id":"e94be149-42b6-4888-a257-cc2da7da6524","name":"Faz o corpo do HTTP","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11808,96]},{"parameters":{"operation":"getAll","tableId":"kommo_token","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11584,96],"id":"3f1289cd-2d85-418e-8e74-d5131b391b4b","name":"pega_token2","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"=https://amojo.kommo.com/v1/chats/{{ $json.account_id }}/{{ $('Meta').last().json.body['message[add][0][chat_id]'] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Auth-Token","value":"={{ $json.access_token }}"},{"name":"chatId","value":"={{ $('Meta').last().json.body['message[add][0][chat_id]'] }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"silent","value":"false"},{"name":"priority","value":"low"},{"name":"crm_entity[id]","value":"={{ $('Meta').last().json.body['message[add][0][entity_id]'] }}"},{"name":"crm_entity[type]","value":"={{ $('Meta').last().json.body['message[add][0][element_type]'] }}"},{"name":"persona_name","value":"={{ $json.persona_name }}"},{"name":"persona_avatar","value":"={{ $json.persona_avatar }}"},{"name":"text","value":"={{ $('Faz o corpo do HTTP').last().json.text }}"},{"name":"recipient_id","value":"={{ $('Meta').last().json.body['message[add][0][author][id]'] }}"},{"name":"group_id"},{"name":"crm_dialog_id","value":"={{ $('Meta').last().json.body['message[add][0][talk_id]'] }}"},{"name":"crm_contact_id","value":"={{ $('Meta').last().json.body['message[add][0][contact_id]'] }}"},{"name":"crm_account_id","value":"={{ $('Meta').last().json.body['account[id]'] }}"},{"name":"skip_link_shortener","value":"false"}]},"options":{"redirect":{"redirect":{}}}},"id":"c864df10-bff6-424d-b8ff-617d3629e38d","name":"Recieve message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11360,96]},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}","pipeline_id":"={{ $item(\"0\").$node[\"GET - Lead4\"].json[\"_embedded\"][\"leads\"][\"0\"][\"pipeline_id\"] }}","status_id":0,"custom_fields_values":{"custom_field":[{"data":"{\"id\":851060,\"type\":\"checkbox\"}","value":"false"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-10912,96],"id":"c4273840-dcef-4029-8c30-ae87a34e761c","name":"Add Dados3","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"leads","filter":{"id":"={{ $('Meta').last().json.body[\"message[add][0][entity_id]\"] }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-11136,96],"id":"0c0a24a6-cbf8-4e70-9098-79f04bfc0f0f","name":"GET - Lead4","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"push","list":"=chat-buffer-{{ $json.chat.id }}","messageData":"={{ $json.chat.input }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6880,480],"id":"f1f61a1d-8ed9-46ea-af13-c560f8321812","name":"Redis1","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-8896,432],"id":"44ecb28a-58fd-4539-afd7-c8687382d817","name":"Limit2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94f40c71-f948-400b-9d0e-94697423c1bb","leftValue":"={{ $json._embedded.leads[0].pipeline_id }}","rightValue":11219503,"operator":{"type":"number","operation":"equals"}},{"id":"81809b4c-e4ca-4a09-87e3-8c2d9cca35b9","leftValue":"={{ $json._embedded.leads[0].pipeline_id }}","rightValue":11220287,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-12736,336],"id":"3826de48-eb6d-4bd8-92c7-55583dbae6d3","name":"filtra_pipeline","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba9314a6-0171-4cdd-804f-4e94542359b9","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"17485082","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"057a7098-888f-488b-8fa6-ace48c589499","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"21070872","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6d88bdf2-502a-4294-9892-a66750c8edd4","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"21774742","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e9b8e572-d957-41bf-99a9-2e8f6ded1078","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15112806","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5c973b02-be76-46e1-88df-98e167f238ba","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15161098","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1b2e3865-e058-44fe-a6d2-6f75f6894d96","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"14978916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bdda9b9f-2730-45d0-9c98-449b76e625d1","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"16344610","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b8a1cea5-db64-4d5d-b90b-95ba9f4cd99b","leftValue":"={{ $json.body[\"message[add][0][contact_id]\"] }}","rightValue":"15575916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-13168,336],"id":"79563617-bd65-43fb-b18e-eebe8138121d","name":"filtra_origem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"724178b6-3b73-489a-9de4-3e9cee9e8a54","leftValue":"={{ $('Meta').item.json.body[\"message[add][0][text]\"] }}","rightValue":"/r","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12480,336],"id":"55c82868-379f-4c09-9798-2d35a1373512","name":"reset?"},{"parameters":{"dataToSave":{"values":[{"key":"usuario","value":"={{ $('Meta').item.json.body[\"message[add][0][entity_id]\"] }}"}]}},"id":"0d9070b1-1467-4621-9b5f-e7b5d51432e7","name":"log","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-12256,432],"onError":"continueRegularOutput"},{"parameters":{"resource":"leads","filter":{"id":"={{ $json.body[\"message[add][0][entity_id]\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-12960,336],"id":"4978cce6-3a70-4ce1-8165-fa28db246a90","name":"busca_lead","alwaysOutputData":false,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"tableId":"clientes_atendidos_petiscos_alimentos_wpp","fieldsUi":{"fieldValues":[{"fieldId":"cliente_contact_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"message[add][0][contact_id]\"] }}"},{"fieldId":"lead_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"message[add][0][entity_id]\"] }}"},{"fieldId":"nome_cliente","fieldValue":"={{ $node[\"GET_CONTACTS1\"].json[\"_embedded\"][\"contacts\"][\"0\"][\"name\"] }}"},{"fieldId":"empresa_kommo_id","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"account[id]\"] }}"},{"fieldId":"subdominio_kommo","fieldValue":"={{ $node[\"Meta\"].json[\"body\"][\"account[subdomain]\"] }}"},{"fieldId":"nome_empresa","fieldValue":"Petiscos Alimentos"},{"fieldId":"canal_atendimento","fieldValue":"=WPP-{{ $node[\"Meta\"].json[\"body\"][\"message[add][0][origin]\"] }}"},{"fieldId":"data_atendimento","fieldValue":"={{ new Intl.DateTimeFormat('sv-SE', { timeZone: 'America/Sao_Paulo' }).format(new Date()) }}"},{"fieldId":"hora_atendimento","fieldValue":"={{ new Date().toLocaleTimeString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", hour12: false }) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4064,432],"id":"cdd8ae62-ae5c-4976-a05f-2a2371967938","name":"conta_atendimentos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3840,432],"id":"c0701e90-40b6-4637-ab7c-345b439a9426","name":"Limit3"},{"parameters":{"httpMethod":"POST","path":"peticosia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-13392,336],"id":"c358b05b-4932-4e6b-b7de-fed5e02ea3c7","name":"Meta","webhookId":"70684637-8f43-43a5-8c57-3636d16ff921"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2816,448],"id":"d5663b00-aec2-462f-9787-1ba2ec0613cc","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"handoff-detect-001","leftValue":"={{ $item(\"0\").$node[\"Call AI Agent1\"].json[\"output\"] }}","rightValue":"especialista","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5660,672],"id":"detecta-handoff-001","name":"Detecta Handoff"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $(\"Meta\").last().json.body[\"message[add][0][entity_id]\"] }}","pipeline_id":"={{ $(\"busca_lead\").last().json._embedded.leads[0].pipeline_id }}","custom_fields_values":{"custom_field":[{"data":"{\"id\":1110114,\"type\":\"checkbox\"}","value":"true"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-5660,480],"id":"ativa-parar-ia-001","name":"Ativa PARAR IA","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"continueOnFail":true}],"connections":{"EVO_CHAT1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Supabase4","type":"main","index":0}]]},"Verifica se o campo [Parar bot] está true ou false":{"main":[[{"node":"If1","type":"main","index":0}]]},"GET - Lead":{"main":[[{"node":"Verifica se o campo [Parar bot] está true ou false","type":"main","index":0}]]},"GET_CONTACTS":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"GET_CONTACTS1","type":"main","index":0}]]},"GET_CONTACTS1":{"main":[[{"node":"GET - Lead","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Limit","type":"main","index":0}]]},"If8":{"main":[[{"node":"GET_CONTACTS","type":"main","index":0}],[{"node":"EXISTE TODAS AS INTEGRACOS?1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"EXISTE TODAS AS INTEGRACOS?1":{"main":[[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase3","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"EVO_CHAT1","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"If8","type":"main","index":0}]]},"INPUT_MERGE":{"main":[[{"node":"Wait 5 seconds1","type":"main","index":0},{"node":"Redis1","type":"main","index":0}]]},"Wait 5 seconds1":{"main":[[{"node":"Get messages1","type":"main","index":0}]]},"Get messages1":{"main":[[{"node":"Buffer full?1","type":"main","index":0}]]},"Buffer message1":{"main":[[{"node":"Call AI Agent1","type":"main","index":0}]]},"Buffer full?1":{"main":[[{"node":"Empty buffer1","type":"main","index":0}]]},"Empty buffer1":{"main":[[{"node":"Buffer message1","type":"main","index":0}]]},"IA Agent text param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":3}]]},"IA Agent audio param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":0}]]},"IA Agent image param1":{"main":[[{"node":"INPUT_MERGE","type":"main","index":1}]]},"Call AI Agent1":{"main":[[{"node":"Detecta Handoff","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request7","type":"main","index":0}],[{"node":"imagem_com_legenda","type":"main","index":0}],[{"node":"HTTP Request8","type":"main","index":0}],[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"OpenAI_imagem1","type":"main","index":0}]]},"OpenAI_imagem1":{"main":[[{"node":"IA Agent image param1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"OpenAI_sticker","type":"main","index":0}]]},"OpenAI_sticker":{"main":[[{"node":"IA Agent Sticker param","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"documento":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"IA Agent text param1","type":"main","index":0}]]},"imagem_com_legenda":{"main":[[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"documento","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"IA Agent PDF param","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"transcreve1","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"OpenAI_imagem2","type":"main","index":0}]]},"OpenAI_imagem2":{"main":[[{"node":"IA Agent image param","type":"main","index":0}]]},"transcreve1":{"main":[[{"node":"IA Agent audio param1","type":"main","index":0}]]},"IA Agent PDF param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":2}]]},"IA Agent image param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":4}]]},"IA Agent Sticker param":{"main":[[{"node":"INPUT_MERGE","type":"main","index":5}]]},"Redis":{"main":[[{"node":"Deleta o numero de telefone na tabela","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"pega_token1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"conta_atendimentos","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"normalizacao8","type":"main","index":0}]]},"normalizacao8":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"pega_token3","type":"main","index":0}],[{"node":"OpenAI3","type":"main","index":0}]]},"Recieve message5":{"main":[[{"node":"conta_atendimentos","type":"main","index":0}]]},"pega_token1":{"main":[[{"node":"Recieve message4","type":"main","index":0}]]},"Recieve message4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"pega_token3":{"main":[[{"node":"Recieve message5","type":"main","index":0}]]},"Deleta o numero de telefone na tabela":{"main":[[{"node":"Faz o corpo do HTTP","type":"main","index":0}]]},"Faz o corpo do HTTP":{"main":[[{"node":"pega_token2","type":"main","index":0}]]},"pega_token2":{"main":[[{"node":"Recieve message","type":"main","index":0}]]},"Recieve message":{"main":[[{"node":"GET - Lead4","type":"main","index":0}]]},"GET - Lead4":{"main":[[{"node":"Add Dados3","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"filtra_pipeline":{"main":[[{"node":"reset?","type":"main","index":0}]]},"filtra_origem":{"main":[[{"node":"busca_lead","type":"main","index":0}]]},"reset?":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"log","type":"main","index":0}]]},"log":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"busca_lead":{"main":[[{"node":"filtra_pipeline","type":"main","index":0}]]},"conta_atendimentos":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Limit3":{"main":[[]]},"Meta":{"main":[[{"node":"filtra_origem","type":"main","index":0}]]},"Detecta Handoff":{"main":[[{"node":"Ativa PARAR IA","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Ativa PARAR IA":{"main":[[{"node":"If2","type":"main","index":0}]]}},"authors":"Alex Campos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-03T04:54:55.472Z","id":662,"workflowId":"4zP3YIAiI1l9Fcdn","versionId":"af2188c1-4b90-44a5-9362-dae002cec323","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-03-03T04:54:55.542Z","id":663,"workflowId":"4zP3YIAiI1l9Fcdn","versionId":"af2188c1-4b90-44a5-9362-dae002cec323","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}