docs/templates/kommo/token-kommo.json
{"updatedAt":"2026-02-24T00:31:37.520Z","createdAt":"2025-09-04T11:08:36.327Z","id":"ZggIh5NrR6qRVNbM","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Token Kommo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://petiscosalimentos.amocrm.com/ajax/v1/chats/session","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"request[chats][session][action]","value":"create"}]},"options":{"redirect":{"redirect":{}}}},"id":"c4f62288-32c5-4215-9373-18e816962f11","name":"get_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,0],"credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"kommo_token","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.response.chats.session.user.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,0],"id":"38913eee-f61b-4c61-874a-e7915add2dac","name":"busca_token","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1811e3b0-f441-448c-86ab-dd07ad3994a2","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,0],"id":"eb2f5f13-ff3b-4066-94a6-a168cf472671","name":"is_created?"},{"parameters":{"tableId":"kommo_token","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.created_at.toDateTime('s') }}"},{"fieldId":"expirated_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.expired_at.toDateTime('s') }}"},{"fieldId":"access_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.access_token }}"},{"fieldId":"account_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.account.id }}"},{"fieldId":"persona_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.name }}"},{"fieldId":"persona_avatar","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.avatar }}"},{"fieldId":"refresh_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.refresh_token }}"},{"fieldId":"user_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"},{"fieldId":"user_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.full_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,-96],"id":"5dfb3b96-4904-4880-9e4a-91d22af098f8","name":"guarda_key","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"update","tableId":"kommo_token","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.created_at.toDateTime('s') }}"},{"fieldId":"expirated_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.expired_at.toDateTime('s') }}"},{"fieldId":"access_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.access_token }}"},{"fieldId":"account_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.account.id }}"},{"fieldId":"persona_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.name }}"},{"fieldId":"persona_avatar","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.avatar }}"},{"fieldId":"refresh_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.refresh_token }}"},{"fieldId":"user_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"},{"fieldId":"user_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.full_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,96],"id":"5bbdbab0-e760-4b9a-9e2c-7ca5faa2f3b6","name":"atualiza_key","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,0],"id":"5eb597b4-9831-4153-98e5-7039474c3d5d","name":"cada_1dia"}],"connections":{"get_token":{"main":[[{"node":"busca_token","type":"main","index":0}]]},"busca_token":{"main":[[{"node":"is_created?","type":"main","index":0}]]},"is_created?":{"main":[[{"node":"guarda_key","type":"main","index":0}],[{"node":"atualiza_key","type":"main","index":0}]]},"cada_1dia":{"main":[[{"node":"get_token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:cada_1dia":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"462290d6-db98-4861-8249-b4062682194e","activeVersionId":"462290d6-db98-4861-8249-b4062682194e","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-02-17T03:43:09.509Z","createdAt":"2026-02-17T03:43:09.509Z","role":"workflow:owner","workflowId":"ZggIh5NrR6qRVNbM","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[{"updatedAt":"2026-02-17T03:18:57.883Z","createdAt":"2026-02-17T03:18:57.883Z","id":"cOcC7X58PqF33Dn7","name":"TRIADEFLOW"}],"activeVersion":{"updatedAt":"2026-02-24T01:01:02.508Z","createdAt":"2025-12-28T16:48:56.237Z","versionId":"462290d6-db98-4861-8249-b4062682194e","workflowId":"ZggIh5NrR6qRVNbM","nodes":[{"parameters":{"method":"POST","url":"=https://petiscosalimentos.amocrm.com/ajax/v1/chats/session","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"request[chats][session][action]","value":"create"}]},"options":{"redirect":{"redirect":{}}}},"id":"c4f62288-32c5-4215-9373-18e816962f11","name":"get_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,0],"credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"operation":"get","tableId":"kommo_token","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.response.chats.session.user.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,0],"id":"38913eee-f61b-4c61-874a-e7915add2dac","name":"busca_token","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1811e3b0-f441-448c-86ab-dd07ad3994a2","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,0],"id":"eb2f5f13-ff3b-4066-94a6-a168cf472671","name":"is_created?"},{"parameters":{"tableId":"kommo_token","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.created_at.toDateTime('s') }}"},{"fieldId":"expirated_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.expired_at.toDateTime('s') }}"},{"fieldId":"access_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.access_token }}"},{"fieldId":"account_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.account.id }}"},{"fieldId":"persona_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.name }}"},{"fieldId":"persona_avatar","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.avatar }}"},{"fieldId":"refresh_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.refresh_token }}"},{"fieldId":"user_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"},{"fieldId":"user_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.full_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,-96],"id":"5dfb3b96-4904-4880-9e4a-91d22af098f8","name":"guarda_key","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"operation":"update","tableId":"kommo_token","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.created_at.toDateTime('s') }}"},{"fieldId":"expirated_at","fieldValue":"={{ $('get_token').item.json.response.chats.session.expired_at.toDateTime('s') }}"},{"fieldId":"access_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.access_token }}"},{"fieldId":"account_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.account.id }}"},{"fieldId":"persona_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.name }}"},{"fieldId":"persona_avatar","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.avatar }}"},{"fieldId":"refresh_token","fieldValue":"={{ $('get_token').item.json.response.chats.session.refresh_token }}"},{"fieldId":"user_id","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.id }}"},{"fieldId":"user_name","fieldValue":"={{ $('get_token').item.json.response.chats.session.user.full_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,96],"id":"5bbdbab0-e760-4b9a-9e2c-7ca5faa2f3b6","name":"atualiza_key","credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,0],"id":"5eb597b4-9831-4153-98e5-7039474c3d5d","name":"cada_1dia"}],"connections":{"get_token":{"main":[[{"node":"busca_token","type":"main","index":0}]]},"busca_token":{"main":[[{"node":"is_created?","type":"main","index":0}]]},"is_created?":{"main":[[{"node":"guarda_key","type":"main","index":0}],[{"node":"atualiza_key","type":"main","index":0}]]},"cada_1dia":{"main":[[{"node":"get_token","type":"main","index":0}]]}},"authors":"system migration","name":"v1","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T01:01:02.462Z","id":505,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2025-09-07T01:41:17.386Z","id":28,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":null},{"createdAt":"2026-02-17T01:43:42.503Z","id":105,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T01:59:59.779Z","id":146,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T02:21:26.554Z","id":185,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:51:17.931Z","id":233,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:53:50.334Z","id":274,"workflowId":"ZggIh5NrR6qRVNbM","versionId":"462290d6-db98-4861-8249-b4062682194e","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}