docs/templates/kommo/tool-catalogo-pdf.json
{"updatedAt":"2026-02-24T01:12:29.644Z","createdAt":"2025-09-11T03:31:33.053Z","id":"i4lZAqTrk5LCxOAW","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Tool catalogo_pdf","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"pipeline_id"},{"name":"kommo","type":"object"},{"name":"menu_type","type":"number"}]}},"id":"606ee7bc-5f30-4f28-b352-fdf84eb09f8f","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[192,192]},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `catalogo_pdf`, resultado:\n### **Tool Output: `catalogo_pdf`**\n\n**Status:** Ação concluída com sucesso.\n\n**Descrição da Ação:** O catálogo completo de produtos foi enviado para o cliente.\n\n**AÇÃO IMEDIATA PARA A IA:**\n\nPode continuar o atendimento"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1088,0],"id":"7cb3f1af-a734-4416-b38e-4c872ee5d2a4","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1168,224],"id":"36e8a4b8-61a6-4f83-aaac-a4a287690d18","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"79b5a9fe-bbbb-46ad-9977-19b4893ba590","name":"output","value":"=### **Tool Output: `catalogo_pdf`**\n\n**Status:** Ação concluída com sucesso.\n\n**Descrição da Ação:** O catálogo completo de produtos foi enviado para o cliente.\n\n**AÇÃO IMEDIATA PARA A IA:**\n\nPode continuar o atendimento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,0],"id":"eebe5e9e-b29c-49f8-a184-a93210be431d","name":"output"},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v2/salesbot/run","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"bot_id\": 78464,\n    \"entity_type\": 2,\n    \"entity_id\":{{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,192],"id":"f357a8a1-ea0c-46b3-9b86-934102b87363","name":"catalogo_pdf_atacado","credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v2/salesbot/run","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"bot_id\": 75374,\n    \"entity_type\": 2,\n    \"entity_id\":{{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,0],"id":"99a13315-090e-4035-b126-a41b3d575f41","name":"catalogo_pdf_varejo","credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a931cca5-f3c7-4314-b874-0e3ccedf69ca","leftValue":"={{ $json.menu_type }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"067168e8-ddf4-40cf-9e37-58dc35d6539f","leftValue":"={{ $json.menu_type }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,192],"id":"0780efad-aa31-4816-afa2-7b4606bbb804","name":"if"},{"parameters":{"assignments":{"assignments":[{"id":"5af20eb4-ecda-4041-946d-7d76f6e53f84","name":"response","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,288],"id":"309b2430-5425-41b6-add7-186cc7fa67f5","name":"error_response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"949f8b6a-6ad4-4c73-90ad-2d3283eb84c2","leftValue":"={{ $json.menu_type }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,96],"id":"6083af80-cc1c-4ca4-9a96-4836a7495885","name":"If"}],"connections":{"Meta":{"main":[[{"node":"if","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"catalogo_pdf_varejo":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"if":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"error_response","type":"main","index":0}]]},"If":{"main":[[{"node":"catalogo_pdf_varejo","type":"main","index":0}],[{"node":"catalogo_pdf_atacado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Meta":[{"json":{"lead_id":"13510664","pipeline_id":"11219503","kommo":{"account[subdomain]":"petiscosalimentos","account[id]":"34642095","account[_links][self]":"https://petiscosalimentos.amocrm.com","message[add][0][id]":"780cea78-5aa6-449e-9432-cd9918502315","message[add][0][chat_id]":"c5b4582f-d4d7-4f5c-a77a-fb741c90195d","message[add][0][talk_id]":"3566","message[add][0][contact_id]":"21070872","message[add][0][text]":"teste","message[add][0][created_at]":"1757567530","message[add][0][element_type]":"2","message[add][0][entity_type]":"lead","message[add][0][element_id]":"13510664","message[add][0][entity_id]":"13510664","message[add][0][type]":"incoming","message[add][0][author][id]":"347f0ca1-ca48-449e-baa2-457a609fb131","message[add][0][author][type]":"external","message[add][0][author][name]":"Fábio Cavalcanti","message[add][0][origin]":"com.amocrm.amocrmwa","pipeline_id":"11219503"},"menu_type":1}}]},"versionId":"a409084d-f30d-4634-8965-f512d12ba52c","activeVersionId":"a409084d-f30d-4634-8965-f512d12ba52c","versionCounter":27,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T03:43:05.526Z","createdAt":"2026-02-17T03:43:05.526Z","role":"workflow:owner","workflowId":"i4lZAqTrk5LCxOAW","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T01:12:35.872Z","createdAt":"2026-02-24T01:12:29.645Z","versionId":"a409084d-f30d-4634-8965-f512d12ba52c","workflowId":"i4lZAqTrk5LCxOAW","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"pipeline_id"},{"name":"kommo","type":"object"},{"name":"menu_type","type":"number"}]}},"id":"606ee7bc-5f30-4f28-b352-fdf84eb09f8f","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[192,192]},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `catalogo_pdf`, resultado:\n### **Tool Output: `catalogo_pdf`**\n\n**Status:** Ação concluída com sucesso.\n\n**Descrição da Ação:** O catálogo completo de produtos foi enviado para o cliente.\n\n**AÇÃO IMEDIATA PARA A IA:**\n\nPode continuar o atendimento"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1088,0],"id":"7cb3f1af-a734-4416-b38e-4c872ee5d2a4","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1168,224],"id":"36e8a4b8-61a6-4f83-aaac-a4a287690d18","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"79b5a9fe-bbbb-46ad-9977-19b4893ba590","name":"output","value":"=### **Tool Output: `catalogo_pdf`**\n\n**Status:** Ação concluída com sucesso.\n\n**Descrição da Ação:** O catálogo completo de produtos foi enviado para o cliente.\n\n**AÇÃO IMEDIATA PARA A IA:**\n\nPode continuar o atendimento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,0],"id":"eebe5e9e-b29c-49f8-a184-a93210be431d","name":"output"},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v2/salesbot/run","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"bot_id\": 78464,\n    \"entity_type\": 2,\n    \"entity_id\":{{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,192],"id":"f357a8a1-ea0c-46b3-9b86-934102b87363","name":"catalogo_pdf_atacado","credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v2/salesbot/run","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"bot_id\": 75374,\n    \"entity_type\": 2,\n    \"entity_id\":{{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,0],"id":"99a13315-090e-4035-b126-a41b3d575f41","name":"catalogo_pdf_varejo","credentials":{"oAuth2Api":{"id":"pCpzClLbsMpI8fPW","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a931cca5-f3c7-4314-b874-0e3ccedf69ca","leftValue":"={{ $json.menu_type }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"067168e8-ddf4-40cf-9e37-58dc35d6539f","leftValue":"={{ $json.menu_type }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,192],"id":"0780efad-aa31-4816-afa2-7b4606bbb804","name":"if"},{"parameters":{"assignments":{"assignments":[{"id":"5af20eb4-ecda-4041-946d-7d76f6e53f84","name":"response","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,288],"id":"309b2430-5425-41b6-add7-186cc7fa67f5","name":"error_response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"949f8b6a-6ad4-4c73-90ad-2d3283eb84c2","leftValue":"={{ $json.menu_type }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,96],"id":"6083af80-cc1c-4ca4-9a96-4836a7495885","name":"If"}],"connections":{"Meta":{"main":[[{"node":"if","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"catalogo_pdf_varejo":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"if":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"error_response","type":"main","index":0}]]},"If":{"main":[[{"node":"catalogo_pdf_varejo","type":"main","index":0}],[{"node":"catalogo_pdf_atacado","type":"main","index":0}]]}},"authors":"Alex Campos","name":"Version a409084d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-24T01:12:35.860Z","id":506,"workflowId":"i4lZAqTrk5LCxOAW","versionId":"a409084d-f30d-4634-8965-f512d12ba52c","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}