docs/templates/kommo/tool-parar-ia.json
{"updatedAt":"2026-03-03T04:54:54.763Z","createdAt":"2026-02-28T15:50:22.850Z","id":"D6MInh0Gn5sMIDn3","name":"[PETISCOS ALIMENTOS] Tool parar_ia","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"trigger-parar-ia","name":"Input","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[180,300]},{"parameters":{"method":"PATCH","url":"=https://petiscosalimentos.amocrm.com/api/v4/leads/{{ $json.lead_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"kommoOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\"custom_fields_values\":[{\"field_id\":1110114,\"values\":[{\"value\":true}]}]}","options":{"response":{"response":{"fullResponse":false}}}},"id":"http-parar-ia","name":"PATCH Lead PARAR IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"output-result","name":"result","value":"IA pausada com sucesso. Atendimento humano ativado.","type":"string"}]},"options":{}},"id":"output-parar-ia","name":"Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,300]}],"connections":{"Input":{"main":[[{"node":"PATCH Lead PARAR IA","type":"main","index":0}]]},"PATCH Lead PARAR IA":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4341268a-b471-4d12-ac8a-1462f3150d14","activeVersionId":null,"versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-02-28T15:50:22.850Z","createdAt":"2026-02-28T15:50:22.850Z","role":"workflow:owner","workflowId":"D6MInh0Gn5sMIDn3","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[],"activeVersion":null}