docs/templates/kommo/tool-registrar-lead.json
{"updatedAt":"2026-02-24T00:32:47.601Z","createdAt":"2025-09-11T04:35:23.617Z","id":"n4fh9fDcN3tWDKfL","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Tool registrar_novo_lead_crm","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"nome"},{"name":"cnpj/cpf"},{"name":"segmento"},{"name":"cidade"},{"name":"estado"},{"name":"interesse"},{"name":"observacao"}]}},"id":"139646f9-99fa-48bd-8557-e856fa11fb29","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-256,-16]},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86094863}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-32,-16],"id":"38e0deaf-bf43-488e-b0c8-e1676209add8","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `registrar_novo_lead_crm`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[416,-16],"id":"33d9944a-8296-44a7-82e7-21d2fd0c0d0b","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[496,208],"id":"6f67739c-a075-4d14-bf82-4cc1f4ae2ced","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,-16],"id":"f8db5926-372b-4561-8f0b-7c6aa5861bdc","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Registro de Novo Lead\n\n**Data/Hora:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\n### Dados do Lead Registrado no CRM\n\n**Nome do Contato:** {{ $('Meta').item.json.nome }}\n**CNPJ:** {{ $('Meta').item.json.cnpj }}\n**Segmento:** {{ $('Meta').item.json.segmento }}\n**Localização:** {{ $('Meta').item.json.cidade }} - {{ $('Meta').item.json.estado }}\n**Interesse Inicial:** {{ $('Meta').item.json.interesse }}\n**Observação Interna:** Lead gerado via assistente Gus para pré-cadastro.\n\nSiga o fluxo de atendimento normalmente sem mencionar nada sobre a execução dessa tool.\n---\n\n**Fim do relatório de registro de lead.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-16],"id":"20eb08d1-a2af-4638-84a1-76ad43e3b0fa","name":"Edit Fields"}],"connections":{"Meta":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Meta":[{"json":{"lead_id":"10800142","contact_id":"15369938","pipeline_id":"11009339","nome":"Ana","cnpj":"","segmento":"restaurante","cidade":"Salvador","estado":"BA","interesse":"","observacao":"Lead gerado via Clara (pré-cadastro rápido)"}}]},"versionId":"75189b9d-017f-4628-bfdc-e742dc770196","activeVersionId":"75189b9d-017f-4628-bfdc-e742dc770196","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T03:43:06.382Z","createdAt":"2026-02-17T03:43:06.382Z","role":"workflow:owner","workflowId":"n4fh9fDcN3tWDKfL","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[{"updatedAt":"2026-02-17T03:18:57.883Z","createdAt":"2026-02-17T03:18:57.883Z","id":"cOcC7X58PqF33Dn7","name":"TRIADEFLOW"}],"activeVersion":{"updatedAt":"2026-02-24T01:13:36.194Z","createdAt":"2025-12-28T16:48:56.237Z","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","workflowId":"n4fh9fDcN3tWDKfL","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"nome"},{"name":"cnpj/cpf"},{"name":"segmento"},{"name":"cidade"},{"name":"estado"},{"name":"interesse"},{"name":"observacao"}]}},"id":"139646f9-99fa-48bd-8557-e856fa11fb29","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-256,-16]},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86094863}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-32,-16],"id":"38e0deaf-bf43-488e-b0c8-e1676209add8","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `registrar_novo_lead_crm`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[416,-16],"id":"33d9944a-8296-44a7-82e7-21d2fd0c0d0b","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[496,208],"id":"6f67739c-a075-4d14-bf82-4cc1f4ae2ced","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,-16],"id":"f8db5926-372b-4561-8f0b-7c6aa5861bdc","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Registro de Novo Lead\n\n**Data/Hora:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\n### Dados do Lead Registrado no CRM\n\n**Nome do Contato:** {{ $('Meta').item.json.nome }}\n**CNPJ:** {{ $('Meta').item.json.cnpj }}\n**Segmento:** {{ $('Meta').item.json.segmento }}\n**Localização:** {{ $('Meta').item.json.cidade }} - {{ $('Meta').item.json.estado }}\n**Interesse Inicial:** {{ $('Meta').item.json.interesse }}\n**Observação Interna:** Lead gerado via assistente Gus para pré-cadastro.\n\nSiga o fluxo de atendimento normalmente sem mencionar nada sobre a execução dessa tool.\n---\n\n**Fim do relatório de registro de lead.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-16],"id":"20eb08d1-a2af-4638-84a1-76ad43e3b0fa","name":"Edit Fields"}],"connections":{"Meta":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"authors":"system migration","name":"Version 75189b9d","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-10-01T16:15:35.419Z","id":11,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":null},{"createdAt":"2026-02-17T01:43:35.898Z","id":88,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T01:13:36.173Z","id":510,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T01:59:49.556Z","id":130,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T02:21:17.356Z","id":169,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:51:09.068Z","id":217,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:53:46.474Z","id":258,"workflowId":"n4fh9fDcN3tWDKfL","versionId":"75189b9d-017f-4628-bfdc-e742dc770196","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}