docs/templates/kommo/tool-consultar-cliente.json
{"updatedAt":"2026-02-24T00:33:10.498Z","createdAt":"2025-09-11T03:41:08.043Z","id":"sobFmTwcoV7qW8qO","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Tool consultar_cliente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"nome_cliente"},{"name":"nome_estabelecimento"}]}},"id":"65a28cc3-e89e-4f24-9390-7b8516ed95fc","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-224,64]},{"parameters":{"resource":"contacts","filter":{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"contact_id\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-16,64],"id":"8daa84be-9c1a-47f2-8ba1-64d754da4892","name":"cadastro_kommo","retryOnFail":true,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718c928f-4590-4af7-b2ec-f25bf86b92da","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,64],"id":"a156a87a-c05a-4d4f-8c77-1c7f34271f4f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Status: Cliente Não Encontrado \n\n**Contexto:** A consulta não retornou um cliente existente.\n\n**Ação Recomendada para a IA :** Iniciar o fluxo de pré-cadastro RÁPIDO. O objetivo é apenas capturar o contato para a equipe de vendas.\n\n1.  **Posicionamento:** Tom de boas-vindas, como um novo parceiro.\n\n    * **Ação Interna:** Chame a nova ferramenta `registrar_novo_lead_crm` com os dados coletados.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,208],"id":"ce3ac499-58ac-4755-a7b4-da88325ae0f3","name":"Edit Fields1"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `consultar_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[800,-208],"id":"73289d5c-4869-419c-ab6b-888a478abecb","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[880,32],"id":"4a1636e1-757d-4b85-bc9d-10179b1e96ee","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `consultar_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[800,208],"id":"9ae22fe3-a294-484e-8674-47b776bca9c7","name":"Chat Memory Manager1"},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-144],"id":"dd1dc5f9-23cb-4e3b-b68b-3c76494eec13","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,208],"id":"3eb0454a-116b-413e-bb5a-45767a32a574","name":"output3"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Ficha de Cliente para Atendimento\n\n**Cliente:** {{ $json.nome_parceiro }} ({{ $json.razao_social }})\n**CNPJ/CPF:** {{ $json.cnpj_cpf }}\n**Localização:** {{ $json.endereco }} {{ $json.numero_endereco }}, {{ $json.bairro }} - {{ $json.cidade }}\n**CEP:** {{ $json.cep }}\n**Tipo Pessoa:** {{ $json.tipo_pessoa === 'J' ? 'Pessoa Jurídica' : 'Pessoa Física' }}\n**Observações:** {{ $json.observacoes }}\n---\n\nFim do briefing do cliente.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-96],"id":"240c760b-a1cd-4fcc-a0c3-9622b33e83c9","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"clientes_ativos_petiscos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value.replace('+55','') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,64],"id":"fd2acdf8-f7b2-43b9-bcb0-ea4826df8ac0","name":"busca_base","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}}],"connections":{"cadastro_kommo":{"main":[[{"node":"busca_base","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Chat Memory Manager1","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0},{"node":"Chat Memory Manager1","type":"ai_memory","index":0}]]},"Chat Memory Manager1":{"main":[[{"node":"output3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Meta":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"busca_base":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Meta":[{"json":{"lead_id":"10800142","contact_id":"21194458","pipeline_id":"11009339","nome_cliente":"teste-01","nome_estabelecimento":"teste"}}],"busca_base":[{"json":{"id":1,"codigo_parceiro":null,"codigo_sistema_antigo":"11","nome_parceiro":"ACROPOLE BULLEVARD","razao_social":"ACN BULLEVARD EMPREENDIMENTOS LTDA","tipo_pessoa":"J","eh_cliente":true,"eh_fornecedor":false,"eh_transportadora":false,"eh_vendedor":false,"eh_agencia":false,"eh_usuario":false,"eh_medico":false,"eh_agronomo":false,"eh_motorista":false,"cnpj_cpf":"39843103000159","inscricao_estadual_identidade":"003900305.00-15","cep":"38405-238","endereco":"RUA JOSÉ REZENDE","numero_endereco":"4152","complemento":null,"bairro":"CUSTÓDIO PEREIRA","cidade":" UBERLÂNDIA","telefone":"3491117823","email":null,"observacoes":"NF - BOLETO 14 DIAS / ENTREGAS SOMENTE ATÉ ÁS 17HS"}}]},"versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","activeVersionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T03:43:04.390Z","createdAt":"2026-02-17T03:43:04.390Z","role":"workflow:owner","workflowId":"sobFmTwcoV7qW8qO","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[{"updatedAt":"2026-02-17T03:18:57.883Z","createdAt":"2026-02-17T03:18:57.883Z","id":"cOcC7X58PqF33Dn7","name":"TRIADEFLOW"}],"activeVersion":{"updatedAt":"2026-02-24T01:13:21.804Z","createdAt":"2025-12-28T16:48:56.237Z","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","workflowId":"sobFmTwcoV7qW8qO","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"nome_cliente"},{"name":"nome_estabelecimento"}]}},"id":"65a28cc3-e89e-4f24-9390-7b8516ed95fc","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-224,64]},{"parameters":{"resource":"contacts","filter":{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"contact_id\"] }}"},"options":{},"limit":1},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-16,64],"id":"8daa84be-9c1a-47f2-8ba1-64d754da4892","name":"cadastro_kommo","retryOnFail":true,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718c928f-4590-4af7-b2ec-f25bf86b92da","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,64],"id":"a156a87a-c05a-4d4f-8c77-1c7f34271f4f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Status: Cliente Não Encontrado \n\n**Contexto:** A consulta não retornou um cliente existente.\n\n**Ação Recomendada para a IA :** Iniciar o fluxo de pré-cadastro RÁPIDO. O objetivo é apenas capturar o contato para a equipe de vendas.\n\n1.  **Posicionamento:** Tom de boas-vindas, como um novo parceiro.\n\n    * **Ação Interna:** Chame a nova ferramenta `registrar_novo_lead_crm` com os dados coletados.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,208],"id":"ce3ac499-58ac-4755-a7b4-da88325ae0f3","name":"Edit Fields1"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `consultar_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[800,-208],"id":"73289d5c-4869-419c-ab6b-888a478abecb","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[880,32],"id":"4a1636e1-757d-4b85-bc9d-10179b1e96ee","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `consultar_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[800,208],"id":"9ae22fe3-a294-484e-8674-47b776bca9c7","name":"Chat Memory Manager1"},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-144],"id":"dd1dc5f9-23cb-4e3b-b68b-3c76494eec13","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,208],"id":"3eb0454a-116b-413e-bb5a-45767a32a574","name":"output3"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Ficha de Cliente para Atendimento\n\n**Cliente:** {{ $json.nome_parceiro }} ({{ $json.razao_social }})\n**CNPJ/CPF:** {{ $json.cnpj_cpf }}\n**Localização:** {{ $json.endereco }} {{ $json.numero_endereco }}, {{ $json.bairro }} - {{ $json.cidade }}\n**CEP:** {{ $json.cep }}\n**Tipo Pessoa:** {{ $json.tipo_pessoa === 'J' ? 'Pessoa Jurídica' : 'Pessoa Física' }}\n**Observações:** {{ $json.observacoes }}\n---\n\nFim do briefing do cliente.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-96],"id":"240c760b-a1cd-4fcc-a0c3-9622b33e83c9","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"clientes_ativos_petiscos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value.replace('+55','') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,64],"id":"fd2acdf8-f7b2-43b9-bcb0-ea4826df8ac0","name":"busca_base","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}}],"connections":{"cadastro_kommo":{"main":[[{"node":"busca_base","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Chat Memory Manager1","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0},{"node":"Chat Memory Manager1","type":"ai_memory","index":0}]]},"Chat Memory Manager1":{"main":[[{"node":"output3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Meta":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"busca_base":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"system migration","name":"Version 9a5eaea6","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-28T13:17:00.660Z","id":30,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":null},{"createdAt":"2026-02-17T01:43:32.479Z","id":81,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T01:13:21.799Z","id":509,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T01:59:43.623Z","id":122,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T02:21:11.881Z","id":161,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:51:03.917Z","id":209,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:53:44.322Z","id":249,"workflowId":"sobFmTwcoV7qW8qO","versionId":"9a5eaea6-926a-4c1e-947b-4c88226f4801","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}