docs/templates/kommo/tool-marcar-como-cliente.json
{"updatedAt":"2026-02-24T01:14:24.937Z","createdAt":"2025-09-28T15:30:30.683Z","id":"kQlc3mQ6sEIBH1ja","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Tool marcar_como_cliente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"telefone"},{"name":"nome"},{"name":"endereco"},{"name":"razao_social"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b24892e7-a96e-4703-a913-20913c3f5817","name":"input"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"input\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86101559}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[192,0],"id":"a4dcbbbb-5292-4f74-9f0b-d523029d6fd7","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"clientes_ativos_petiscos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('input').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,0],"id":"3f214d08-7253-40a9-99cd-385bf0fff17e","name":"get_client","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a3d0cf4-8411-423f-ba2a-c189c083e70f","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,0],"id":"e41edabb-7bdf-44a8-8b4d-9be88eb6cda1","name":"cliente_existe?"},{"parameters":{"tableId":"clientes_ativos_petiscos","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('input').item.json.telefone }}"},{"fieldId":"eh_cliente","fieldValue":"={{ true }}"},{"fieldId":"nome_parceiro","fieldValue":"={{ $('input').item.json?.nome || \" \" }}"},{"fieldId":"razao_social","fieldValue":"={{ $('input').item.json?.razao_social || \" \" }}"},{"fieldId":"endereco","fieldValue":"={{ $('input').item.json?.endereco || \" \" }}"},{"fieldId":"eh_fornecedor","fieldValue":"={{ false }}"},{"fieldId":"eh_motorista","fieldValue":"={{ false }}"},{"fieldId":"eh_transportadora","fieldValue":"={{ false }}"},{"fieldId":"eh_agencia","fieldValue":"={{ false }}"},{"fieldId":"eh_vendedor","fieldValue":"={{ false }}"},{"fieldId":"eh_usuario","fieldValue":"={{ false }}"},{"fieldId":"eh_medico","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,0],"id":"05c877d0-8568-4483-9083-52ccd945f48f","name":"create_client","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `marcar_como_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1248,0],"id":"341c8f9a-a352-479a-9ec2-34f9d6c7077e","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('input').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1312,224],"id":"c0187bed-a398-4469-b200-593575674f51","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,0],"id":"19e501f4-4717-420a-afcb-27e68371ed33","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Marco de Lead como Cliente\n\n**Data/Hora:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\nO lead do cliente foi marcado como um cliente no CRM. Siga o fluxo de atendimento normalmente sem mencionar nada sobre a execução dessa tool.\n---\n\n**Fim do relatório de registro de lead.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,0],"id":"1f25187c-762c-4ccc-a133-f31040f44df2","name":"Edit Fields"}],"connections":{"input":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"get_client","type":"main","index":0}]]},"get_client":{"main":[[{"node":"cliente_existe?","type":"main","index":0}]]},"cliente_existe?":{"main":[[],[{"node":"create_client","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"create_client":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"input":[{"json":{"lead_id":"14169314","contact_id":"21774742","pipeline_id":"11219503","telefone":"556196012503","nome":"Alexandre Silva Pires Cavalcanti","endereco":"Águas Claras, DF","razao_social":"Pitstop"}}]},"versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","activeVersionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T03:43:05.041Z","createdAt":"2026-02-17T03:43:05.041Z","role":"workflow:owner","workflowId":"kQlc3mQ6sEIBH1ja","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[{"updatedAt":"2026-02-17T03:18:57.883Z","createdAt":"2026-02-17T03:18:57.883Z","id":"cOcC7X58PqF33Dn7","name":"TRIADEFLOW"}],"activeVersion":{"updatedAt":"2026-02-24T01:14:45.435Z","createdAt":"2025-12-28T16:48:56.237Z","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","workflowId":"kQlc3mQ6sEIBH1ja","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"telefone"},{"name":"nome"},{"name":"endereco"},{"name":"razao_social"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b24892e7-a96e-4703-a913-20913c3f5817","name":"input"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"input\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86101559}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[192,0],"id":"a4dcbbbb-5292-4f74-9f0b-d523029d6fd7","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"clientes_ativos_petiscos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('input').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,0],"id":"3f214d08-7253-40a9-99cd-385bf0fff17e","name":"get_client","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a3d0cf4-8411-423f-ba2a-c189c083e70f","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,0],"id":"e41edabb-7bdf-44a8-8b4d-9be88eb6cda1","name":"cliente_existe?"},{"parameters":{"tableId":"clientes_ativos_petiscos","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('input').item.json.telefone }}"},{"fieldId":"eh_cliente","fieldValue":"={{ true }}"},{"fieldId":"nome_parceiro","fieldValue":"={{ $('input').item.json?.nome || \" \" }}"},{"fieldId":"razao_social","fieldValue":"={{ $('input').item.json?.razao_social || \" \" }}"},{"fieldId":"endereco","fieldValue":"={{ $('input').item.json?.endereco || \" \" }}"},{"fieldId":"eh_fornecedor","fieldValue":"={{ false }}"},{"fieldId":"eh_motorista","fieldValue":"={{ false }}"},{"fieldId":"eh_transportadora","fieldValue":"={{ false }}"},{"fieldId":"eh_agencia","fieldValue":"={{ false }}"},{"fieldId":"eh_vendedor","fieldValue":"={{ false }}"},{"fieldId":"eh_usuario","fieldValue":"={{ false }}"},{"fieldId":"eh_medico","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,0],"id":"05c877d0-8568-4483-9083-52ccd945f48f","name":"create_client","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"la6aLIuYhYd1ZjP2","name":"Supabase Petiscos Alimentos"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `marcar_como_cliente`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1248,0],"id":"341c8f9a-a352-479a-9ec2-34f9d6c7077e","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('input').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1312,224],"id":"c0187bed-a398-4469-b200-593575674f51","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,0],"id":"19e501f4-4717-420a-afcb-27e68371ed33","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Marco de Lead como Cliente\n\n**Data/Hora:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\nO lead do cliente foi marcado como um cliente no CRM. Siga o fluxo de atendimento normalmente sem mencionar nada sobre a execução dessa tool.\n---\n\n**Fim do relatório de registro de lead.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,0],"id":"1f25187c-762c-4ccc-a133-f31040f44df2","name":"Edit Fields"}],"connections":{"input":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"get_client","type":"main","index":0}]]},"get_client":{"main":[[{"node":"cliente_existe?","type":"main","index":0}]]},"cliente_existe?":{"main":[[],[{"node":"create_client","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"create_client":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":"Version 3986f15a","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-10-01T16:14:28.526Z","id":32,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":null},{"createdAt":"2026-02-17T01:43:33.755Z","id":84,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T01:14:45.384Z","id":512,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T01:59:45.760Z","id":125,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T02:21:14.027Z","id":164,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:51:05.795Z","id":212,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:53:45.072Z","id":252,"workflowId":"kQlc3mQ6sEIBH1ja","versionId":"3986f15a-b803-49a0-a876-ef5d56c485f8","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}