docs/templates/kommo/tool-registrar-pedido.json
{"updatedAt":"2026-02-24T00:32:13.981Z","createdAt":"2025-09-11T04:25:53.481Z","id":"seodDnC1htaLRxP2","name":"[TRIADEFLOW] [PETISCOS ALIMENTOS] Tool registra_pedido_crm","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"itens"},{"name":"valor_total"},{"name":"texto_pedido"},{"name":"observacoes"}]}},"id":"4b515ddd-93e0-429e-a7c5-c6e218bc0f1f","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,-80]},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `registrar_pedido_crm`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[448,-80],"id":"a92a0dcc-07da-4e57-a7da-732cf5c58bb5","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[528,144],"id":"583579b3-dec3-4015-a4f8-16ad59cf182f","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-80],"id":"a8ef0741-50b1-4d76-bbb2-65f925b92e99","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Registro de Pedido no CRM\n\n**Data/Hora do Registro:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\n### Resumo do Pedido Enviado\n\n**Nº de Itens Registrados:** {{ $('itens').item.json.itens.length }}\n**Valor Total (Produtos) Registrado:** R$ {{ $('Meta').item.json.valor_total }}\n**Observações Enviadas:** {{ $('Meta').item.json.observacoes }}\n---\n\n### Confirmação do Texto do Pedido\n\n**Confirmação:** O texto completo do pedido, no \"FORMATO 3\", foi salvo com sucesso no campo de notas do CRM para referência da equipe comercial.\n---\n\n### Próximo Passo para a IA\n\n**Ação Obrigatória:** A transação foi concluída com sucesso. Prossiga **imediatamente** com a mensagem de encerramento final, conforme definido no **PASSO 4** do seu prompt. Informe ao cliente que o pedido foi encaminhado ao setor comercial e agradeça o contato.\n\n**NÃO FAÇA NOVAS PERGUNTAS. NÃO SOLICITE MAIS NENHUMA AÇÃO DO CLIENTE. Apenas finalize o atendimento.**\n\n**Fim do relatório de registro de pedido.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-80],"id":"9ea00c79-d2be-4902-8031-da8fb135677a","name":"Edit Fields"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86094871,"custom_fields_values":{"custom_field":[{"data":"{\"id\":1110392,\"type\":\"textarea\"}","value":"={{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_sem_emoji\"] }}"},{"data":"{\"id\":1110394,\"type\":\"textarea\"}","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"observacoes\"] }}"},{"data":"{\"id\":1093322,\"type\":\"select\"}","value":"Sim"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-448,-80],"id":"fb7da535-6303-4633-93ba-5406c28f268b","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b6b0c729-4a38-47ff-b9ec-e52945257264","name":"itens","value":"={{ $json.itens }}","type":"array"},{"id":"f3024f48-e726-47f8-a6f5-ccbbfe871d53","name":"texto_pedido_sem_emoji","value":"={{ (() => {\n  const raw = $item(0).$node[\"Meta\"].json[\"texto_pedido\"] || \"\";\n  return raw\n    .normalize('NFC')\n    .replace(/\\r\\n/g, '\\n')\n    // remove emojis, ZWJ e variation selectors\n    .replace(/[\\p{Extended_Pictographic}\\u200D\\uFE0E\\uFE0F\\u{1F3FB}-\\u{1F3FF}]/gu, '')\n    // opcional: seu saneamento já existente\n    .replace(/\\*\\*(.+?)\\*\\*/g, (_, m) => m.toUpperCase())\n    .replace(/\\*(.+?)\\*/g, '$1');\n})() }}","type":"string"},{"id":"8337b1f5-8b55-42f1-b86d-7447e3a38a3c","name":"texto_pedido_json","value":"={{ (() => {\n  const raw = $item(0).$node[\"Meta\"].json[\"texto_pedido\"] || \"\";\n  return raw\n    .normalize('NFC')\n    .replace(/\\r\\n/g, '\\n')\n    // remove emojis, ZWJ e variation selectors\n    .replace(/[\\p{Extended_Pictographic}\\u200D\\uFE0E\\uFE0F\\u{1F3FB}-\\u{1F3FF}]/gu, '')\n.replace(/\\r?\\n/g, \"\\\\n\");\n})() }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,-80],"id":"700c67f5-24cb-4278-8f64-edcd8b6e2e36","name":"itens","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v4/leads/notes","authentication":"predefinedCredentialType","nodeCredentialType":"kommoOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"note_type\": \"common\",\n    \"params\": {\n      \"text\": \"{{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_json\"] }}\"\n    },\n    \"entity_id\": {{ $('Meta').item.json.lead_id }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-80],"id":"f6248f48-5911-4ffe-bd9b-d6c3d174758a","name":"cria_nota_pedido","alwaysOutputData":true,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"={{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_json\"] }}","complete_till":"={{ new Date(Date.parse($now)) }}","entity_id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}"}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[0,-80],"id":"52bc9075-c7c3-4c4d-8ec5-b583d4b88642","name":"cria_atividade","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"}],"connections":{"Meta":{"main":[[{"node":"itens","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"cria_nota_pedido","type":"main","index":0}]]},"itens":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cria_nota_pedido":{"main":[[{"node":"cria_atividade","type":"main","index":0}]]},"cria_atividade":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"qNdqEPuTbTdx0oiT","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Meta":[{"json":{"lead_id":"13510664","contact_id":"21070872","pipeline_id":"11219503","itens":"[{\"id_produto\":159,\"nome\":\"Coxinha\",\"quantidade\":2,\"valor_unitario\":16.10},{\"id_produto\":116,\"nome\":\"Mini Maia Recheada\",\"quantidade\":3,\"valor_unitario\":20.15}]","valor_total":"92.65","texto_pedido":"Pedido confirmado por Fábio: 2 bandejas Coxinha (40 un) e 3 embalagens Mini Maia Recheada (45 un). Subtotal R$92,65.","observacoes":"Cliente: Fábio Cavalcanti (lead id 13510664). CNPJ: 88877333122. Cidade: Brasília/DF. Pedido registrado via Gus."}}]},"versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","activeVersionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T03:43:06.649Z","createdAt":"2026-02-17T03:43:06.649Z","role":"workflow:owner","workflowId":"seodDnC1htaLRxP2","projectId":"VdJWQKp0qvD4GFRu","project":{"updatedAt":"2025-08-11T11:49:09.971Z","createdAt":"2025-07-11T16:58:22.372Z","id":"VdJWQKp0qvD4GFRu","name":"Alex Campos <login@triadeflow.com.br>","type":"personal","icon":null,"description":null,"creatorId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}}],"tags":[{"updatedAt":"2026-02-17T03:18:57.883Z","createdAt":"2026-02-17T03:18:57.883Z","id":"cOcC7X58PqF33Dn7","name":"TRIADEFLOW"}],"activeVersion":{"updatedAt":"2026-02-24T01:13:50.619Z","createdAt":"2025-12-28T16:48:56.237Z","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","workflowId":"seodDnC1htaLRxP2","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"contact_id"},{"name":"pipeline_id"},{"name":"itens"},{"name":"valor_total"},{"name":"texto_pedido"},{"name":"observacoes"}]}},"id":"4b515ddd-93e0-429e-a7c5-c6e218bc0f1f","typeVersion":1.1,"name":"Meta","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,-80]},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Chamada de tool `registrar_pedido_crm`, resultado:\n{{ $json.response }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[448,-80],"id":"a92a0dcc-07da-4e57-a7da-732cf5c58bb5","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer-{{ $('Meta').first().json.lead_id }}","sessionTTL":"={{ 60 * 60 * 24 }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[528,144],"id":"583579b3-dec3-4015-a4f8-16ad59cf182f","name":"redis","credentials":{"redis":{"id":"FTOjffpagy2kLyFk","name":"Triadeflow - Petiscos ALimentos"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbc2400-6ba6-4303-b624-73e7a7120f8e","name":"response","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"response\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-80],"id":"a8ef0741-50b1-4d76-bbb2-65f925b92e99","name":"output2"},{"parameters":{"assignments":{"assignments":[{"id":"25717b06-2fe2-4f62-9bb0-bdf622ba902f","name":"response","value":"=### Relatório de Registro de Pedido no CRM\n\n**Data/Hora do Registro:** {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n---\n\n### Resumo do Pedido Enviado\n\n**Nº de Itens Registrados:** {{ $('itens').item.json.itens.length }}\n**Valor Total (Produtos) Registrado:** R$ {{ $('Meta').item.json.valor_total }}\n**Observações Enviadas:** {{ $('Meta').item.json.observacoes }}\n---\n\n### Confirmação do Texto do Pedido\n\n**Confirmação:** O texto completo do pedido, no \"FORMATO 3\", foi salvo com sucesso no campo de notas do CRM para referência da equipe comercial.\n---\n\n### Próximo Passo para a IA\n\n**Ação Obrigatória:** A transação foi concluída com sucesso. Prossiga **imediatamente** com a mensagem de encerramento final, conforme definido no **PASSO 4** do seu prompt. Informe ao cliente que o pedido foi encaminhado ao setor comercial e agradeça o contato.\n\n**NÃO FAÇA NOVAS PERGUNTAS. NÃO SOLICITE MAIS NENHUMA AÇÃO DO CLIENTE. Apenas finalize o atendimento.**\n\n**Fim do relatório de registro de pedido.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-80],"id":"9ea00c79-d2be-4902-8031-da8fb135677a","name":"Edit Fields"},{"parameters":{"resource":"leads","operation":"updateLeads","collection":{"lead":[{"id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}","name":"=","pipeline_id":11219503,"status_id":86094871,"custom_fields_values":{"custom_field":[{"data":"{\"id\":1110392,\"type\":\"textarea\"}","value":"={{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_sem_emoji\"] }}"},{"data":"{\"id\":1110394,\"type\":\"textarea\"}","value":"={{ $item(\"0\").$node[\"Meta\"].json[\"observacoes\"] }}"},{"data":"{\"id\":1093322,\"type\":\"select\"}","value":"Sim"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-448,-80],"id":"fb7da535-6303-4633-93ba-5406c28f268b","name":"cadastro_kommo","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b6b0c729-4a38-47ff-b9ec-e52945257264","name":"itens","value":"={{ $json.itens }}","type":"array"},{"id":"f3024f48-e726-47f8-a6f5-ccbbfe871d53","name":"texto_pedido_sem_emoji","value":"={{ (() => {\n  const raw = $item(0).$node[\"Meta\"].json[\"texto_pedido\"] || \"\";\n  return raw\n    .normalize('NFC')\n    .replace(/\\r\\n/g, '\\n')\n    // remove emojis, ZWJ e variation selectors\n    .replace(/[\\p{Extended_Pictographic}\\u200D\\uFE0E\\uFE0F\\u{1F3FB}-\\u{1F3FF}]/gu, '')\n    // opcional: seu saneamento já existente\n    .replace(/\\*\\*(.+?)\\*\\*/g, (_, m) => m.toUpperCase())\n    .replace(/\\*(.+?)\\*/g, '$1');\n})() }}","type":"string"},{"id":"8337b1f5-8b55-42f1-b86d-7447e3a38a3c","name":"texto_pedido_json","value":"={{ (() => {\n  const raw = $item(0).$node[\"Meta\"].json[\"texto_pedido\"] || \"\";\n  return raw\n    .normalize('NFC')\n    .replace(/\\r\\n/g, '\\n')\n    // remove emojis, ZWJ e variation selectors\n    .replace(/[\\p{Extended_Pictographic}\\u200D\\uFE0E\\uFE0F\\u{1F3FB}-\\u{1F3FF}]/gu, '')\n.replace(/\\r?\\n/g, \"\\\\n\");\n})() }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,-80],"id":"700c67f5-24cb-4278-8f64-edcd8b6e2e36","name":"itens","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://petiscosalimentos.kommo.com/api/v4/leads/notes","authentication":"predefinedCredentialType","nodeCredentialType":"kommoOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"note_type\": \"common\",\n    \"params\": {\n      \"text\": \"{{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_json\"] }}\"\n    },\n    \"entity_id\": {{ $('Meta').item.json.lead_id }}\n  }\n]","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-80],"id":"f6248f48-5911-4ffe-bd9b-d6c3d174758a","name":"cria_nota_pedido","alwaysOutputData":true,"credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"={{ $item(\"0\").$node[\"itens\"].json[\"texto_pedido_json\"] }}","complete_till":"={{ new Date(Date.parse($now)) }}","entity_id":"={{ $item(\"0\").$node[\"Meta\"].json[\"lead_id\"] }}"}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[0,-80],"id":"52bc9075-c7c3-4c4d-8ec5-b583d4b88642","name":"cria_atividade","credentials":{"kommoOAuth2Api":{"id":"QAJ1KnfMl8WM81am","name":"Kommo - Petiscos Alimentos"}},"onError":"continueRegularOutput"}],"connections":{"Meta":{"main":[[{"node":"itens","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"output2","type":"main","index":0}]]},"redis":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"cadastro_kommo":{"main":[[{"node":"cria_nota_pedido","type":"main","index":0}]]},"itens":{"main":[[{"node":"cadastro_kommo","type":"main","index":0}]]},"cria_nota_pedido":{"main":[[{"node":"cria_atividade","type":"main","index":0}]]},"cria_atividade":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":"Version 65dc8811","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-11T05:34:10.534Z","id":12,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":null},{"createdAt":"2026-02-17T01:43:36.216Z","id":89,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-24T01:13:50.590Z","id":511,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T01:59:50.153Z","id":131,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T02:21:17.912Z","id":170,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:51:09.553Z","id":218,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"activated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"},{"createdAt":"2026-02-17T03:53:46.708Z","id":259,"workflowId":"seodDnC1htaLRxP2","versionId":"65dc8811-7dd4-4e08-ac57-fef522f332e8","event":"deactivated","userId":"02dc3e57-f47e-416d-9dba-64d23a8976d7"}]}}